[2015-12-04 04:48] bdkent opened #1 "recommended way to start tour programmatically"
What is the recommended way to start tour programmatically?

For example if I want to start the tour 1 or two second after the page loads?

[2015-12-05 02:02] benmarch commented on #1
Hey @bdkent, I think right now the only way would be to access the scope (or child scope) that the tour is on, and in a $timeout call scope.tour.start().

If you have a suggestion for another way to do it (events or service possibly) please let me know.

[2015-12-05 03:28] bdkent commented on #1
What if the `ui-tour` had an attribute that acted as a callback function once the `tour` object was initialized? That should be enough of a hook to let someone write their own `$timeout` or whatever.

My current hacky work-around is a [silly directive](https://gist.github.com/bdkent/ddb200bb465fb78333e7) but I would love a better solution!

[2015-12-05 18:00] #1 closed

[2015-12-05 18:16] benmarch commented on #1
I added a hook for onReady that is called immediately after the tour is initialized and attached to the scope. Since all events are evaluated against the tour's scope you can pass the tour itself into the onReady handler so you don't have to try to access it indirectly:

    <div ui-tour on-ready="onTourReady(tour)"...>
        <div tour-step ui-tour-title="No Silly Directive" ui-tour-content="No

[2015-12-07 09:32] piernik opened #2 "Can't get it working"
Can You provide a simpliest  codepen demo?

[2015-12-07 17:21] benmarch commented on #2
Hey @piernik have you looked into the demo in the repo yet? https://github.com/benmarch/angular-ui-tour/tree/master/demo

[2015-12-08 07:56] piernik commented on #2
Yes I did and still can't get it working - link to working demo in readme would be great.

[2015-12-09 03:49] benmarch commented on #2
I've created a simple codepen for you: http://codepen.io/anon/pen/JGoqNq

If you can paste here some of you code and/or any errors you are getting I can try to help you.

[2015-12-09 08:03] piernik commented on #2
Thanks. I was looking for  `tour.start()`. It's not mentioned in readme.

Is it possible to start tour with service?

I've got problem. Here is code pen:
http://codepen.io/piernik/pen/pgvMrE

As You see order is wrong as well as second step

[2015-12-09 18:39] benmarch commented on #2
Yeah it looks like the order is getting messed up, I will open another ticket for that. The orphan steps haven't been implemented yet (see the README). I am going to close this out and create 2 more tickets: 1 for fixing the order, and one for documenting the Tour API. I should be able to get to it this weekend.

[2015-12-09 18:39] #2 closed

[2015-12-09 18:44] benmarch opened #3 "Fix issue with step ordering"
Looks like having nested steps might affect the order but it shouldn't.

[2015-12-09 18:44] benmarch opened #4 "Document the Tour API"
The directive APIs are documented, but the Tour API is not.

[2015-12-19 09:12] kiranbinmaygh opened #5 "uiTour doesn't work for views dynamically loaded."
Hi,

I have a scenario like this and I found that uiTour is not working for me:

* A layout page with ui-tour directive set on <body>
* A view gets loaded in the body that has a side menu and the content area.
* My side menu has a controller and the content area has another controller.
* I want a button on the content area that should trigger the tour and I plan to define a `<div>` with ui-tour se

[2015-12-24 07:48] piernik commented on #3
Any news on this?

[2015-12-28 10:33] nasy opened #6 "How to open tour on page load?"
Hi,

First of all thank you for this project, it is very useful.

However I need to launch the tour based on a controller variable received from the server.

Something like this:

$scope.loadSettings = function() {

   if($scope.launch_tour == true){
      tour.restart(true);
   }
};

Tried different things but no luck so far. Any ideas?

[2016-01-04 10:01] nasy commented on #6
Hey guys, still struggling to find a solution for this. Any suggestions?

[2016-01-04 20:08] benmarch commented on #5
Hi Kiran,

Very sorry for the delay, I just got back from a long vacation. It looks to me like the tour is starting before any tour steps are loaded since "undefined" should be the first step in the tour. Check to make sure that the steps are loaded into the DOM before starting. Since there are no other errors, I am assuming that the steps are _not_ nested within a directive that requires an isola

[2016-01-04 20:12] benmarch commented on #6
Sorry for the delay, I just got back from a long vacation. Looks like you are using the API from Bootstrap Tour, try using `tour.start()` instead. The tour object is added to the scope of the element that declares it, but you can also set an onReady callback and capture the tour object there (see #1).

[2016-01-05 16:58] nasy commented on #6
Hope you enjoyed the vacation. :) I finally changed the design and now i am using a button to trigger the start event. Thanks anyway.

[2016-01-05 19:13] benmarch commented on #6
Thanks @nasy! I'm going to close this one, but I do have a plan to create a service that will expose all available tours to DI. So if you decide to change the design back you will have the option to handle that behavior outside of a controller.

[2016-01-05 19:13] #6 closed

[2016-01-15 11:11] piernik commented on #3
Hello?

[2016-01-15 15:10] #3 closed

[2016-01-15 15:13] benmarch commented on #3
@piernik I'm so sorry for the long delay, I had a fix for it a while ago but never committed it. I have created a prerelease for you to test, and if that works I will do a full release. Please use version 0.0.3-rc.1 to test the changes and let me know if it works.

[2016-02-15 03:39] blairmotchan opened #7 "using the tour with a page that has <form ng-submit="someMethod()"> will call someMethod on onEnd and onPause events"
removing the ng-submit form the form tag and then using the ng-click="someMethod" elsewhere in my form solved the problem.  However, I wanted to point it to other potential users.

[2016-02-24 18:09] ansy opened #8 "There's currently no way of disabling tour steps."
The code below fails because the 2nd step disregards the enabled flag ('tour-step-enable').

    <div class="col-md-4" tour-step order="1" data-tour-step-enable="false" title="YEP" content="SURE DID!" placement="top">
        </div>

        <div class="col-md-4" tour-step order="0" data-tour-step-enable="true" title="We’ve made some changes!" content="are you sure?" placement="top">
        </div

[2016-02-24 22:30] ansy commented on #8
Nm, wrong module. =/

[2016-02-24 22:30] #8 closed

[2016-03-02 04:39] benmarch commented on #7
Hi @blairmotchan, I have not been able to reproduce this issue. I tried just adding the following markup to the page and pausing a tour, but onSubmit() was never called:

    <form ng-submit="onSubmit()">
        Test: <input type="text">
    </form>

I can't find anything in the code that would cause onSubmit() to be called unless it is also set as the onPause or onEnd callback. Do you have an ex

[2016-03-02 04:40] benmarch commented on #5
Hi @kiranbinmaygh, is there any update to this?

[2016-03-02 11:53] diego-vieira opened #9 "move to next and previous step using arrow keys"
Hello, sample tour: http://bootstraptour.com/
If you press the right and left arrow key it'll navigate thru the steps.

There is a nice module that provides keyboard shortcuts
http://chieffancypants.github.io/angular-hotkeys/

If you're interested I can send a PR.

[2016-03-02 16:59] benmarch commented on #9
Hi @diego-vieira, that would be awesome if you could create a PR for this feature. I was just thinking about including this yesterday while I was building the live demo page since it was a nightmare having to test the later steps. If you could include a configuration item to enable/disable the hotkeys as well I would appreciate that. Thanks!

[2016-03-03 13:38] david2tm opened #10 "Create dist only bower"
Hello,

Can you create a new bower package with only dist folder? Having sources in production is not really needed, and whoever needs sources to work on them, should just git clone `em anyway.

http://bob.yexley.net/creating-and-maintaining-your-own-bower-package/

Thanks

[2016-03-04 18:17] benmarch commented on #10
Hey @david2tm, I will add everything but dist/ to the Bower ignores. I use the separate repo pattern at work, but I prefer just to use grunt release for my open source projects.

[2016-03-04 21:18] m101010 opened #11 "Issue regarding angular-ui-tour with modal window"

[2016-03-04 21:33] benmarch commented on #11
Could you elaborate, please?

[2016-03-04 21:33] m101010 commented on #11
Hi benmarch,

first of all - i really like this plugin! Thank you for your great work.

I was able to use it to set up a tour for a small page without any problems.
As the next step i was trying to set up another tour inside a modal window (https://angular-ui.github.io/bootstrap/#/modal).
As I am rather new to angular and web development as a whole i am unfortunately confronted with a problem i ca

[2016-03-04 21:36] benmarch commented on #11
Hi @m101010, it sounds like you might have a tour step that is not within any tour. This might have something to do with the way that Angular UI Bootstrap creates modal windows. I would start by inspecting the DOM to see if the tour step inside the modal has an ancestor that contains a tour directive.

[2016-03-04 22:42] m101010 commented on #11
Hi @benmarch, thank you for your hint.
I checked this over and over again and everything seemed fine.

For now i resolved the issue by wrapping the whole modal content in another div where i place the ui-tour directive.
With this i can place tour-steps on most of my elements. Some other elements are still not working (for example "uib-tab-heading" and every child of such). At one point I got the e

[2016-03-05 03:08] benmarch commented on #11
Hi @m101010, w.r.t. the backdrop, you can set the backdrop z index of the tour backdrop (and likely the modal backdrop) to a value that might let it work; however, putting a tour in a modal sounds like a questionable design. The other issues are related to how you are using the directives, but since tour steps do not require isolate scopes it is not related to this plugin. I think it might be usef

[2016-03-05 03:08] #11 closed

[2016-03-07 17:20] roly445 opened #12 "TourConfigProvider 'onEnd' with $rootScope"
Hi,
I have a SPA which I'm trying to put the tour system into.

We have multiple controllers active at on time so I was hoping to broadcast the onEnd event so all controllers can pick up on it.

Have you got any pointers of how to go about this?

[2016-03-07 19:55] benmarch commented on #12
Hey @roly445,

My first thought is to create a scope method that you can pass into onEnd, and in the scope method you can use $rootScope.$broadcast(...);

Something like:

    <div ng-controller="AppController">
        <div ui-tour ui-tour-on-end="broadcastEndEvent()">...</div>
    </div>

Then in AppController:

    $scope.broadcastEndEvent = function () {
        $rootScope.$broadcast('tour end

[2016-03-11 09:50] silentFred opened #13 "placement option not working"
Firstly, excellent job @benmarch

Really enjoying this module so far. Just want to note some bugs as I go along. The placement option on the directive does not seem to work =) I tried the following

placement="bottom"
placement="'bottom'"

I'm happy to help out with these?

[2016-03-11 13:11] roly445 commented on #12
That seems to work, thanks.

[2016-03-11 13:19] roly445 opened #14 "Change the current step from code"
I'm trying to set the current current step via code, but this its not changing the step.

Have you got an example of how to do this?

I can do 'next' and 'prev' but nothing beyond that.

Thanks

[2016-03-11 18:02] benmarch commented on #13
Thanks @silentFred! Try using `tour-step-placement="bottom"`. If that's not it then it might be a bigger problem that I will have to look into.

[2016-03-11 18:04] benmarch commented on #14
Hi @roly445,

Yeah I haven't hooked up a way to jump among tour steps yet. I will add that to my backlog for the next release. Sorry for the inconvenience.

Ben

[2016-03-11 18:04] benmarch commented on #12
Awesome, closing this issue.

[2016-03-11 18:04] #12 closed

[2016-03-11 18:05] benmarch commented on #7
Hi @blairmotchan, any update on this?

[2016-03-11 18:15] blairmotchan commented on #7
Very sorry - I have been too busy and did not get a chance to go back and look into this for you.  This weekend I'll see if I can generalize my code and reproduce the error.  Thank you!

[2016-03-11 18:16] benmarch commented on #7
Cool, no problem, thank you!

[2016-03-12 05:07] #10 closed

[2016-03-13 03:42] #4 closed

[2016-03-13 17:18] benmarch commented on #14
Releases as tour#goTo(step) in 0.2.0.

[2016-03-13 17:18] #14 closed

[2016-03-14 17:13] blairmotchan commented on #7
I have not had a chance to come back to this.  I'll just close the issue because you looked into and could not reproduce.  It's not stopping me or blocking me by any means.

Thank you very much for looking into this issue.

[2016-03-14 17:13] #7 closed

[2016-03-15 14:44] waflessnet opened #15 "which are all necessary requirements to use the library?"
which are all necessary requirements to use the library? the "ezNg" can not find it.

https://github.com/benmarch/angular-ui-tour/blob/55cd2fb4decf54ad586600e9fbb936a3c3713734/dist/angular-ui-tour.js#L12

Thank you

[2016-03-15 14:57] benmarch commented on #15
https://github.com/benmarch/angular-ui-tour/blob/master/bower.json#L21-L26

How are you installing this library, out of curiosity?

[2016-03-15 15:08] waflessnet commented on #15
I do not use "bower" (by office rules). but this information with me is enough,
 thank you very much.

[2016-03-15 15:13] benmarch commented on #15
Ok, I was just thinking about it earlier today... I would like to set this up to be able to install using other package managers, so any information would be useful. Thanks!

[2016-03-16 14:47] dander401 commented on #13
@benmarch setting tour-step-pacement does work as a work around. Is there a way I can add it to all steps in a tour programmatically?

[2016-03-16 14:55] benmarch commented on #13
Yep, you can add it to the entire tour by using `ui-tour-placement="bottom"` on the tour element, or using `TourConfigProvider.set('placement', 'bottom')` in a config block.

[2016-03-16 15:02] dander401 commented on #13
@benmarch unless I'm mistaken this sets the option on the tour element which is the option not working atm. Can I set it to the tour steps themselves ( they work just fine ).

Also, this is probably related but I can make another issue if you'd like. I cannot seem to get the tour option appendToBody working.

[2016-03-16 15:32] benmarch commented on #13
Ok, let me look into this, I'm not sure what would prevent it from working.

[2016-03-16 15:49] benmarch commented on #13
Alright, I am able to reproduce this issue and I think I found the root cause (it would also explain why appentToBody isn't working.) I will fix it and release a patch by tonight (hopefully by midnight GMT-0600). Thank you for bringing this to my attention, and sorry for the inconvenience.

[2016-03-16 15:52] dander401 commented on #13
thank you for the quick response.

[2016-03-16 17:33] dander401 opened #16 "Working with modals"
When I have a modal with a named tour. The tour works as expected, but if the modal is destroyed and brought back, the tour will not display... is there a way to delink it from the old element?

[2016-03-16 17:36] benmarch commented on #16
Can you paste in some code or create a Plunkr? Specifically, where is the uiTour directive, how are you initializing it, and are are you using the TourService to grab a reference?

[2016-03-16 20:24] dander401 commented on #16
sorry im kinda new to actually creating to punker so this wont actually run due to the resources for angular bootstrap not being there. it does have basically what im trying to do though

https://embed.plnkr.co/XiXS0F2Aqb1ZfrN3W0bJ/

when you open the modal, you can start the tour by pressing the button in the modal. the user may leave and come back though and start the tour again.

[2016-03-16 20:37] dander401 commented on #16
just in case, here is some of my actual code

in the modal view
`<div class="userProfile" ui-tour="userProfileTour">
    <div>
        <h1>Account Settings</h1>
    </div>
    <div class="form-horizontal">
        <div class="form-group" tour-step tour-step-title="Username" tour-step-order="0" tour-step-content="You will use this to log on with" popover-append-to-body="true">
            <label cl

[2016-03-16 22:02] #15 closed

[2016-03-16 22:03] #13 closed

[2016-03-16 22:03] #16 closed

[2016-03-16 22:12] benmarch commented on #13
Hi @dander401, it should be working as expected now in 0.3.1. It looks like the tooltips were being initialized _before_ the tour properties were being initialized, so the tour-level properties were not getting passed into $uibTooltip. I replaced the auto-initialize with an event-based initialize so it will wait until everything is ready.

[2016-03-16 22:14] benmarch commented on #16
Thank you, @dander401, that was very helpful. I believe the problem is exactly what you suggested: it is not removing the reference to the old tour. I have now set it up so that the tour is removed from the registry whenever the tour scope is destroyed.

[2016-03-16 22:15] benmarch commented on #5
Hi @kiranbinmaygh, I am going to close this issue and ask that you retest in 0.3.1.

[2016-03-16 22:15] #5 closed

[2016-03-17 14:44] dander401 opened #17 "popover appearing behind"
Im, not sure if this an actual bug or just something that you should note in the documentation.

When specifying the tour to use a back drop, the back drop will cover the popovers unless they are appended to the body element. This makes since with how html and z indexes work, and I don't if you can actually get around it.

....btw... thanks for the super fast response yesterday, the fixes were gre

[2016-03-17 15:07] benmarch commented on #17
Hey @dander401, no problem, always happy to help.

With respect to the stacking, it very much depends on how your page is set up. If your popovers are in a child stacking context then yes, they will be behind the backdrop. Take a look at the [demo page](http://benmarch.github.io/angular-ui-tour), you will see that the popovers are above the backdrops because there is only one stacking context (the

[2016-03-17 15:26] dander401 commented on #17
I agree with all of that, it just caught me off guard today

[2016-03-17 15:44] dander401 opened #18 "make _getCurrentStep a supported method"
Feature Request

Our site will have several tours, and instead of of duplicating the code to tracking each of their pause or ended states, it would be awesome if I could safely use _getCurrentStep ( or something like it ) to see if I need to call start or resume when the tour is requested.

edit: Actually... could there just be an option to hide the pause button?

[2016-03-17 16:35] cesarcosta99 opened #19 "Control the flow of the tour through controller"
Firstly, congratulations for the awesome library!

I'm trying to implement it on an AngularJS application and I'm not getting control the flow from a controller. I read the documentation but I didn't get it and I didn't find any demo or example.

Thanks!

[2016-03-17 16:42] benmarch commented on #18
Hey @dander401, I think what I will do is expose the tour status which is either "on" (running), "paused", or "off" (ended) which should help with determining which action to take. I think exposing the step could allow developers to accidentally break the tour, which is why it was exposed as a debugging method only. I could return a copy/read-only version of the current step if that would be usefu

[2016-03-17 16:43] dander401 commented on #18
That sounds awesome

[2016-03-17 16:49] benmarch commented on #19
Thanks, @cesarcosta99!

I'm not sure I fully understand the question, but I think you are looking for an example of how to start/stop and navigate through the tour, right? There are a number of ways to control the flow, and all you need is a reference to the tour object. The easiest way is to look for it on the scope of the uiTour directive as `$scope.tour`, but you can also use the uiTourService

[2016-03-17 17:09] cesarcosta99 commented on #19
Thanks a lot for answering so fast!

Let me try to explain better, I'm not so good in English... I'm trying to control the flow of the tour in another controller instead of TourDemoController, I took a look in the file and saw the functions there. I understood that I can use the **uiTourService** and call `getTour()`, I did that and got these errors:
In **Firefox**: _scope.originScope(...) is unde

[2016-03-17 17:39] dander401 opened #20 "Ever other step not being added"
Through console logging I have traced the issue as far as I can.
[code]

console.info( step.title +' --- later'); shows all steps being registered
however the --now is only getting called for steps 1,3,5

The html that I have tested with is the following
[code]

[2016-03-17 17:45] benmarch commented on #19
Hmm, I don't recommend using a timeout like that to wait for the tour to load. It is probably best to use the onReady function (see #1's answer). Also, make sure to have at least one tour step defined. Try something like this:

[code]

[code]

[2016-03-17 17:48] benmarch commented on #20
Hmm, can you paste the console output also?

[2016-03-17 17:52] dander401 commented on #20
Your Name --- later
angular-ui-tour.js:1011 Email And Organization --- later
angular-ui-tour.js:1011 Reason --- later
angular-ui-tour.js:1011 Password --- later
angular-ui-tour.js:1011 Save or Cancel --- later
angular-ui-tour.js:1014 Your Name --- now
angular-ui-tour.js:323 adding step: undefined   Your Name
angular-ui-tour.js:1014 Reason --- now
angular-ui-tour.js:323 adding step: undefined   Rea

[2016-03-17 17:55] benmarch commented on #20
Did you add other logging statements as well?

[2016-03-17 17:56] dander401 commented on #20
oh yea sorry, forgot I had theses in the addStep Method
`    self.addStep = function (step) {
            if (~stepList.indexOf(step)) {
                console.info( 'skipping step: ' + step.order );
                return;
            }
            console.info( 'adding step: ' + step.order +'   ' + step.title );
            stepList.push(step);
            stepList = $filter('orderBy')(stepList

[2016-03-17 17:58] benmarch commented on #20
Yeah you can use triple back ticks and the type. I updated you initial comment, if you click the edit icon you can see it.

[2016-03-17 18:10] benmarch commented on #20
Sorry, did you add any others? Looks like maybe in removeStep() and one more.

[2016-03-17 18:13] dander401 commented on #20
ive got 6 logs total, let me list them all out
[code]

[2016-03-17 18:15] benmarch commented on #20
Cool, thanks, I'll look this over.

[2016-03-17 18:21] benmarch commented on #20
Ok interesting, it looks like 0, 2, and 4 are never even added...

[2016-03-17 18:24] dander401 commented on #20
Thats what I saw, from my understanding of the code ( mostly flowing stack traces so at best ehh ) it looks like the ctrl.once(init' was to be called and add them but never does

[2016-03-17 18:39] benmarch commented on #20
Ah jeez I think I just realized what the problem is... it's an issue with ezNg's event emitter. I'll have that updated in a few hours and I'll release a new version 0.3.2. Thank you for debugging this, and I'm really sorry about it.

[2016-03-17 18:40] dander401 commented on #20
no problem, never apologize for doing the world a favor and building something open source :) this package is looking awesome

[2016-03-17 19:02] cesarcosta99 commented on #19
@benmarch,
I did what you told and it worked, okay, but I'm getting the same error... I defined at least one step and print the directive tourStepPopup's scope in console and I realized the scope have the title, content and placement, but why the scope  is not receiving the `originScope()`?

Here's my HTML:
[code]

[2016-03-17 19:16] benmarch commented on #19
Hey @cesarcosta99, this might be caused by an issue that was introduced in 0.3.1. Please take a look at #20, I will have a fix for it later today. Sorry for the inconvenience, I'll fix it ASAP.

[2016-03-17 19:23] cesarcosta99 commented on #19
No problem, @benmarch, thank you for the great job!

About my last comment: actually, when I run normally and print in console `tour.hasStep()`, it's comming false, but when I set a timeout it's comming with that error. I'll wait your fix, thanks!

[2016-03-17 20:29] dander401 commented on #19
@cesarcosta99 @benmarch you can test to ensure that it is because of #20 by adding a few steps and seeing if some of them behave properly

[2016-03-17 21:26] benmarch commented on #20
Ok let's try 0.3.2.

[2016-03-17 21:27] benmarch commented on #19
Released 0.3.2, let's see if this issue persists.

[2016-03-17 21:46] dander401 commented on #19
no change for me :(. still skipping steps

[2016-03-17 21:52] cesarcosta99 commented on #19
I'll test as soon as I can!

[2016-03-17 23:23] benmarch commented on #20
If 0.3.2 isn't working I'll put your markup in a Fiddle or Plunker and debug it. Unfortunately, I won't be able to get to it until tomorrow. I'll let you know as soon as I find something.

[2016-03-18 02:35] benmarch commented on #20
My mistake, I didn't release 0.3.2 properly so it didn't have the update. I used your markup above and confirmed that it did not work with 0.3.1 or 0.3.2 but it does work now with 0.3.3. Let me know if 0.3.3 works for you.

[2016-03-18 02:36] benmarch commented on #19
@cesarcosta99 please test with 0.3.3, I did not release 0.3.2 properly so it is the same as 0.3.1. Thanks!

[2016-03-18 12:21] cesarcosta99 commented on #19
@benmarch, didn't work for me :(

[2016-03-18 13:58] benmarch commented on #19
Ah ok, that was going to be my next suggestion. This requires AngularJS >= 1.3 and Angular UI Bootstrap > 0.14.3. Please let me know how it goes. Thanks!

[2016-03-18 14:14] cesarcosta99 commented on #19
I made a few tests and and it's working fine right now, sorry for my mistake and thank you so much for the great support!

[2016-03-18 14:52] benmarch commented on #19
Awesome!! No problem at all :) Let me know if anything else comes up, or feel free to close the issue if everything works out.

[2016-03-18 15:14] dander401 commented on #20
Its good now. thanks.

[2016-03-18 15:44] dander401 commented on #19
Ive got one more issue with a step not being added.
I have an empty div that id like to put a tour step on but it doesnt seem to add. ( I generate the content for the div ). Do I need to just add and remove the tour step each time I change its content?

[2016-03-18 15:46] benmarch commented on #20
Awesome! Thanks for helping to debug.

[2016-03-18 15:47] dander401 commented on #20
Ive got one more issue with a step not being added.
I have an empty div that id like to put a tour step on but it doesnt seem to add. ( I generate the content for the div ). Do I need to just add and remove the tour step each time I change its content?

[2016-03-18 15:51] benmarch commented on #20
Is the tour step statically on the div or are you adding the attributes dynamically as well?

[2016-03-18 15:52] dander401 commented on #20
static  looks like this
[code]

[2016-03-18 15:54] benmarch commented on #20
Looks like it is missing the `tour-step` attribute.

[2016-03-18 15:56] dander401 commented on #20
that would be my bad at re adding it here... i do have the tour step... like this one which doesnt work
[code]

just so you know.

[2016-03-18 16:00] benmarch commented on #20
I just added it to my test environment and it displayed as expected. I think I would need more context. I'll reopen this issue.

[2016-03-18 16:14] dander401 commented on #20
sorry i just noticed my just so you know was empty.... i meant to put in what I was doing.

I have svg charts, that Im converting to images for downloads and showing the preview in a canvas element ( which is also used as a fallback for when auto downloads fail )

this tour-step is on the item that is loosing and having its inner content regenerated every time the size changes ( to generate a new

[2016-03-18 16:17] benmarch commented on #20
Ah ok, it might have something to do with event handlers getting lost. Try wrapping "#chartDownloadContainer" with another div and moving the tour step to that div. That way there won't be any conflict.

[2016-03-18 16:55] #19 closed

[2016-03-18 16:57] dander401 commented on #20
Alright, that worked.... except it draws an empty canvas... honestly I don't know a lot about the magic canvas... Just incase this this helps here how I crate it from a svg element.

[code]

[2016-03-18 16:59] dander401 commented on #20
Just fyi... i do have a backdrop, and the popover is appended to body

[2016-03-18 17:03] benmarch commented on #20
Cool, that `var ele = angular.element( source ).clone();` is probably what was breaking it before, but I'm not 100% certain on that. I'm not really sure if I can help with the empty canvas, does it display the canvas if you remove the tour-step attribute?

[2016-03-18 17:07] dander401 commented on #20
good call on the ele.clone that makes sense.

It does display the canvas drawn, just the popover doesnt... which i guess is expected because its pointed to the orginal element. hmmm... looks like have something fun to try to work around then. Thanks for point out how i was breaking it.

btw... i really appreciate your quick and helpful responses

[2016-03-18 17:11] dander401 commented on #20
well wait... the cloned element is just used to create the image the is placed in the original element. hmmm... so i may need to get the canvas in the popover and redraw the image there...

Can i get a reference to the current step popup with the tours onShow?

[2016-03-18 17:28] dander401 commented on #20
I decided to just do this tour without a backdrop which allows the popovers to just point to the uncloned elements. this makes it a non issue for me. I'm good to close this issue.

[2016-03-18 18:03] cesarcosta99 opened #21 "Remembering which step the user was"
I'm trying to set this functionality with local storage variables by this way:

[code]

[code]
Is that possible?
Edit: The tour initiates from the start if I try to `start` and I'm getting error at `self.showStep` (angular-ui-tour.js:373) and at angular-ui-tour.js:546 if I try to `resume`.

Other thing I tested was backdrop, for me it's not working so well. Sometimes the backdrop is overriding the

[2016-03-18 18:06] benmarch commented on #20
Ok cool, sorry it doesn't work exactly as desired. The backdrops in general are known to be problematic, and I would rather not spend too much extra time on them. If you want to try to work on the backdrop service and create a PR that would be awesome, but there probably isn't a great universal solution. Closing this issue now.

[2016-03-18 18:06] #20 closed

[2016-03-18 18:13] benmarch commented on #21
If you are going to use the stepId, make sure your step's ID is explicitly set by providing a value to the tour-step attribute: `tour-step="<stepId>"`. Also, if your steps are on a dynamically added view you will have to wait for that to load. Can you paste the stack traces in? I'm not sure what would cause errors there.

Try changing:

[code]

To:

[code]

[2016-03-18 18:36] cesarcosta99 commented on #21
All steps are defined with tour-step attribute and the views are been loaded before.
I tried what you told and the tour is starting from the beginning.

Here are the exceptions (trying with `_setCurrentStep` and `resume()`):
On `self.hideStep` function, `step.config('onHide')` at line 411:37;
On `self.hideStep` function `self.goTo` at line 626:25.

[2016-03-18 18:49] benmarch commented on #21
Ah ok this makes sense. So yeah try to avoid _setCurrentStep() because it actually doesn't do what it sounds like, and resume() will only work if the tour is paused. I think this might need to be a new feature where you can start the tour at a specific step. I will add this to the next release. Would you prefer to use the existing start() method and pass in an optional step, or have a new method c

[2016-03-18 19:08] cesarcosta99 commented on #21
Sure! I think the new method `startAt(step)` would be better, but what you to prefer is fine! Thanks @benmarch

[2016-03-19 18:41] #18 closed

[2016-03-19 18:41] #21 closed

[2016-03-19 18:53] benmarch commented on #18
Hey @dander401, the tour now exposes the status as `tour.getStatus()`, and you can use the `tour.status` enum to determine what the status is. For example:
[code]

I have also exposed `tour.getCurrentStep()` which returns a copy of the current step to avoid accidentally breaking the tour. You can still pass this copy back into any API function that accepts a step as long as the step ID is set.

Re

[2016-03-19 18:55] dander401 commented on #18
This is amazing. Thanks!

[2016-03-19 18:56] benmarch commented on #21
Hey @cesarcosta99, I have exposed the `tour.startAt(step)` function in 0.4.0. You can pass any index, step ID, or step object that you would like to start on. I have also exposed `tour.getCurrentStep()` which will return a copy of the current step. As long as the stepId is set, you can use this copy in the startAt() function and any other function that accepts a step. You can also use any of the n

[2016-03-19 18:56] benmarch commented on #18
No problem, thank you for helping to debug!!

[2016-03-19 19:05] cesarcosta99 commented on #21
Awesome @benmarch! Thank you very much and the new events are very useful, great job with the plugin! I'll test it later.

[2016-03-20 01:03] cesarcosta99 commented on #21
It's working fine @benmarch, but I had to remove the `angular.copy()` that was coming with the emitters to work properly, were illegal declarations, the objects were losing their references. Don't forget to update the documentation about `startAt()`, the world needs to know that hahaha, and thank you again!

[2016-03-20 04:28] rdbauer opened #22 "Mobile issue"
I found this plugin and it looks and works great from what I can tell this far. I am looking forward to getting to use it on our project. I was just viewing the demo tour on my phone and noticed that the 4th step (the start of the table) has the "tooltip" off to the left. While I don't remember having any issue with it on my desktop yesterday, on my phone it is off the screen and I have no way of

[2016-03-20 13:42] benmarch commented on #21
Thanks for the reminder, @cesarcosta99, I'll document that asap! I had used copy very intentionally to prevent modification to the actual tour steps, but since the steps are exposed on the scope anyway I might just return the original steps. How exactly are you using them so that I can better make a decision about how to handle them?

[2016-03-20 13:47] benmarch commented on #22
Hi @rdbauer, I noticed a similar issue the other day when I had a 100%-width div and positioned the step to the left. I am currently using Angular UI's tooltips to handle the position for me, so I wonder if there is a configuration option to prevent them from appearing off screen. I will look into this and see if it can be done out of the box. If not, I'll add it to the back log for the next relea

[2016-03-20 14:05] cesarcosta99 commented on #21
I understood your point, but the objects were losing their references, so didn't worth it, I had to remove **all** `copy` from controller, only left one from the service.
My use:
[code]

[2016-03-20 14:13] benmarch commented on #21
Interesting, it looks like it would be ok in this case because you are just using the stepId, but maybe I am missing something. I think I will just make the critical properties read-only and return the actual step reference. Thank you for your help!

[2016-03-20 16:08] rdbauer commented on #22
That is what I was figuring. I did read that angular-ui is working on it. Discussion is in angular-ui/bootstrap#4762.

[2016-03-21 15:48] waflessnet opened #23 "scope access view on div"
I am try create tour, when change select send other step, but not access to scope of controller example in controller the $scope.Rubro always is null , but  delete tag tour-step the $scope working properly:

[code]

layout:
[code]
view template.html

[code]
to try add  tour.next(), but generate error  not found config etc.
[code]

which is the correct way to access the scope of controller? by  exa

[2016-03-21 16:07] benmarch commented on #23
Hi @waflessnet, this is most likely throwing an error because somewhere there is an isolate scope that does not inherit `$scope.tour`. I think the best way for you to access the tour in this case is by using TourService like this:
[code]

Hopefully this helps, let me know if it still is not working.

Thanks,
Ben

[2016-03-21 16:25] waflessnet commented on #23
@benmarch  thanks ! i try, but :
![image](https://cloud.githubusercontent.com/assets/6413704/13925456/23c23d8a-ef67-11e5-82a7-c54e484442dd.png)

my js :
[code]
the service not found :walking:

[2016-03-21 16:40] benmarch commented on #23
Sorry, my fault, it should be "uiTourService" (I forgot I changed the names recently).

[2016-03-21 18:40] waflessnet commented on #23
jaja perfect ! thanks, the service is correct.
how can control event in div selected  example:
![image](https://cloud.githubusercontent.com/assets/6413704/13929646/e6fe51be-ef79-11e5-97ee-a47aa091287b.png)

when used in div tour-step, the events in controller  not work , is posible call a handle ? ,
by example  in select the event ng-change="clickRubro();":
[code]

thank you very much for your hel

[2016-03-21 18:44] benmarch commented on #23
Awesome! Unfortunately, you won't be able to use any scope items when you use the backdrop. The backdrop causes the element to be cloned, which causes it to lose all ties to the original element and scope. I can try to change it so that it will use the original scope, and if it is possible then I will add it to the next release. For now, try removing the backdrop and see if that works for you.

Th

[2016-03-21 18:53] waflessnet commented on #23
OMG :+1:  work !  backdrop=false :D
great job !
thanks for sharing

[2016-03-21 18:53] #23 closed

[2016-03-21 18:54] benmarch commented on #22
Yeah I might just wait for them to fix it. I tried using "auto left" per their recommendation but it really doesn't right.

[2016-03-21 19:00] benmarch opened #24 "Cloned elements for steps with backdrops do not attach to original scope."
When a step uses the backdrop, it is cloned and positioned over the original element. The clone, however, does not have any association with the original element's scope, which will disable some functionality. This issue is to research and enhance the backdrop service to attach the original scope to the cloned element. If it is doable--which I imagine it is--then it will be in the next release.

T

[2016-03-22 14:09] dander401 opened #25 "Add steps from the controller or specify the tour a step belongs to"
We are wanting to build several independent tours to explain different parts of our site. As well as one that explains the site from a birds eye view. We haven't run into this issue yet, but we are afraid of adding a tour step in multiple tours ( due to the umbrella tour having many nested views ).

So the use case we are fearing looks something like this
[code]
Will the Steps C1 and C2 be added T

[2016-03-22 14:26] benmarch commented on #25
Hey @dander401, it will not add steps to both tours, and this is because of the way that Angular scopes the DOM. When there is a directive that `require`s a controller, it calls `element.controller(<controller name>)` which will ascend the DOM until it finds an element that has the required controller bound. In this case, the tour step `require`s `uiTour`, so Angular will look at the step's ancest

[2016-03-22 14:26] #25 closed

[2016-03-22 14:28] dander401 commented on #25
@benmarch thanks for the response. That makes sense. Like I said, we havent gotten to that issue yet, was just curious from a code maintenance stand point

[2016-03-22 14:51] dander401 opened #26 "Tour-Steps steel pointer events"
This issue has several work arounds, but its weird behavior.

![screen shot 2016-03-22 at 10 36 46 am](https://cloud.githubusercontent.com/assets/4235673/13955194/2874f864-f01a-11e5-9c98-7265b2cbf95d.png)

I have a toolbar that has the shape of something like the following ascii art
[code]
Theres a menu button to the right of the 'bump' that will always be clickable, and needs to be on the same-is

[2016-03-22 18:03] benmarch commented on #26
Hey @dander401, I don't exactly understand the issue. Is this a functional or stylistic problem that you are experiencing? What exactly is the expected behavior, and what are you observing when the tour step is added. Please include some markup/css/js. Thanks!

[2016-03-22 18:07] dander401 commented on #26
functional
adding tour-step tags will capture click events even if they have it turned off via css

this becomes a problem if they wrap an element that needs to have a click through space.

[2016-03-22 18:10] benmarch commented on #26
The tour steps actually don't listen for any DOM events except the custom event that launches the tooltip. Does this happen only when the step is active or whenever you add the directive to the element?

[2016-03-22 18:22] dander401 commented on #26
when i wrap a directive
``
<tour-step>
   <directiveWithOwnPrivateScope></directiveWithOwnPrivateScope>
</tour-step>

I guess capture is a bad choice of words... It is blocking the element beneath it from getting the click event.

Let me try to illustrate what is happening with some more ascii.
T = tour step
d = directive
x = trarget

html looks like this
[code]

So when i click over x this is wha

[2016-03-22 18:29] benmarch commented on #26
Haha well it looks good, I see what you are trying to do. What happens if you wrap the directive with an element that does not have the tour step? I am trying to figure out why the tour step specifically would cause an issue like this. My suggestion would be to use a z-index to allow the target to reside in front of the directive, but that might not be possible if your UI prevents that. Can you tr

[2016-03-22 18:32] dander401 commented on #26
what i did to get around it was just put the tour step on a div
[code]

[2016-03-22 18:34] dander401 commented on #26
I guess its worth noting that this is an easy thing to work around with a lot of options. But I spent awhile trying to do the clean css approach and looking up what I was doing wrong before succumbing to altering my html structure where I needed to

[2016-03-22 18:37] benmarch commented on #26
Ok, I'm just having a hard time understanding how it is directly related to the tour step. It seems like any element would result in the same behavior. Unless you tried putting the tour step on the directive without wrapping it, but it sounds like you want to wrap it.

[2016-03-22 18:39] dander401 commented on #26
When I did this
[code]
I was able to use css to set the pointer-events: none on the div to make this work.
The tour-step as an element would not respect the point-events property

[2016-03-22 18:43] benmarch commented on #26
Ah ok I understand... custom elements do behave differently, and I'm not sure if Angular uses the registerElement API. Did you try using a different custom element to see if that would work? Try wrapping it in `<myelement>...</myelement>` and styling it.

[2016-03-22 18:49] dander401 commented on #26
good call, just created a stub element directive and did not work with the pointer events either unless I gave it a display property.

[2016-03-22 18:53] benmarch commented on #26
Right, and that is because custom elements do not have a default display property. Closing this issue as it is unrelated to this library.

[2016-03-22 18:53] #26 closed

[2016-03-23 19:33] cesarcosta99 opened #27 "Prevent scrolling problem with cloned element"
When the backdrop is activated the cloned element is _backdropped_ fine, but when prevent scrolling is activated occurs variations in the width and x-position of the cloned element. His height and y-position seems fine.

[2016-03-23 19:34] benmarch commented on #27
Hey @cesarcosta99, please include screen shots/code snippets/steps to reproduce.

[2016-03-23 20:03] cesarcosta99 commented on #27
My bad, but I discovered what it is, it occurs because of the `overflow: hidden` on body's style `no-scrolling` and causes variation in the width/height/positioning depending on x/y scroll. As the steps continue the variation grows (with backdrop in all tour).

[2016-03-23 21:33] AlexanderVielhauer opened #28 "Multiple tours"
HTML: http://pastebin.com/trp5pbMN
JS: `uiTourService.getTourByName("test").start()`

Expected: Both steps executed
Happens: Only first step is shown, then I can only select Pause or End

Works as expected if I remove the names.

[2016-03-24 07:43] Seshagiri25 opened #29 "using multipage angular-ui-tour with ui-router"
Hi,
  Thanks for the awesome library...
With regards to my question, I am using ui-router for navigating between views. To continue on next page I have to set tour-step-next-path="path/to/view", otherwise the next button is hidden on the tour step. But when I set tour-step-next-path, it won't redirect to appropriate view. I have even tried tour-step-on-next="onNext()" and called $state.transitionT

[2016-03-24 12:46] cesarcosta99 commented on #27
Solved just moving up prevent scrolling call to the top of function `service.createForElement` because is before $uibPosition make the calculations.

[2016-03-24 13:27] benmarch commented on #29
Hey @Seshagiri25, the next/prev-path attributes unfortunately won't work with UI Router, but there may be a way to handle it yourself. Try something like this in your onNext() function:

[code]

All tour methods return a promise, and onNext will wait for the promise to resolve before displaying anything else. UI Router's transitionTo() method also returns a promise, so that fits into the chain nic

[2016-03-24 13:39] benmarch commented on #28
Hey @AlexanderVielhauer, for clarification, is your expectation that the two steps will display at the same time, or that they will display consecutively? From you code I would expect only one of the tours to display at any given time, and that you can only pause or end because each tour only contains one step. If you are intending to show multiple tour steps simultaneously, my recommendation is t

[2016-03-24 13:41] benmarch commented on #27
Hey @cesarcosta99, I'm sorry I'm not really following what you are describing. Can you include screenshots and markup, please? And it sounds like you modified the library code, can you include snippets of that as well?

[2016-03-24 13:57] AlexanderVielhauer commented on #28
What I wanted to do is to assign both tour steps to the same tour which is named `test` and then have it start with tour step 1 and proceed with tour step 2. So seems like I have to limit my usage of `ui-tour="test"` to one tour step and nest the consecutive steps into that? Like this: http://pastebin.com/yM5BKA1p

Thanks for your reply.

[2016-03-24 14:01] benmarch commented on #28
Ah ok I see what you are trying to do, you need to wrap both tour steps in a single tour:

[code]

Let me know if that helps.

[2016-03-24 14:05] AlexanderVielhauer commented on #28
Since the tour-steps need to be children of the respective `ui-tour` element, this way is not feasible for me because I want to tour elements in the same tour I cannot group like that. For now I just have one tour that covers everything and allow the user to jump to sub-tours in that one big tour. This works fine for me, so don't worry. :)

However it'd be cool to be free to group tour-steps regar

[2016-03-24 15:02] benmarch commented on #28
Yeah sorry about that, I intentionally designed it this way originally and haven't thought much about it since. The intention was to keep it very declarative in the markup so that it was clear how and where the steps were defined (compared to Bootstrap Tour). I suppose at some point I could move the tour declaration out of the markup and allow the steps to reference a specific tour by name. That w

[2016-03-24 16:37] cesarcosta99 commented on #27
I'm sorry if I wasn't clear enough, but I'm talking about that:
![captura de tela de 2016-03-24 13 23 38](https://cloud.githubusercontent.com/assets/10233985/14023701/5501ad72-f1c4-11e5-92ed-dcd8e785a8b9.png)

The tour wrapper: `<div ui-tour ui-tour-backdrop="true" ui-tour-append-to-body="true"></div>`
And all the steps have `tour-step-prevent-scrolling="true"`.

I'll make a PR in the weekend for

[2016-03-24 16:47] AlexanderVielhauer opened #30 "preventScrolling Firefox"
Hi,

I am using preventScrolling and it works fine in Chrome, but it's hell of a mess in Firefox...
`ui-tour ui-tour-backdrop=true`

`<div 	tour-step
	    tour-step-title="title"
	    tour-step-content="content"
	    tour-step-order="1"
	    tour-step-placement="top"
	    tour-step-fixed=true
	    tour-step-orphan=true
      tour-step-preventScrolling=true>
</div>`

I have a page without x or y-sc

[2016-03-24 16:50] benmarch commented on #30
You have some clashing options set. Try removing orphan (since it's not an orphan) and make sure you are using `tour-step-prevent-scrolling` and not `tour-step-preventScrolling`. Only set fixed if the element or any of its ancestors are `positioned: fixed;`.

[2016-03-24 17:05] AlexanderVielhauer commented on #30
Sorry, the one I quoted was for another div than shown on the screenshot. I fixed the `preventScrolling` one and removed fixed since it has `position: absolute`. However, it still keeps scrolling down: https://i.gyazo.com/e39407f03e9007c435f00f33742be13e.png

[2016-03-24 17:09] benmarch commented on #30
Can you include a before screen shot (before you show the step) that is aligned with the one you just provided? Or if you could provide a screen recording of what happens why you show the step that would be even better. It's difficult to understand the behavior with a single screenshot.

[2016-03-24 17:14] benmarch commented on #27
Hey @cesarcosta99, I see what you mean about it not aligned properly. It might have something to do with the margin/padding of original element. Can you paste the CSS (all of the computed CSS) here and I will see if I can reproduce?

[2016-03-24 17:18] AlexanderVielhauer commented on #30
You can try it out here: http://ggalex.fomalhaut.uberspace.de/#/Azoth123 (try in Chrome+Firefox)

Here's the tour: `<body ng-app="helpstoneApp" ui-tour ui-tour-backdrop=true ui-tour-append-to-body=true>`

The first step: `<div 	tour-step
	    tour-step-title="step1"
	    tour-step-content="cnt1"
	    tour-step-order="1"
	    tour-step-placement="top"
	    tour-step-orphan=true
      tour-step-prev

[2016-03-24 17:23] benmarch commented on #30
Ok cool, thanks. It looks like `fixed` is breaking it in FireFox, can you remove it so I can see what is going on in Chrome?

[2016-03-24 17:31] AlexanderVielhauer commented on #30
I removed fixed for the 2nd step. So it looks like this: `<div  class="footer-info-tour"
      tour-step
      tour-step-title="Always here!"
      tour-step-content="If you want to learn about other features or pick up the tour again, you can click here any time."
      tour-step-order="2"
      tour-step-placement="top"
      ng-click="infoTour()">
  <img src="images/info.png">
  Helpstone Tour

[2016-03-24 18:05] cesarcosta99 commented on #27
No, it haven't, the problem happens because the flow of add/remove class and I can't because I'm not cloning the element anymore, I create a blank div and apply a box shadow. I'll make the PR, wait for it! :grin:

[2016-03-24 18:07] benmarch commented on #30
Alright, my suggestion for now is to remove `prevent-scrolling` because you don't need it on your site. I will enhance the feature to prevent the issue that you are seeing, but I think you can avoid it by not using it. Let me know if the behavior is what you expect after removing it.

[2016-03-24 18:10] AlexanderVielhauer commented on #30
So removing `prevent-scrolling` and `fixed` from all steps? What about `backdrop` and `append-to-body` in the `ui-tour`?

[2016-03-24 18:11] benmarch commented on #30
Yes, remove both. Leave backdrop if you want the backdrop, and leave appendToBody if you keep backdrop.

[2016-03-24 18:15] AlexanderVielhauer commented on #30
Hm, removed `backdrop` and `append-to-body` and the first to steps look like this now:
`<div 	tour-step
	    tour-step-title="Helpstone Tour"
	    tour-step-content="Hi there! If you are new to Helpstone, you should take this tour to get a quick overview of all its features."
	    tour-step-order="1"
	    tour-step-placement="top"
	    tour-step-orphan=true>
</div>`

`<div  class="footer-info-tour

[2016-03-24 18:31] benmarch commented on #30
It looks like that is caused by the `overflow: hidden;` on the body tag. If you remove that and find a way to ensure that the body does not overflow the viewport then it won't be able to scroll. I will also add a flag in the next release that you can set so that the tour doesn't automatically scroll to the step.

[2016-03-24 18:32] benmarch commented on #27
Ok, thanks!

[2016-03-24 19:14] AlexanderVielhauer commented on #30
I removed the `overflow: hidden` and it still doesn't behave as expected. I added the prevent-scrolling stuff again (because now there are scroll bars for the body), but it doesn't help it. Chrome scrolls only a bit, but Firefox still scrolls a chunk. I'll revert back to the version that worked 100% fine on Chrome and link other browsers a video of the tour for now. :P

[2016-03-24 19:52] benmarch commented on #30
Ok, basically what's going on is your page by default does exactly what `preventScrolling` does when it is enabled: it hides the overflow of the `<html>` and `<body>` elements which makes it appear like there is nothing to scroll to. However, there is content to scroll to, it's just hidden. So although the user cannot scroll, it doesn't mean that there is no content to scroll to, and the tour is a

[2016-03-24 19:52] #30 closed

[2016-03-24 20:55] AlexanderVielhauer commented on #30
Sorry, what part of the docu are you refering to? Do you mean the normal HTML scroll offset or something for the tour framework?

[2016-03-24 21:02] benmarch commented on #30
The tour scroll offset. See the README.

[2016-03-24 21:10] AlexanderVielhauer commented on #30
Urgh, I'm sorry, I cannot find an option in the README that is about scroll offset. Searching for "scroll" only hits for preventScrolling.

[2016-03-24 21:27] benmarch commented on #30
Ahh jeez I'm sorry, it looks like it isn't documented! I'm using it in the demo, but basically you can set it like `tour-step-scroll-offset="5000"` on that step. I'll make a note to document that option, thanks for pointing it out.

[2016-03-24 21:31] AlexanderVielhauer commented on #30
Haha, alright. Already felt like an idiot to keep asking. :P

[2016-03-24 21:51] AlexanderVielhauer commented on #30
Sweet, it works just fine now. Thanks a lot. `tour-step-scroll-offset` did the trick.

[2016-03-24 22:03] benmarch commented on #30
Awesome! Sorry for the confusion over the documentation!

[2016-03-25 02:56] Seshagiri25 commented on #29
Hi Ben,
  Thank you very much... It worked great... Don't know why, it gave a method not found error for  startAt, But pause() and resume() worked great...

[2016-03-25 02:58] Seshagiri25 commented on #29
Although It would be nice if UI Router is integrated... It will be helpful for lot of guys who use UI Router for navigation...

[2016-03-25 03:03] benmarch commented on #29
Ah cool, I wasn't sure if pause and resume would work. startAt was released in the latest version (0.4.0) maybe you are using an earlier one? Yeah I've added UI Router integration to the next release (aiming for next week) so I'll let you know if I am able to do that. Thanks for the suggestion!

[2016-03-25 18:58] cesarcosta99 commented on #27
Hey @benmarch I made the PR #31, take a look and test it, please.

[2016-03-25 19:01] benmarch commented on #27
Thanks, @cesarcosta99, just commented. I will take a look this weekend and respond.

[2016-03-25 20:33] cesarcosta99 opened #32 "Problem with ngFilter"
I put a step with _backdrop_ and _prevent scrolling_ in a input field that has a model to apply a search filter in a `ng-repeat` and the filter was not working anymore. If I remove the step the filter works.

The `ng-model` works, the data is passing, but it's not being filtered. And I tried to put the step on a wrap of the input field also, didn't work.

[2016-03-25 20:36] benmarch commented on #32
Hmm, does it break even when the tour is off, or only when the step is displayed?

[2016-03-25 20:39] cesarcosta99 commented on #32
It's not working at any point.

[2016-03-25 20:45] benmarch commented on #32
Ok, sounds like it might be caused by the inherited scope. The tour step creates a new scope that inhertis from the scope in which it's placed. It sounds like your search box is updating a property on the scope which is then used in the ngRepeat filter. Because there is a new scope, it is initializing the property on the inherited scope instead of the parent (which is shared by the ngRepeat). Try

[2016-03-25 21:02] cesarcosta99 commented on #32
I think you are totally right, but I'll can test it only on Monday. I've already read about what you said but I didn't have time to implement this in my project yet, seems it's the right moment to do it. I'll keep you informed, thanks a lot for the explanation!

[2016-03-25 22:07] benmarch commented on #32
Cool, let me know!

[2016-03-27 12:46] diego-vieira commented on #9
@benmarch I've just completed the hotkeys integration. Will send the PR in a few.

[2016-03-27 16:23] luxueyan opened #33 "Readme is not clear"
![image](https://cloud.githubusercontent.com/assets/1555552/14066385/9e89c7fa-f47a-11e5-81ca-158f99f30afc.png)
Your module depend on ngSmoothScroll' ' 'ez-ng', but the readme is not clear!

[2016-03-27 21:21] benmarch commented on #33
Yes, the readme is definitely out-of-date and I am in the process of updating it.

For my knowledge, how are you installing this module? I am going to try to make it more universally installable, but I need to know how others are currently installing it.

[2016-03-28 03:34] luxueyan commented on #33
I use bower. Maybe it is not a good choice as times go on

[2016-03-28 12:43] cesarcosta99 commented on #32
I've just started to implement good practices in my project and the controllerAs solved the problem, I'll move my scope variables to the top and wrap my components in a IIFE. Thanks for the tip.

[2016-03-28 12:43] #32 closed

[2016-03-29 02:24] #9 closed

[2016-03-29 02:49] benmarch commented on #33
Yeah, unfortunately Bower looks like it's on its way out. It took me a long time to warm up to it, and now I'm having a hard time letting it go. I think it will still be around for a couple years, so I would recommend using wiredep along with it (check out the gruntfile.js in this project for an example). Anyway, I updated the readme per your suggestion. Thanks for pointing it out!

[2016-03-29 02:49] #33 closed

[2016-03-29 03:02] benmarch commented on #29
Hey @Seshagiri25, I have added UI Router integration to the next release (0.5.0), and tagged a pre-release for testing (0.5.0-rc.1). Would you mind installing the pre-release and testing this feature for me? It _should_ work exactly like the nextPath/prevPath works currently, except that you can use the name of a state instead of a path for those options. Just set the "useUiRouter" option to true

[2016-03-29 03:03] benmarch commented on #27
Hey @cesarcosta99, can you install pre-release 0.5.0-rc.1 and test that the changes are working for you as expected? Thanks!

[2016-03-29 03:05] benmarch commented on #24
Turned out not to be very easy to link the clone to the original scope (or any scope for that matter). I completely reengineered the backdrop, and users should now be able to interact with the content of the target element.

[2016-03-29 03:05] #24 closed

[2016-03-29 03:06] benmarch commented on #17
Hey @dander401, I made a note in the readme to use appendToBody whenever using a backdrop. It's not an idea solution, but it should work. Thanks for pointing this issue out!

[2016-03-29 03:06] #17 closed

[2016-03-29 03:12] benmarch commented on #22
I played around with this a bit over the weekend, but because of its complexity, and the fact that the UI team is already working on it, I am going to leave it to them. Thank you for your interest in this plugin!

[2016-03-29 03:12] #22 closed

[2016-03-29 03:26] dander401 commented on #17
I think that's a great solution as long as you are using angular uis pop over.

[2016-03-29 13:07] cesarcosta99 commented on #27
Hey @benmarch, I installed and worked as expected in my project, but I saw you added the hotkeys and they didn't work for me. I'll close this issue since preventing scrolling problem was solved. Thanks!

[2016-03-29 13:07] #27 closed

[2016-03-29 13:17] benmarch commented on #27
Sweet, thanks! I'll look into and option to prevent interaction during the tour. The hotkeys are disabled by default, but if you set useHotkeys to true it should work.

[2016-03-31 18:45] benmarch commented on #28
Hey @AlexanderVielhauer, I have added a new experimental feature that will allow you to create what I am calling a "detached" tour (a tour that is not tied to the DOM). You can create tour steps exactly as you do now, except you would add a `tour-step-belongs-to="<tourName>"` attribute that would scope it accordingly. The feature is currently in the 28-detached-tour branch: https://github.com/benm

[2016-03-31 23:13] AlexanderVielhauer commented on #28
Hi @benmarch, this sounds awesome! I am quite happy with my current solution (one big tour). The problem with multiple tours is that it needs all the triggers on the UI for the different tours, which I figured out would make my UI pretty loaded. However, I might test it out once I have some time to; but better not rely on that. :P

[2016-04-01 18:04] cesarcosta99 opened #35 "Popover doesn't appear if element is disabled"
Hey @benmarch, if I have a step in an element with `ng-disabled` that catches `true` or `disabled="disabled"` the popover doesn't appear, like:
[code]
The backdrop of this element and the other popovers are shown normally.

[2016-04-02 04:26] benmarch commented on #35
Hey @cesarcosta99, this is actually an issue with the Angular UI Tooltip directive; it uses DOM events to trigger tooltips, which don't fire on disabled elements: https://github.com/angular-ui/bootstrap/issues/1025

Probably best to just wrap the button in another element and put the tour step on that, or use other means of preventing the button's action. Sorry for the inconvenience, I know this i

[2016-04-02 04:26] #35 closed

[2016-04-02 21:11] benmarch commented on #28
Sounds good, released 0.5.0. Let me know if that works for you when you have chance.

[2016-04-02 21:11] #28 closed

[2016-04-02 21:11] benmarch commented on #29
Released in 0.5.0.

[2016-04-02 21:11] #29 closed

[2016-04-02 22:19] cesarcosta99 commented on #35
Relax @benmarch, it's not your fault, I realized that was a angular-ui problem after submit this issue, but thanks anyway! :+1:

[2016-04-03 22:28] stodolos opened #36 "The demo is broken (probably b/c of 404s)"

[2016-04-03 22:35] #36 closed

[2016-04-03 22:35] benmarch commented on #36
Thanks, @stodolos! Just fixed it.

[2016-04-03 22:46] stodolos commented on #36
sweet!  Thanks!

[2016-04-05 13:57] chillyistkult opened #37 "TemplateUrl is missing in TourConfig"
Maybe I miss something but in the TourConfig provider there is no option to set the templateUrl and I am not able to change the template as it's mentioned in the README.

[code]

[code]

Do you have some advice?

[2016-04-05 14:03] benmarch commented on #37
Hey @chillyistkult, it does appear to be missing from the uiTour directive. I will add that and release 0.5.1 shortly. It should work if you set it on the TourConfig though. I will respond back when I have completed the release, thank you for bringing this to my attention!

[2016-04-05 14:21] chillyistkult commented on #37
You are right it works if I set it on the TourConfig, but would be really great to also have it on the directive. Thanks for your fast response.

[2016-04-05 14:40] #37 closed

[2016-04-05 14:41] benmarch commented on #37
0.5.1 is all set, let me know if it is working for you.

[2016-04-05 14:46] chillyistkult commented on #37
It's working on the directive now thank you!

[2016-04-05 14:50] chillyistkult opened #38 "TooltipClass option on directive doesn't work"
Unfortunately I have another issue with the tooltip class option on the ui-tour directive.

[code]

I can't even find any reference in the `angular-ui-tour.js` which is dealing with this property. Is it just missing or do I miss something?

[2016-04-05 15:00] benmarch commented on #38
Hey @chillyistkult, sorry for these issues, it looks like I copied a lot of the documentation over from Angular Bootstrap Tour but didn't implement some of the features yet. This one will be a bit tricky, and I may need to change it from "tooltipClass" to just "class". I will have this one fixed by this time tomorrow. Let me know if you find any other issues and I can address those as well.

[2016-04-05 22:49] #38 closed

[2016-04-05 22:51] benmarch commented on #38
Just released 0.5.2 and changed the option to "popupClass" which should work in the config provider, uiTour directive, and tourStep directive.

[2016-04-05 22:52] benmarch opened #39 "Tour step titles are missing when updating to Angular UI Bootstrap 1.3.0"
There was a change made in AUIB 1.3.0 that causes the popover titles to be undefined and not to display.

[2016-04-05 23:02] #39 closed

[2016-04-05 23:05] benmarch commented on #39
UI Bootstrap changed the attribute name of the title from "title" to "uibTitle". Updated to use the new attribute and added a shim for the old one.

Here is the PR in UI Bootstrap that made the change: https://github.com/angular-ui/bootstrap/pull/5721

[2016-04-05 23:06] benmarch commented on #38
Actually, use 0.5.3 instead, fixed another issue.

[2016-04-11 04:06] ronnyek opened #40 "Ability to manually insert or append tour with manual options"
Is there anyway to say add a step pointing at this html element id? I've got elements shared across many pages, and want to have tour steps on the first page, but not any subsequent pages.

I love how you define steps in the demos, would just prefer not to have them bound on the shared template, and call that out as additional steps, or something.

[2016-04-11 04:14] ronnyek commented on #40
Actually I see reference of tour steps being able to be defined in config blocks, do you have an example of that?

[2016-04-11 11:15] amanraghubansi opened #41 "Prevent scrolling true,Backdrop"
1.On start i am making prevent scrolling true but when coming to same step, after going forward and back by 1 step, prevent scrolling was not working.
2. backdrop is not covering entire page..it is covering only current viewport...
pasting below code for above 2 points:

[code]

[2016-04-11 15:29] benmarch commented on #40
Hey @ronnyek, currently there is no way to add steps imperatively with this library. I was resistant to this concept for a long time because imperative Javascript, while easy to write, is a PITA to understand and debug. I would be willing to add this feature as a "swim at your own risk" sort of deal, but I am not sure if it would be possible using UI Bootstrap which requires the directive to be pr

[2016-04-11 15:35] benmarch commented on #41
Hey @amanraghubansi, I copied your tour step into my testing environment and it appears to work as expected. Are you seeing any errors in the console? Also, you can remove `tour-step-scroll-into-view="true"` since that is the default setting.

[2016-04-11 16:22] ronnyek commented on #40
Well the HTML Elements would exist at the time of the compilation, but only because the reused ui is effectively like server side includes... (probably hardly a use case most people would need). In any case, I think I could probably get around it by having some additional check or something as to whether or not to include a step on the tour. If tour-step declarative definition has a disabled or so

[2016-04-11 16:28] benmarch commented on #40
There actually is a `tour-step-enabled="{{shouldStepShow}}"` option for tour steps precisely for this use case. I understand that you would rather not put the markup in the shared templates at all, though. If tourStepEnabled works for you that's awesome, but I will still look into adding imperative steps since I just recently caved to allowing adding imperative tours 😸

[2016-04-12 09:12] amanraghubansi commented on #41
In my environment,page is divided into 2 portions one is aside and other is page content where aside is on full page width and page content is displayed as per tabs in the aside menu.PopUp is positioning itself in arbitrary manner.

[2016-04-12 12:00] amanraghubansi commented on #41
Hi,
We are using it in mobile also.Can you please put the light on it as in responsive things are going really bad.

[2016-04-12 12:25] amanraghubansi opened #42 "GoTo function"
Hi,
I try to use goTo function,so i am calling below code  within onNext function provided by API.
uiTourService.getTour().goTo('lastStepId').......
last step is shown as expected but End tour button is not working...
Observation : When we click on end tour in last step,tour is getting terminated and started again at step mentioned in goTo function?
PFA screenshot of error.
![cropped](https://clou

[2016-04-12 19:03] benmarch commented on #41
Hi @amanraghubansi, can you upload some screenshots or screencasts of the issues? Also, do you have a public domain that this is hosted on so i can take a look? With respect to mobile, this library only supports what Angular UI Popovers support, and they do have a [disclaimer](https://angular-ui.github.io/bootstrap/#/popover) about it.

[2016-04-12 19:19] benmarch commented on #42
Hi @amanraghubansi, I don't recommend navigating inside of an onNext() hook because it breaks the flow the tour. I was able to produce a similar issue by navigating to the last step within an onNext() and it is to be expected. If you want to navigate to the last step, ensure that the order is set properly, or if you want to jump to it, create an action button that does the navigation.

[2016-04-12 19:19] #42 closed

[2016-04-12 19:21] benmarch commented on #41
By the way, if you don't absolutely need preventScrolling then it is best not to use it. In many cases removing it solves the problem.

[2016-04-14 13:46] amanraghubansi opened #43 "Current active element"
Hi,
I am  not able to get any info. in code about element on which tour step is activated currently.If you can
1. provide an option to add class dynamically to currently active host element in tour step or add static class to current host element.
2. can provide a host element object in callbacks mentioned in API i.e onNext,onPrev, onStart,onEnd, onShow, onShown etc,,,so that i can made changes as

[2016-04-14 15:48] amanraghubansi commented on #41
Hi @benmarch ,
public hosted url is  :  http://d9vzscd3uez7f.cloudfront.net/index.html#/
use account ID: 1001760
username : umraouser@gmail.com
password : afda
...Please make note of data as i will delete user login info. very soon.....
In left panel tooltips,I have used the fixed position,,,because scroll into view is a hair pulling thing for me to position tooltip in mobile and desktop view...mo

[2016-04-14 15:52] amanraghubansi opened #44 "multiple tour instances issue"
Hi,
How I will be getting the multiple tour instances object...as tour object is added to scope by API....how to get tour obj of in case of multiple tours...???

[2016-04-14 15:54] benmarch commented on #41
Thanks, @amanraghubansi, I have saved the user data if you want to delete it. I will try to take a look later today.

[2016-04-14 15:56] benmarch commented on #44
In that case you would use the uiTourService and use one of the methods in the documentation to get the tour that you want. You will probably use `uiTourService.getTourByName(<name>);` which will return a reference to the tour instance.

[2016-04-14 16:01] benmarch commented on #43
I can look into adding a class to the active tour step, that's a great suggestion, thank you! In the meantime, you can get the element by grabbing a reference to the current step and looking at the `element` property (tourStep.element). There are multiple ways to get a reference to the step... if you put a lifecycle hook (onNext, onPrev, etc) on the step itself, you can pass it in as an argument l

[2016-04-14 21:49] benmarch commented on #41
Hey @amanraghubansi I see the issue:
![screen shot 2016-04-14 at 5 31 18 pm](https://cloud.githubusercontent.com/assets/1646126/14544385/cde68142-0266-11e6-8d28-5a0f4f7cbd30.png)

I only have one suggestion, but keep in mind that this library does not _fully_ support mobile due to the nature of popovers. Try setting the placement to "top" since it looks like it will fit better above the link than

[2016-04-15 08:14] thekip opened #45 "Bump version on npm"
Currently in NPM has a diffrence between versions in the repository and in NPM.

In repository in Bower.json version is 0.5.3
In NPM in Bower.json version is 0.4.0

So npm package is outdated and must be updated.

[2016-04-15 14:45] benmarch commented on #45
I wish I could, but @findify uploaded an out-dated fork of this project before I could.

@findify, please transfer ownership back to me so that I can keep it up-to-date. Next time just ask me to upload it instead of doing it yourself.

[2016-04-15 17:15] nilagor opened #46 "Backdrop blinked between two steps with tour-step-backdrop=true"
When I switch between the two steps with `tour-step-backdrop=true` I see backdrop flashes for a split second - is lost and then reappears.
I record little demo, you can see it here - http://take.ms/iDuLK.

Can you fix this? Or maybe i do something wrong?

[2016-04-15 17:54] benmarch commented on #46
Hey @nilagor that is really interesting. Thank you for the screencast, I believe that I can fix that. For my knowledge, are you implementing anything onNext/onPrev that might delay the step loading? I will try to reproduce your environment as closely as possible.

[2016-04-15 18:02] nilagor commented on #46
@benmarch thanx for fast answer!
I didn't make anything that could affect the switching speed. Custom popup template could hardly affect it.
If you have a problem call me - I will try to make a simple working demo

[2016-04-15 18:03] benmarch commented on #46
Ok cool, I actually have noticed short delays with custom templates, but I think I can set up the backdrop so it knows if the next step also has a backdrop (in which case, just move it instead of regenerating it).

[2016-04-18 12:27] amanraghubansi commented on #41
Hi,
Do you came to know about reason why coordinates was not getting calculated correctly for top property of the popup because items in left panel are getting increased in next release and i have to take care of it.

[2016-04-18 13:51] benmarch commented on #41
It appears that it is calculating the offset based on the document instead of the viewport. I am still looking into why this is happening since it is supposed to use the viewport offset when "fixed=true".

[2016-04-18 20:29] wojciak commented on #45
@benmarch transfered - sorry for the inconvenience, I've forgot to add @findify to the package name :/

[2016-04-18 20:49] benmarch commented on #45
Thank you, @wojciak, no problem.

@thekip, NPM now contains the latest version. Please note that older versions in NPM are not the same as the Bower versions as @findify made some modifications before publishing.

[2016-04-18 20:49] #45 closed

[2016-04-20 04:00] benmarch commented on #44
Hey @amanraghubansi, did my suggestion solve your issue?

[2016-04-20 04:52] benmarch commented on #41
Hey @amanraghubansi, I have a fix for the incorrect coordinate calculation but it introduces a new dependency on [Tether](http://github.hubspot.com/tether/). Instead of trying to implement my own position library, I am just going to use that. I am going to release a patch tomorrow with some other bug fixes, and then I will release a pre-release with the Tether changes so that you can test them out

[2016-04-20 05:55] amanraghubansi commented on #44
Hi,
I have not tried for multiple tour case since then,But once i try will let you know. :)

[2016-04-20 06:00] amanraghubansi commented on #41
Hi,
Yeah sure, I will be able to do test as soon as it is available....Correct position will be calculated for cases where we have fixed position or scroll into view for left panel in my case too??

[2016-04-20 09:43] priyankabachu opened #47 "please provide a complete working sample."

[2016-04-20 13:57] benmarch commented on #41
Yes, that is what I am hoping. It appears to work on my machine, but I want to make sure it works in your app as well. I will update you with the details as soon as they are available. Thanks!

[2016-04-20 13:58] benmarch commented on #47
http://benmarch.github.io/angular-ui-tour

[2016-04-20 15:33] nathancoates opened #48 "uib-popover-popup attribute missing from tour step template"
Would you be able to add this in? Without it, the arrow on the popups don't respect the placement setting. Thanks!

[2016-04-20 15:38] benmarch commented on #48
Hey @nathancoates, I'm not quite sure what you mean. Can you provide screenshots showing the issue that you are experiencing? I don't see any documentation for that attribute on the [Angular UI website](https://angular-ui.github.io/bootstrap/#/popover), can you point me to some information about it?

Also, what version of this library are you using, and how did you install it? There was an issue w

[2016-04-20 15:55] nathancoates commented on #48
Hi Ben. Thanks for the quick reply. I'm using 0.5.3. Here's a screenshot of the ui-bootstrap docs.

<img width="1198" alt="screen shot 2016-04-20 at 11 46 50 am" src="https://cloud.githubusercontent.com/assets/3833944/14681186/16b882fe-06ee-11e6-8834-f6460814a995.png">

As you can see, when the popover is positioned bottom-right, an inline stylesheet (which I assume is loaded in by ui-bootstrap) i

[2016-04-20 16:03] benmarch commented on #48
Ah ok I see what you mean. It's really unfortunate that they did it that way, they really should have used a class instead of the directive attribute. I think I can add that safely; I will queue it up for tonight's release.

Thanks,
Ben

[2016-04-20 23:11] #43 closed

[2016-04-20 23:11] #46 closed

[2016-04-20 23:11] #48 closed

[2016-04-20 23:11] benmarch commented on #48
Version 0.5.4 includes these changes.

[2016-04-20 23:11] benmarch commented on #46
Version 0.5.4 includes these changes.

[2016-04-20 23:12] benmarch commented on #43
Version 0.5.4 includes these changes.

[2016-04-21 00:02] benmarch commented on #41
Ok I have created a branch with the changes here: https://github.com/benmarch/angular-ui-tour/tree/41-fixed-element-position

Please install that version and let me know if it works for you. I was having mixed results locally, but if it works for you I will keep it for now. Ultimately, I would like to have a simpler solution, but this should be ok for now. Please note the added dependency on Tethe

[2016-04-21 14:44] amanraghubansi commented on #41
Hi @benmarch ,
I have tried it,but it does not work in my case.PFA screen shot.
![demoimage1](https://cloud.githubusercontent.com/assets/9050585/14712850/6fa1144e-07fc-11e6-9b35-847fefc5b0a1.png)

Points to consider:
1. not working with tour step marked as fixed.
2. In side bar tour elements,if elements is not marked with tour-step-fixed='true' as doing in step 1.....Tour highlighting of element i

[2016-04-21 19:03] benmarch commented on #41
Hey @amanraghubansi, looks like it's back to the drawing board. I have another idea how to handle this, but it might take some time. It looks like the logic for the highlight window is pretty good (although it could use some work when the window is resized) so I will look into abstracting that so I can use it for the popup placement as well. Sorry for the inconvenience.

[2016-04-22 06:25] amanraghubansi commented on #41
HI @benmarch
Can you do one thing :  If you can provide some config parameter to add some class or add active class to element on which tooltip is currently being shown,,,I can temporarily make an solution for my environment..and later we can opt for correct solution. :)

[2016-04-22 20:31] benmarch commented on #41
Yep, I actually just closed out that issue with 0.5.4. Whenever a step it active, it adds the "ui-tour-active-step" class to the target element (the element on which the step is defined).

FYI, I will be traveling for work all next week so this fix might take longer than I was hoping.

[2016-04-29 18:58] #47 closed

[2016-05-05 08:37] burakkilic opened #49 "$uibPosition.viewportOffset is not a function error"
Hi;

I am getting $uibPosition.viewportOffset is not a function error if I add backdrop to a step.

     <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-4 col-xs-12" tour-step tour-step-title="Main Menu" tour-step-content="Navigate the site using this menu." tour-step-order="0" tour-step-placement="top" tour-step-backdrop="true">

What is wrong?

[2016-05-05 14:40] burakkilic commented on #49
It was about bootstrap-ui version. Sorry about that. Closing...

[2016-05-05 14:40] #49 closed

[2016-05-05 14:49] burakkilic opened #50 "Ability to remove Pause button?"
Hello;

How we can remove pause button?

[2016-05-05 14:57] themainframe commented on #50
Override the template for the popup with the `templateUrl` config option in a `config` block, or you can also use an attribute on the `ui-tour` element (`ui-tour-template-url="'some-other-template.html'"`).

[2016-05-05 19:45] benmarch commented on #50
Hey @burakkilic, @themainframe's answer is correct.

Thanks, @themainframe!!

[2016-05-07 00:20] jgutix opened #51 "removeStep doesn't verify if the step is actually in the list."
`removeStep` always removes at least one step, no matter if the step isn't actually in the list, check the line: https://github.com/benmarch/angular-ui-tour/blob/master/app/tour-controller.js#L227

That method should be changed for:
[code]

[2016-05-07 10:24] burakkilic commented on #50
Thank you @themainframe ! One more question: Where should I place this html file? Should it be in $templateCache?

[2016-05-07 11:11] burakkilic opened #52 "ui-tour-template-url doesn't work"
Hi;

    scope.$eval(attrs[TourHelpers.getAttrName('templateUrl', 'uiTour')]);

is undefined. My code is:

    ui-tour-template-url="myTooltipTemplate.html" and temaplate is:

        <script type="text/ng-template" id="myTooltipTemplate.html">
              <span>Special Tooltip with <strong>markup</strong> and {{ dynamicTooltipText }}</span>
        </script>

Where am I wrong?

[2016-05-07 16:07] benmarch commented on #52
Hey @burakkilic, myTooltipTemplate.html needs to be quoted. Please see @themainframe's answer to your other question (#50). Closing this issue as a duplicate of #50.

[2016-05-07 16:07] #52 closed

[2016-05-07 16:07] benmarch commented on #50
Hey @burakkilic, you can provide any URL to the template file, and it will look to the $templateCache first to see if it exists there.

[2016-05-10 13:26] burakkilic commented on #50
Thank you very much!

[2016-05-10 13:26] #50 closed

[2016-05-10 13:27] burakkilic opened #53 "How can I block button clicks inside active step?"
Hello;

I am using backdrop function with the steps. I have some buttons inside divs. How can I block these buttons' click functions?

[2016-05-10 14:10] benmarch commented on #53
Hey @burakkilic, for something like that I would recommend just disabling the buttons while the tour is active. There are a few ways to determine if the tour is active, but the easiest might be adding `ui-tour-on-start` and `ui-tour-on-end` hooks that emit scope events that the button controller can listen for and disable/enable when they are heard. You can also get a reference to the tour in the

[2016-05-11 08:44] sergeykolesnikov opened #54 "Cannot read property 'config' of undefined"
Hello, I have a problem, when steps on different pages have a backdrop, I have this error on change steps. For example, I have pages "/index" with step "1" and "/test" with step "2", I set next-path and next-step, it redirects me where I want, and as i see, it finds step, but then error, and backdrop not change, it holds position like at previous page. If I disable backdrop for this steps, all ok.

[2016-05-11 13:30] sergeykolesnikov commented on #54
Update: this error, when clicking "Next" and go on next page, disappeared, but I changed nothing.. But if I press "Prev" and go on previous page, it shows this error again

[2016-05-11 15:24] benmarch commented on #54
Hey @sergeykolesnikov, I was unable to reproduce the error that you reported, but I was able to reproduce the backdrop persisting in the wrong place on the next page. Can you share the tour config, as well as the config for each step involved so I can use your setup to try to reproduce the error?

Thanks,
Ben

[2016-05-12 08:11] sergeykolesnikov commented on #54
Thanks for reply @benmarch !

But problem is that even backdrop wrong placement  caused by that error "Cannot read property 'config' of undefined".. as I said in previous comment, this error disappeared for button "Next", and backdrop shows almost right, but if I click "Prev", I have an error and backdrop shows in a strange way.

This is how it shows while we on the first page
![sidebar](https://c

[2016-05-13 15:43] benmarch commented on #54
Hey @sergeykolesnikov, sorry I did not respond earlier. Could you provide the versions of Angular, Angular UI Bootstrap, and Angular UI Tour? I am still unable to reproduce the error.

Thanks,
Ben

[2016-05-16 07:30] sergeykolesnikov commented on #54
@benmarch No problem )

Angular 1.5.3
Angular UI Bootstrap 1.3.1
Angular UI Tour 0.5.4

[2016-05-17 13:44] sergeykolesnikov commented on #54
Hi, @benmarch

I saw it today:

It's in function goTo()

1) `if (getCurrentStep().config('backdrop') && !actionMap[goTo].getStep().config('backdrop')) {
         uiTourBackdrop.hide();
}`

It works when steps on the same page, but actionMap[goTo].getStep() returns 'undefined' if a redirect occured.

And I wrote "console.log(actionMap[goTo].getStep())" in your Demo Tour. After a redirect, it shows

[2016-05-18 14:25] sergeykolesnikov commented on #54
Hello, @benmarch!
I found out what's the problem with backdrop wrong placement, it's caused by slow page loading, when I put timeout in function
`$timeout(function () {
                        uiTourBackdrop.createForElement(step.element, step.config('preventScrolling'), step.config('fixed'));
                    }, 80);`
it works fine, but I'll look for better solution. I think it must be possibl

[2016-05-19 05:24] benmarch commented on #54
Hey @sergeykolesnikov, sorry for not responding for a couple days! I have created a new branch with some changes that should fix this issue. Try installing branch 54-error-on-navigate, and let me know if it resolves your issues (should address both the errors and the backdrop issue).

Thanks,
Ben

[2016-05-19 07:57] sergeykolesnikov commented on #54
Hello, @benmarch, yes, it fixed error on redirect, thanks! But, unfortunatly, problem with backdrop early calculating still remains.

And one more thing about backdrop, I have absolute footer and body not always 100% height of page, and cause of that backdrop not cover all page, I found a solution, it works for my site.. I think it must work everywhere, but when I wrote this code in your demo in b

[2016-05-19 15:31] benmarch commented on #54
Hi @sergeykolesnikov, I have noticed the issue with the backdrop not covering the entire page also, but I am no longer able to recreate the delayed position calculation. I will continue to poke at it and see if I can fix that, or at least recreate it locally.

[2016-05-20 09:01] sergeykolesnikov commented on #54
@benmarch okay, thanks! And if I'll find something I will let you know

[2016-05-29 03:48] benmarch commented on #51
Hey @jgutix, I am so sorry for the long delay, I thought I had responded to this earlier. Thank you for bringing this to my attention, I will fix it in the next release.

[2016-05-30 22:38] benmarch commented on #53
Any update, @burakkilic?

[2016-06-02 12:33] burakkilic opened #55 "Tour never ends"
Hi;

I have a tour with 14 steps. When the last step comes, next button is not hidden. Where am I wrong?

[2016-06-02 14:14] benmarch commented on #55
Hi @burakkilic, can you paste in the markup for your last step, and all of the tour config?

[2016-06-02 14:17] burakkilic commented on #55
<a class="btn btn-danger pull-left" ng-click="startTour()" tour-step tour-step-title="{{'Take Tour?' | translate}}" tour-step-appendToBody="true" tour-step-content="{{'You can watch this tour at any time by pressing this button.'}}" tour-step-order="15" tour-step-placement="bottom">{{'Take Tour' | translate}}</a>

I don't have special config.

[2016-06-02 14:20] benmarch commented on #55
Interesting, are there any console errors?

[2016-06-02 14:21] burakkilic commented on #55
No. But the other thing is, from step 3 to 14, it is included in a partial (sidebar.html) but they are shown successfully.

[2016-06-02 14:32] benmarch commented on #55
Sorry for all the questions.... does the popup on the 14th step have a "Next" button?

[2016-06-02 14:33] burakkilic commented on #55
Yes. And the template is:

    <script type="text/ng-template" id="test.html">
    <div>
        <div class="popover-content tour-step-content" ng-bind-html="tourStep.trustedContent"></div>
        <div class="popover-navigation tour-step-navigation">
            <div class="btn-group">
                <button class="btn btn-sm btn-default" ng-if="tourStep.isPrev" ng-click="tour.prev()">&laquo; {{

[2016-06-02 14:38] benmarch commented on #55
Ohh damn are you using the latest? 0.5.4? I may have made a breaking change without realizing it. Try changing `ng-if="tourStep.isPrev"` to `ng-if="tourStep.isPrev()"` and do the same with isNext().

[2016-06-02 14:41] burakkilic commented on #55
Yes it is 0.5.4 but when I did this, no button is shown.

[2016-06-02 14:48] benmarch commented on #55
Ok, I am thinking that the last step is not added properly to the tour for some reason. You can confirm that by looking at `tour._getSteps()`. Most likely it just isn't available to the tour when the step is supposed to be shown. Just make sure that the step is defined on the page before the 14th popup is shown, and that it is within the scope of the tour. Also, change `tour-step-appendToBody` to

[2016-06-08 02:59] joecoolish opened #56 "Left blackout box is not at left:0 when using 3 column layout"
I manually had to add the `left:0` to the `viewWindow.left.css` object within the `createForElement` function of the uiTourBackdrop service in order for it to be aligned to the left.  My layout is such that it was pushing the left blackout all the way to the right when `left:auto` was used.  I had to explicitly set `left:0` for it to come into view.

[2016-06-08 20:15] benmarch commented on #56
Yeah there are multiple issues with the way that both the backdrop and the steps position themselves. I think I am going to have to use a better positioning library than $uibPosition, and I will probably forgo Angular UI's tooltips and just build my own, simpler implementation. They unfortunately don't offer the hooks necessary to create a library like this one, so I have had to hack at it a bit a

[2016-06-09 00:27] joecoolish commented on #56
Sounds good.  I'm making some changes to add animating the backdrop in and out and between steps.  I'll keep you posted!

I actually wrote a tour framework several years ago, and instead of re-writing it to fit angular, I'm liking yours!  I hope you don't mind the pull requests :)

p.s.  What are your thoughts on TypeScript?

[2016-06-09 14:40] benmarch commented on #56
That's awesome! Please keep the PRs coming, I'm finding it harder to free up time to work on this so I will gladly accept contributions!

I have mixed feelings about TypeScript. I consider myself a bit of a Crockford fundamentalist when it comes to JavaScript, so static typing seems like it is the wrong direction for the language; however, coming from a C and Java background I recognize the benefi

[2016-06-09 17:19] snowyaaron opened #58 "Remove previous step when using startAt()"
So I am not sure if this is an unintended consequence or maybe I am using it wrong however if I want to startAt(200) lets say the previous button still comes up and takes me back to 199. I want to be able to startAt() and only move forwards.

[2016-06-09 20:13] benmarch commented on #56
Yes, I do really like the interfaces, and TS classes are superior to ES6 classes at the moment (access modifiers, for example). I wrote [another library](https://github.com/benmarch/decorangles) that provides a small set of decorators for Angular 1.x and ES6+, which could also be useful with TS. I would definitely like to see what you come up with!

[2016-06-09 20:18] benmarch commented on #58
Hey @snowyaaron, unfortunately, that is the expected behavior of startAt(). It was originally intended to be a way to resume a paused tour, or skip to a specific step. In order to achieve your desired behavior, you will probably have to create [multiple tours](https://github.com/benmarch/angular-ui-tour#multiple-tours), or use [`tour-step-enabled="{{somethingFalsey}}"`](https://github.com/benmarch

[2016-06-10 10:46] snowyaaron commented on #58
Would there be a way to possibly load in a new template without the Previous Button? Or can you only load in one template?

[2016-06-10 14:11] benmarch commented on #58
Absolutely, you can even have conditional templates (untested, but theoretically it should work). Just set the `tour-step-template-url` attribute which takes an Angular Expression that evaluates to a string. The expression can call a function on the scope that determines the template based on whether or not you skipped the previous steps (up to you to create the logic). Try it out and let me know

[2016-06-10 15:21] snowyaaron commented on #58
Okay but when I do this, the template for the tour does not show up:

Body level:
ui-tour-template-url="'folder/mainTemplate.html'">

Inside a Div in the Body:
ng-click="tour.startAt('200')"
tour-step-templateUrl="folder/test.html"

[2016-06-10 15:34] benmarch commented on #58
I'm not sure if this is a copy error, but `tour-step-templateUrl` should be `tour-step-template-url` and `folder/test.html` needs single quotes inside the double quotes.

What do you mean by the template for the tour does not show up? Are the templates loading into the browser properly? Any errors in the console?

[2016-06-10 16:00] #58 closed

[2016-06-17 15:52] jFensch opened #60 "Angular 2 port?"
Have you considered porting this Angular 2?

[2016-06-27 19:00] schuesslerf opened #62 "Scrolling doesn't work"
just implemented Angular Ui Tour (https://github.com/benmarch/angular-ui-tour) on my site, everything seems to work, except scrolling to the opened dialog.

I created and started the tour like that:

[code]
And the tour steps are defined like so:

[code]
Everything is shown correctly, i also managed to use my keyboard to navigate (arrow keys), setting useHotkeys to true. But the scrolling thing wo

[2016-06-28 03:55] benmarch commented on #62
Hey @schuesslerf, thank you for including the code snippets. I don't see anything glaring that would cause it not to work, are there any errors in the console? It sounds to me like the angular smooth scroll dependency is not included or not working, but I would expect an error in that case. What versions of angular and angular ui are you using? Sometimes they change something on me and I need to u

[2016-06-28 06:26] schuesslerf commented on #62
There are no errors showing in console, unfortunatelly... I'm using Angular 1.5.7 and what you mean with angular ui? I'm using angular ui bootstrap in version 1.3.3 and angular ui tour with version 0.5.4, ngSmoothScroll is on version 2.0.0... I actually tried to match the dependencies you determined in your bower.json (I installed it with npm but made sure to have all dependencies installed). But

[2016-06-29 06:39] aashhissh opened #63 "angular and angular-bootstrap version :("
Hey, i am trying to use your library but while installing it says below
Unable to find a suitable version for angular, please choose one by typing one of the numbers below:
    1) angular#~1.2.23 which resolved to 1.2.29 and is required by angular-bootstrap-tour#0.3.4
    2) angular#>=1 <1.3.0 which resolved to 1.2.29 and is required by angular-bootstrap#0.12.1
    3) angular#~1.3.0 which resolved

[2016-06-29 06:40] aashhissh commented on #63
{
  "name": "customerWebapp",
  "version": "0.0.0",
  "dependencies": {
    "angular": "~1.3.4",
    "angular-bootstrap": "~0.12.0",
    "angular-bootstrap-datetimepicker": "latest",
    "angular-carousel": "~0.3.10",
    "angular-cookies": "~1.3.15",
    "angular-resource": "~1.3.15",
    "angular-route": "~1.3.4",
    "angular-slick": "~0.2.1",
    "angular-smart-table": "~2.1.1",
    "angularti

[2016-06-29 15:59] benmarch commented on #63
Hey @aashhissh, the strange thing that I see in your first comment is: `1) angular#~1.2.23 which resolved to 1.2.29 and is required by angular-bootstrap-tour#0.3.4` which is the wrong dependency, you want `angular-ui-tour` which appears in your bower manifest. You are also going to need Angular UI Bootstrap >= 0.14.3, that is a must. If your other dependencies or app code does not support that ver

[2016-06-29 15:59] #63 closed

[2016-06-29 17:24] benmarch commented on #62
Sorry for the ambiguity, I meant angular ui bootstrap. I updated my local test environment to reflect the versions that you are using, but I am unable to reproduce the issue. I'm a little stumped as to what could cause this behavior without error. I can offer a few suggestions, but I doubt any of them are the case: Do you have any custom scrolling behavior in your app? Did you set the popupDelay t

[2016-06-29 18:54] schuesslerf commented on #62
Thanks for the suggestions, but non of them are the case.. And no, I couldn't find any syntax error....

Yeah, I will get back to you if I find any problem I caused or if I solved it.

[2016-07-05 06:25] schuesslerf commented on #62
Hello again, I'm happy to tell you that I found out why its not working: I used the minified version of ng-smooth-scroll and not the "normal" one. Including the normal one, everything now works as it should. Propably add this hint, so it's clear to use the normal version.

[2016-07-05 16:07] benmarch commented on #62
Hey @schuesslerf, thank you for figuring this out! It looks like this is a problem with ngSmoothScroll: https://github.com/d-oliveros/ngSmoothScroll/issues/57

I will make a note in the README about it, sorry for the inconvenience.

[2016-07-05 16:07] #62 closed

[2016-07-14 06:29] KuroNoDev opened #64 "Support Bootstrap 4 popover"
Bootstrap 4 uses `popover popover-{placement}` instead of `popover {placement}`
and `popover-arrow` instead of just `arrow` not making the popover arrow appear.

[2016-07-14 13:51] benmarch commented on #64
I will look into it, but Bootstrap 4 is still in alpha so it will be lower priority for now.

[2016-07-26 16:14] mindplace opened #65 "ng-class isOpen being duplicated"
Hi, we're using your tour for our site, and a syntax error keeps popping up twice per tour step:

[code]

When some tour step is on the page, here's what it looks like in the html:

<img width="467" alt="screen shot 2016-07-26 at 11 16 58 am" src="https://cloud.githubusercontent.com/assets/15573141/17145736/6f31411e-5329-11e6-87c6-e437546ab902.png">

So the issue is visible, but we don't understan

[2016-07-26 16:16] benmarch commented on #65
Hi @mindplace, I haven't noticed that before, it might be an update to Angular Bootstrap. What versions of AngularJS, Angular UI Bootstrap, and Angular UI Tour are you using?

[2016-07-26 16:32] mindplace commented on #65
Thanks @benmarch! Our versions:

AngularJS: **1.5.0**
Angular deferred bootstrap: **0.1.9**
Angular UI Tour: **0.5.4**

[2016-07-26 16:45] benmarch commented on #65
Cool, what is the version of Angular UI Bootstrap (or angular-bootstrap) that you are using?

[2016-07-26 17:10] mindplace commented on #65
We're not actually using angular-bootstrap or requiring it anywhere.

[2016-07-26 17:27] benmarch commented on #65
Ah ok, so this library requires angular-bootstrap. Can you go into bower_components/angular-bootstrap and check the version in the bower.json manifest? If they updated it recently in a way that broke AUIT I should be able to fix it fairly quickly. I just want to make sure its not another issue. Can you also paste the entire bower manifest for your application here?

[2016-07-26 18:09] mindplace commented on #65
Sure, here's the contents of the bower.json file:

[code]

Should it require `angular-bootstrap` as a dependency?

[2016-07-26 18:27] benmarch commented on #65
Thanks @mindplace, nothing sticks out as a possible dependency clash to me (that's good). I am still going to need to know the version of angular-bootstrap that was pulled into your project. Even though you do not directly depend on it, it is pulled in as a transitive dependency because AUIT depends on it. If you go into `bower_components/angular-bootstrap/` and open up `bower.json` it will tell y

[2016-07-26 18:43] mindplace commented on #65
Hey @benmarch, sorry about that! Here's the contents of the bower.json file from `bower_components/angular-bootstrap/`:

[code]

[2016-07-26 20:28] megabyzus commented on #65
We just downloaded this a few minutes ago (bower) and set it up. Albeit different from the OP, we are getting script link errors as well on initial load.

Our versions:
- angular.min.js (CDN)  1.5.6
- angular-ui-tour: 0.5.4
- angular-ui-bootstrap: 2.0.0

..amongst other related libs like ui-router and ngAnimate, etc.

We are getting the error below (BTW, URI's too large for errors.angularjs.org we

[2016-07-26 20:31] benmarch commented on #65
I can probably get to it tomorrow and if things go smoothly release tomorrow night or Thursday. Out of curiosity, does your build work if you use angular-ui-bootstrap 1.3.3?

[2016-07-26 20:38] megabyzus commented on #65
Unfortunately, it does not. 1.3.3 exhibits the similar error.

[2016-07-26 20:42] benmarch commented on #65
Ok, I think that might be a different issue. If you comment out the angular ui tour script tag do you still get the errors? I almost sounds like you might be pulling angular in twice (CDN and Bower)? I'm not sure if it is related to this library directly, it might be a transitive dependency. Without a full error message, it is difficult to diagnose. I will work on the angular ui 2.0 bug ASAP, but

[2016-07-26 21:00] megabyzus commented on #65
Yes, app loads properly with the angular ui tour script tag (and bm.uiTour module) commented out.

[2016-07-26 23:28] megabyzus commented on #65
Hi, I was able to load 'clean' (I haven't tested anything to see what breaks). I ran the load process through the debugger and a module instantiations fail sequence is:

bm.uiTour->ngSanitize->"Module 'ngSanitize' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument."

So something is r

[2016-07-27 00:41] benmarch commented on #65
I am so sorry @megabyzus, you are correct, it is missing from the documentation. Thank you for debugging this for me, I will add it to the README right now. Again, I am very sorry for the confusion.

[2016-07-27 00:49] megabyzus commented on #65
This is a very useful tool and I'm happy to help.  Many thanks for your efforts.

[2016-07-27 00:52] benmarch commented on #65
I updated the README, and I made it programatic so that this won't happen again in the future :)

[2016-07-27 00:55] benmarch commented on #65
@mindplace, I was able to easily reproduce the issue while testing: https://travis-ci.org/benmarch/angular-ui-tour

I will have this fixed by tomorrow evening.

Thanks,
Ben

[2016-07-27 12:56] megabyzus commented on #65
@benmarch I think now another (the main one) item is missing in the doc:

<script src="js/angular-ui-tour/angular-ui-tour/dist/angular-ui-tour.min.js"></script>

[2016-07-27 13:54] megabyzus commented on #65
@benmarch I think now another (the main one) item is missing in the doc
`<script` src="js/external/angular-ui-tour/angular-ui-tour/dist/angular-ui-tour.min.js"></script>

[2016-07-27 14:22] mindplace commented on #65
hey @benmarch thank you so much for your help! I added `angular-bootstrap 1.3.3` to our dependencies and the syntax error is gone. Are you going to have `angular-ui-tour` explicitly require 1.3.3 in the future?

[2016-07-27 14:27] benmarch commented on #65
@megabyzus just fixed that, thank you for noticing!

@mindplace, my goal is to keep this working with as many versions of Angular Bootstrap as possible until I completely remove the dependency (which is currently a work in progress) so I will keep it as ">=0.14.3".

[2016-07-27 16:00] benmarch opened #66 "Remove dependency on Angular UI Bootstrap"
I know that this library was created to use UIB, but they change their tooltip/popover implementation too often for me to keep up. Also, there are known issues with position popovers in certain conditions, particularly on `position: fixed;` elements. I am either going to find a standalone popover library that lets me customize the UI so that it looks like it does currently, or I will create a very

[2016-07-27 16:08] benmarch commented on #65
Ignore my last comment, I just looked through the source code for v2.0.0 and they made big changes. Since there is no easy way to determine the version of UIB programmatically at run time, I am going to lock in the allowed versions for now. I created #66 to fast-track the removal of the UIB dependency because I can't keep making adjustments every month to keep up with them.

I released version 0.5

[2016-08-03 20:07] novakben commented on #49
I'm facing this exact same issue now:
[code]

But only when adding the ```tour-step-backdrop="true"``` directive.
Any suggestions?

[2016-08-03 20:09] benmarch commented on #49
Hey @novakben, what versions of Angular, Angular Bootstrap, and Angular UI Tour are you using?

[2016-08-03 20:43] novakben commented on #49
Hey @benmarch :)
[code]
and resolutions:
[code]
Cheers!

[2016-08-05 15:30] benmarch commented on #49
Ah ok, it's because of the angular-bootstrap version. It looks like I made a mistake with the allowed version range (1.0.0 should be the lowest allowed version.) If you can upgrade to angular-bootstrap 1.x.x it will work, otherwise you will have to wait for #66 because there are other issues with angular-bootstrap versions. Sorry for the inconvenience, I am working as quickly as possible to resolv

[2016-08-09 14:38] chillyistkult commented on #65
I doesn't work and I would say if you have time you don't need to determine the UIB version programmatically, just adapt to the newest release (because thats what most people will use) and praise that they won't break backwards compatibility in the near future again. But thats more of a general problem when you depend on other libraries.

For the record we use UIB v2.0.1.

[2016-08-09 16:03] chillyistkult opened #67 "When I pause the tour backdrop does not hide"
Did I missed something or how it is supposed to work? So I pause the tour via `tour.pause()` and the popover closes but the backdrop is still in place. Doesn't seemed to be covered in

[code]

Shouldn't there be something like

[code]

[2016-08-09 16:11] benmarch commented on #65
That's true, but based on my experience, and many of the issues raised, people tend not to upgrade their deps very frequently. Especially when it is a major release. I will continue to support 1.x for a little while, and work on either removing the dependency entirely, or finding a better way to integrate it.

[2016-08-10 20:31] s8132 opened #68 "Multiple tours with multiple steps"
Hi,
I try create multiple tours with multiple steps and I have problem. I created two tours and first tour is ok, but when I start second tour I can't go to second step in second tour (error in the picture).

[code]

[code]

![zrzut ekranu 2016-08-10 o 21 59 01](https://cloud.githubusercontent.com/assets/1121745/17568830/c21f7c4c-5f45-11e6-8b46-2c5cb0ac7e4f.png)

In "reviewTour" tour show only fir

[2016-08-16 09:51] gauravarora commented on #66
Maybe you could just drop support for angular-bootstrap 1.x in v1.0.0? That way you just need to maintain one version.

[2016-08-16 21:24] benmarch commented on #65
Hey guys, sorry for the delay. I gave up on trying to remove Angular Bootstrap for now, so version 0.6.0 supports Angular Bootstrap 2.

[2016-08-16 21:24] #65 closed

[2016-08-16 21:24] benmarch commented on #67
Fixed in 0.6.0.

[2016-08-16 21:24] #67 closed

[2016-08-16 21:37] benmarch commented on #68
Hey @s8132, sorry for the delay. What versions of AngularJS, Angular Bootstrap, and Angular UI Tour are you using? I will attempt to recreate the issue locally.

[2016-08-17 02:44] s8132 commented on #68
Versions:
- angular: 1.5.7
- angular-bootstrap: 1.1.2
- angular-ui-tour: 0.5.5

I found second bug. If I set tour-step-template-url option then sometimes step has wrong position.

[2016-08-17 19:12] benmarch commented on #68
Hey @s8132, I used your code to add a detached tour to my demo site and called the goToReviewTour() function and it appeared to work correctly for me. Are your tour steps loaded into the DOM and compiled by Angular prior to starting the tour? Try doing the following:

[code]

For the template issue, try preloading the template into the $templateCache. If that works then there might be a bug relate

[2016-08-17 19:14] benmarch commented on #44
Hey @amanraghubansi, any update on this?

[2016-08-17 19:14] benmarch commented on #41
Hey @amanraghubansi, can you try this again with Angular Bootstrap 2.x and Angular UI Tour 0.6.0?

[2016-08-17 19:16] benmarch commented on #53
Closing this as not a bug.

[2016-08-17 19:16] #53 closed

[2016-08-17 19:43] #51 closed

[2016-08-17 19:43] #54 closed

[2016-08-17 20:14] benmarch commented on #55
Hey @burakkilic, any update on this?

[2016-08-18 18:30] benmarch commented on #60
Hey @jFensch, I just noticed that I never responded to this, sorry about that. The first step here would be porting to ESNext or TypeScript. After that, I would have to see how to support both ng1 and ng2 using the same codebase. I'm sure it is possible, I'm just not familiar with it yet.

[2016-08-24 05:59] amanraghubansi commented on #44
Hi,
As application  was SPA so instead of using multiple tours i have used single tour only and have started tour at given step as per my requirement.

[2016-08-24 06:01] amanraghubansi commented on #41
Hi,
I will try but it will take some time as i am occupied with some other tasks.

[2016-08-26 04:10] rajasaur opened #70 "Handling Conditions before onNext"
I havent tried the library yet, but just looking at the features to make sure it works for our Angular 1.x SPA.

I would like to make sure that the user has filled in certain values (or selected from a dropdown etc) before she can move to the next step. I did not see examples for this, but browsed over the documentation. Is onNext the place to handle this, i.e. check the scope of the main page and

[2016-08-27 04:20] bondseid opened #71 "Define steps in config block"
I believe there was a previous topic on this, but will you be adding support for steps configurable in the config blocks rather that directly as html directive elements?

[2016-08-30 14:40] megabyzus opened #72 "Getting parse.syntax error on tour start inside my directive"
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.5.8
* Angular Bootstrap: 2.1.2
* Angular UI Tour: 0.5.4

**I have installed this library via: CDN:

`        <script type="text/javascript" src="https://cdn.rawgit.com/d-oliveros/ngSmoothScroll/v2.0.0/lib/angular-smooth-scroll.js">
        </script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.

[2016-08-30 14:44] benmarch commented on #72
Hi @megabyzus, you will have to update this library to 0.6.0 in order to use Angular Bootstrap 2.x.

This library does work well with SPAs, and I have seen examples of UI Router integration in the wild; I'll see if I can track one down.

[2016-08-30 14:44] #72 closed

[2016-08-30 14:46] megabyzus commented on #72
@benmarch,  thanks for the prompt reply.  I'm using AJS 1.5.8.  Does this still require ui-tour 0.6.0?

[2016-08-30 14:48] benmarch commented on #71
Hi @bondseid, unfortunately this is very difficult because it relies on Angular Bootstrap's popovers, which means the popover directive must be on the element when Angular compiles it in order to work. This would require a DOM listener that would look at every DOM node inserted event and add the proper attributes when it finds a target, then compile it. This could result in slow performance and po

[2016-08-30 14:48] #71 closed

[2016-08-30 14:49] benmarch commented on #70
Hi @rajasaur, sorry for the delayed response. I haven't tried to do anything like that, nor have I seen it set up that way by another developer, but it sounds very reasonable to me. I will try to add it to the demo.

[2016-08-30 15:56] megabyzus commented on #72
@benmarch Again, thanks.  For ui-router based SPAs what do you recommend as a ui-tour strategy? Separate ui-tour per router state, or a single ui-tour at body?  Apologies asking this here.

[2016-08-30 16:04] benmarch commented on #72
It depends on your use case. If you want a single, flowing experience, use a single tour. If you want separate instructions on each page, use multiple tours. I would ask myself how many times I would like the user to trigger tours. Although, even if you go with multiple tours you can programmatically trigger each one when the previous one ends, so it wouldn't be restrictive if you go that way. UI

[2016-08-30 19:03] megabyzus commented on #72
Thanks.  Many of the directives in SPA have corresponding partials that require tours.  However, these partials are often instantiated via AJS ng-if conditionals. Will ng-if's tour-steps, deep within the bowls of the APS work under as <body ui-tour....>? A cursory test shows that the ui-tours have to be within the same ng-if block for the tour-steps to work?  Thoughts?

[2016-08-30 19:45] benmarch commented on #72
The steps should be ok if there is a single tour set on the body. Angular automatically compiles templates added by ngIf, and the steps are registered after compilation (conversely, they are unregistered when removed from the DOM). Since the steps don't use the scope, they shouldn't have to be within the same ngIf as the tour; however, if you are trying to access the tour or the tour step from the

[2016-08-30 20:35] megabyzus commented on #72
Thanks.  So this is what I'm finding: I am successfully starting `<body ui-tour=...>` (`ui-tour-on-ready` is triggered), once, at some point later, the directive deep within the SPA is born (by some ngIf flag),  I have to $timeout(0) wait for angular to digest that flag and create the DOM (and the tour-steps within) and then start() (not resume()) the tour again for that tour-step to show:

[code]

[2016-08-30 20:37] benmarch commented on #72
When you start it the first time is there already an active step? Does the next step enter the DOM while a step is active? Is the order of the seconds step later than the first?

[2016-08-30 20:42] megabyzus commented on #72
@benmarch No,  the popover (tour-step) does not show the first time in the unborn directive.  It does show if I move the tour-step outside of an ngIf.

[2016-08-30 20:43] benmarch commented on #72
Can you provide a code sample?

[2016-08-30 20:53] megabyzus commented on #72
I'll work on a plunkr.  But before I do that, just want to confirm the code I've provided above is not sufficient to debug.  Please confirm.

[2016-08-30 20:57] benmarch commented on #72
It's a little out of context. I would like to see the markup and config. It might have more to do with timing: as steps appear, they are added to the tour, and tour navigation uses the most current step list. If the tour is started before the step exists, it will just end. If you navigate from the last step before the next one exists, it will also end.

[2016-08-30 23:04] megabyzus commented on #72
@benmarch here's a simple [plunkr](https://plnkr.co/edit/80RN2V) that simulates the question.
I have added a note inside index.html that summarizes previous notes.

I have started a tour on `<body ui-tour>` within my top level app controller.

**Scenario 1** (this is my scenario): I also have a tour-step(id=1) within an uninstantiated `<sample-directive>` (ng-if). The associated tooltip doesn't sh

[2016-08-31 05:18] benmarch commented on #72
I think I understand your issue now, it has to do with the Angular lifecycle. Elements marked with ngIf are removed from the DOM when the value is false. That means that Angular--and therefore UI Tour--is unaware of the directives in the subtree. Any tour steps inside a falsey ngIf are essentially nonexistent. Since you start the tour before the ngIf is truthy, the tour starts with no steps, and t

[2016-08-31 15:51] megabyzus commented on #72
@benmarch , thanks for your comprehensive and very helpful response.  Your first paragraph is what I suspected exactly.  Also, in the context of moving from state to state we often pass $stateParams and the next state behaves depending on those $stateParams.  Is the 'nextPath' in tour able to handle these?  For example what is the nextPath equivalent syntax for:

$state.go('statename', {opt1:'1',

[2016-08-31 15:58] benmarch commented on #72
Interesting, there is currently no way to do that easily. I can create a simpler API to handle async steps in the next release. For now, set nextPath to anything and create an onNext handler. In the handler, call tour.waitFor(nextStepName) which will pause the tour and wait. Then execute $state.go(..) and return a rejected promise. tour.waitFor() is not documented because it isn't intended to be u

[2016-08-31 16:01] benmarch opened #73 "Create a simpler and more flexible API for handling navigation to steps that are not yet compiled."
This would be useful for steps that need to be brought in after a user action or navigation. The current API relies too heavily on specific router implementations, and is therefore not flexible enough to handle many common scenarios. There should be a very simple way to inform a step that there is a next/prev step that is not yet registered with the tour, and implement some logic to move from the

[2016-08-31 16:16] megabyzus commented on #72
What if I keep UiRouter false and, to go to the next state, I construct the required URL for that state and pass it to nextPath?  Will uiTour work?

[2016-08-31 16:18] benmarch commented on #72
Theoretically that would work. All UI Tour does is call $location.path(nextPath) and wait for the next step to register itself.

[2016-08-31 16:22] megabyzus commented on #72
Ok, thanks.  Considering your almost assuredly busy calendar, when do you expect to enable $statParam functionality?

[2016-08-31 16:46] benmarch commented on #72
So my plan is to create an open API that makes no assumptions. So you would basically set a flag on the step that indicates that the next step must be loaded, and you would call $state.go(..) in the onNext handler for that step. That will give you full freedom to handle it how you want, it will even work without navigation (flipping an ngIf, for example). I will have that ready early next week as

[2016-08-31 16:48] megabyzus commented on #72
Roger that.  Thanks!

[2016-08-31 20:32] megabyzus commented on #72
As an update, uiTour does go to the absolute URL to change from stateA to stateB without setting the `useUiRouter` flag.  However,  there seems to be an issue that is related to our previous conversation regarding instantiation of directives.  My stateB has N directives (with possible parent-child relationships) that are born at the 'same time'. If I put `tour-step` ids 0..N in each of these direc

[2016-09-01 13:48] benmarch commented on #72
Hey @megabyzus, sorry for the delay, I typed out a response but apparently never clicked the Comment button...

I'll say first that I don't recommend starting the tour automatically without user input, this is generally considered a bad user experience. However, if you have to do that, only start the tour when the first step is added, never start it more that once (that will technically just resta

[2016-09-01 16:18] nicolairobles opened #74 "Angular-Ui-Tour Module Failing to Load into Application"
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.4.7
* Angular Bootstrap: 0.12.1
* Angular UI Tour: file doesn't state

**I have installed this library via:** NPM

**I have observed the following behavior:**
angular.js:68 Uncaught Error: [$injector:modulerr] Failed to instantiate module app due to:
Error: [$injector:modulerr] Failed to instantiate module bm.uiTour du

[2016-09-01 16:38] benmarch commented on #74
Hey @nicolairobles, if you are using UI Tour 0.6.x then you have to bump up to Angular Bootstrap 2.x. If you are using UI Tour 0.5.x then you need Angular Bootstrap 1.x. Older versions of UI Tour support Angular Bootstrap 0.12.1, but support has been dropped. Check the package.json file under node_modules/angular-ui-tour to see the version.

[2016-09-01 16:38] #74 closed

[2016-09-01 22:50] houston88 opened #75 "Popover Animation not working"
AngularJS: 1.5
Angular Bootstrap: 1.3.2
Angular UI Tour: 0.6.1
Installed via bower.

**I have observed the following behavior:**
Popovers do not animate or fade in or out, even when specifying animation true.

**This is how I expected it to behave:**
I was expecting fade in and out similar to ui bootstrap popovers that specify popover-animation="true"

**Here is my tour config, and all related ste

[2016-09-02 12:36] ventralnet opened #76 "Allow ability to specify backdrop padding"
It would be nice to be able to add a little bit of padding when a backdrop is highlighting a tour-step element.

If your element has rounded corners, not having padding makes it look a little funky.

ui-tour-backdropPadding would be nice

[2016-09-02 14:55] benmarch commented on #75
Hey @houston88, UI Tour 0.6.1 is not compatible with Angular Bootstrap 1.3.2, which might be the cause of the behavior that you have observed. Try upgrading Angular Bootstrap to 2.x, or downgrading UI Tour to 0.5.x. Please let me know if that helps.

[2016-09-02 15:09] benmarch commented on #76
Hey @ventralnet, I like this idea, but it might not be a trivial enhancement. The backdrop consists of four divs that need to be perfectly aligned so that the backdrop feels like one contiguous overlay. Adding padding would require the calculations to be made a bit different. This is certainly possible, but if this is a really desirable feature then I would prefer to do it right the first time and

[2016-09-02 15:19] ventralnet commented on #76
@benmarch actually that is a pretty good idea to factor it out into its own library.

I did look at how you are creating that back drop and noticed the strategically placed divs.  I wonder how the native bootstrap tour library is doing it because it looks like the over layed element 'window' can have rounded corners

[2016-09-02 16:17] houston88 commented on #75
Yup, that was it. I upgraded and the fade in/out is working. Now just trying to see if upgrading angular-bootstrap broke anything else in my app... did not notice anything right off the bat. Thanks!

[2016-09-02 16:17] #75 closed

[2016-09-03 03:06] benmarch commented on #75
Awesome! Sorry for the inconvenience, i didn't intend on dropping support for Angular Bootstrap 1.x but they made very significant changes that i couldn't shim easily.

[2016-09-03 03:19] houston88 commented on #75
Oh yeah, forgot to mention earlier, you may want to update readme, it says something like IMPORTANT: Does not work with Angular Bootstrap 2.0.0 or later.

[2016-09-03 03:32] benmarch commented on #75
Good call, I'll update it this weekend, thanks!

[2016-09-06 16:59] benmarch commented on #76
I looked into the Bootstrap overlay as well, but their implementation is much simpler: they create a single div that covers the entire screen, and then place elements on top of it. My goal was to create a pass-through window so that the underlying feature would still be exposed to user interaction. Originally, I did use exactly what Bootstrap uses and cloned the target element, then positioned it

[2016-09-06 17:02] ventralnet commented on #76
Sounds great @benmarch .  If I end up having some spare time I can take look at it.

[2016-09-07 07:56] coskuntekin commented on #50
need to update

`data-tour-step-template-url="'tour-step-other-template.html'"`

[2016-09-08 10:46] solidevolution opened #77 "Tour always skips second step"
**I am using the _exact_ versions of the following libraries:**
- AngularJS: 1.4.8
- Angular Bootstrap: 1.1.0 (2016-01-18)
- Angular UI Tour: 0.5.0 or 0.6.1

**I have installed this library manually from dist folders, build with gulp

**I have observed the following behavior:**

I created 3 steps, first step appears, after I click on next, third step appears. ui-tour completely ignores the second

[2016-09-08 14:13] benmarch commented on #77
There was an issue like this way back in version 0.3.x that got resolved, I wonder if I reintroduced it somehow. Can you try installing UI Tour 0.5.5 to see if that works? That was the most recent release that supports your version of Angular Bootstrap.

[2016-09-09 08:05] solidevolution commented on #77
Gave it a try, same with 0.5.5 ...

Maybe this list of integrated vendor modules will help you find the issue

[code]

We also use gulp-template-cache to create the templates in js

[2016-09-17 11:49] Disane87 opened #78 "Ui-Tour on body in mainview and ui-steps in child views/routes"
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.5.0
* Angular Bootstrap: 1.1.2
* Angular UI Tour: 0.6.1

**I have installed this library via:**
manually via download

**I have observed the following behavior:**
I have a SPA with a defined index.html:
[code]

Via ng-route I include views to that ui-view div, where my ui-steps should be.

With this config, I get error

[2016-09-17 13:30] Disane87 commented on #44
@amanraghubansi How did you achived this? I have a SPA as well and I want to initiate a tour on my main view and the steps in other (child) views.

[2016-09-17 16:23] Disane87 commented on #78
Not it works. Sorry for bothering you! Now I use detached tour to get this working.

[2016-09-17 16:23] #78 closed

[2016-09-17 17:13] amanraghubansi commented on #44
@Disane87 In main view you will start tour at given point using api functions, then in sibling or child state, while transition i pass state parameter and then in new state controller i use like :
uiTourService.getTour().startAt('tourStepNameInSiblingOrChildState');

[2016-09-17 17:52] Disane87 commented on #44
perfect! I gonna check that :)

Mit freundlichen Grüssen / Kind regards
Marco Franke

** Von meinem iPhone gesendet

[2016-09-17 20:39] Disane87 opened #79 "Translations"
**I am using the exact versions of the following libraries:**

AngularJS: 1.5.0
Angular Bootstrap: 1.1.2
Angular UI Tour: 0.6.1

**I have installed this library via:**
manually via download

**I have observed the following behavior:**
I have a multi-lingual page with german and english translations. So I need to translate the tour step texts as well, but that doesn't work for me.

I declared them

[2016-09-22 17:29] akholodenko commented on #55
changing` ng-if="tourStep.isPrev"` to `ng-if="tourStep.isPrev()"` fixed the issue I was having with proper step buttons not being shown when hitting the last step.

[2016-09-22 17:32] benmarch commented on #79
Hey @Disane87 sorry for the delayed response. One thing I noticed is that you are using Angular Bootstrap 1.x and Angular UI Tour 0.6.x which are not compatible. Try upgrading Angular Bootstrap to 2.x or downgrading Angular UI Tour to 0.5.x. If you still experience this issue, please let me know.

[2016-09-22 21:20] akholodenko opened #80 "End tour by clicking backdrop when useHotkeys = true"
**I am using the _exact_ versions of the following libraries:**
- AngularJS: 1.5.8
- Angular Bootstrap: 2.1.3
- Angular UI Tour: 0.6.1

**I have installed this library via:** direct download and inclusion via Rails Asset Pipeline

**I have observed the following behavior:**

When userHotkeys=true, ECS works to end tour, but can't click anywhere on the backdrop to end.

**This is how I expected it

[2016-09-26 01:34] benmarch commented on #80
Ah very interesting. The backdrop is actually designed to behave the way it does so that it blocks user input. That being said, I can understand the desire to have this functionality. I'll add an option to the next release. Thanks!

[2016-09-26 01:47] akholodenko commented on #80
Thanks a lot! Appreciate the flexibility and understanding. It's a great
tour library!
On Sun, Sep 25, 2016 at 6:34 PM Ben March <notifications@github.com> wrote:

--
Thanks,
Artem K.

[2016-09-26 07:27] stratdaz commented on #58
My page has a tabset, with specific tour steps belong to specific tabs and I was hoping to modify the tour (disable and enabled steps) based on the selected tab.

I tried expressions in "tour-step-enabled" but seems this doesn't work dynamically.

_tour-step-enabled="tabState == 1"_

Thinking my best chance is to explicitly add/remove steps on a tab click event.

Any suggestions appreciated.

Than

[2016-09-26 15:20] benmarch commented on #58
Hi @stratdaz, that should work as expected as long as `tabState` is available on the step's enclosing scope. Timing might be an issue; the expression is evaluated on step navigation, so it is possible that the state is not 1 at that time. Although you could create multiple tours, I don't really recommend it for this use case.

If you continue to experience issues, please feel free to open a new is

[2016-09-26 16:53] akholodenko commented on #80
@benmarch when do you anticipate the next release will occur?

[2016-09-26 17:37] benmarch commented on #80
I have no scheduled date, but I will have time to work on it this coming weekend. I will keep this issue updated.

[2016-09-27 00:53] stratdaz commented on #58
Thanks for your reply.

This is closer ...

_tour-step-enabled="{{tabState == 1}}"_

and now addStep and removeStep run as expected here ...

_enabledWatch = attrs.$observe(TourHelpers.getAttrName('enabled'), function (isEnabled) {
    step.enabled = isEnabled !== 'false';
    if (step.enabled) {
        ctrl.addStep(step);
    } else {
        ctrl.removeStep(step);
    }
});_

Still have an issu

[2016-09-27 01:09] stratdaz commented on #58
PS, if I set this ...

_tour-step-enabled="false"_

then the tour works as expected, correctly hiding the step. Looks like I'm doing something wrong so will keep digging.

[2016-09-28 04:00] stratdaz commented on #58
Follow up ...

I think you're right about the timing thing and "enableWatch" and "orderWatch" are stepping on each other's feet.

If I disable the "orderWatch" block of code then it works ok.

[2016-10-04 09:41] solidevolution commented on #77
Any news here?

[2016-10-04 13:31] eahousman opened #81 "Allow configuration of a tour-step through a configuration object"
It would be nice to have my config set up in my controller:

[code]

And implement the tour step using that config:

`<span tour-step tour-step-config="$ctrl.tourConfig"></span>`

Thoughts?

[2016-10-04 15:31] benmarch commented on #81
Hey @eahousman, I had this feature originally but it started muddying up some of the more complex configurations so I removed it. I'll consider adding it back one way or another.

[2016-10-04 15:32] benmarch commented on #77
Hey @solidevolution, sorry for the delay. I haven't been able to reproduce the issue at all. Is there any way I can take a look at your app so I can try to debug?

[2016-10-05 07:14] solidevolution commented on #77
Not really, it's a customer project

[2016-10-05 19:38] benmarch commented on #77
Is the second step wrapped in a ngIf or other directive that could remove the tourStep from the DOM?

[2016-10-06 14:13] ddemid commented on #29
Hello,

I would suggest using `$state.go('state');` instead of `$state.transitionTo('state');`
As transitionTo a low level version which requires passing options in most of the cases.

[2016-10-06 20:37] solidevolution commented on #77
No as you can see in the code above

[2016-10-07 13:32] ddemid opened #82 "TourHelpers.safeApply should use root scope to check digest cycle"
* AngularJS: 1.4.11
* Angular Bootstrap: 2.1.4
* Angular UI Tour: 0.6.1

**I have installed this library via:** Bower

**I have observed the following behavior:**

Event callbacks aren't working inside directives with isolated scope because of the wrong detection of current digest life cycle.

[2016-10-07 13:37] ddemid opened #84 "ui-router $state.go instead of $state.transitionTo"
* AngularJS: 1.4.11
* Angular Bootstrap: 2.1.4
* Angular UI Tour: 0.6.1
* Angular UI Router: 0.2.18

**I have installed this library via:** Bower

**I have observed the following behavior:**

Relative state change is not working because there is no way to pass parameters to nextStep and prevStep.

[2016-10-07 16:48] #84 closed

[2016-10-07 17:16] benmarch commented on #82
Released version 0.6.2 with your changes. Let me know if everything is good.

[2016-10-10 11:11] ddemid commented on #82
Thank you

[2016-10-10 11:11] #82 closed

[2016-10-13 09:05] piernik opened #87 "StepID"
I'm using `stepChanged` event. It passes whole next step.
I use it to save current step to server.
But it doesn't have index in it.  And I didn't used `id` in DOM.

It's a suggestion. If `id` attribute isn't set why not use `ui-step-`+step.order which is (in general) unique? Now id is the same for every step.
This way You don't have to name id`s of steps.

Or even better pass index to current step

[2016-10-13 09:22] piernik opened #88 "Repositioning"
I often have situation when popovers are wrongly positioned.
It happens when some parts are loaded by ajax.
Is there a possibility to calculate positions once again?

I'm using appendToBody

[2016-10-13 10:16] piernik opened #89 "preventScrolling"
When I go to step with preventScrolling on and the go back to step without that attribute scroller is not appearing

[2016-10-13 11:36] skalamichal commented on #68
Hello,

I have similar issue (maybe the same) - I try to use multiple tours to teach the user to work with our SPA. I'd like to display different tour for each view, so I created multiple detached tours. When I run the detached tour with:
[code]
I get following error:
[code]
I was able to track down the issue - one element visibility is controlled via the ng-if directive. And when the tour goes to

[2016-10-13 16:06] benmarch commented on #88
Hey @piernik, there are some known positioning issues, mostly they come from the Angular Bootstrap $uibPosition service. I have corrected some of them but not all. I also don't have access to any sort of "reposition" method since that's all handled by Angular Bootstrap. I am currently working on removing the UIB dependency, but it is proving to be a difficult task. I will keep you informed.

[2016-10-13 16:07] benmarch commented on #89
I will look into this, I think I see the issue.

[2016-10-13 16:12] benmarch commented on #87
I will add the documentation about the tour-step attribute and the step id.

The indexes are generally intended to be used internally for tracking purposes, it would be best to supply your own IDs to each step (in the tour-step attribute) and save them on your end. That will also allow you to save semantic IDs instead of ordered IDs which can potentially change as you add steps. You will be able t

[2016-10-13 19:24] benmarch commented on #68
Hey Michal,

Is the error occuring immediately when the tour starts, or when navigating to step 3?

If it is just when navigating, you might need to wrap the entire `.row` in an empty div and place the tourStep on that outside of the ngIf. Internally, when a tourStep is removed from the DOM (via ngIf) it also removes it from the tour, but if it is the middle of processing the step when it is remov

[2016-10-13 21:39] skalamichal commented on #68
Hi Ben,

thanks for quick response. It happens when I try to navigate from the step 3, to the next or previous step. The element is visible when the tour starts, just the visibility is controlled by via the ngIf directive. It's a bit strange, because when I list all steps from the tour (using the private _getSteps method), all steps are in the list.
I'll try to wrap the element in a new div.

Than

[2016-10-14 06:18] piernik commented on #88
I figured out what was the issue. I have directive in popover. It was rendered after position was calculated. Fixed width and height of element did the work - You can close it.

BTW. I would not abandon uib - it's up to You

[2016-10-14 07:21] skalamichal commented on #68
Hi Ben,

wrapping the element in a new div helped.

Thanks,
Michal

[2016-10-14 08:40] skalamichal commented on #68
Hi Ben,

the issue above exists in more areas, when I'm using the detached tour:
- can not use the tour-step within ng-if (I was able to fix this by wrapping the element in a new div, but it's not possible in all situations)
- can not use the tour-step within ng-include (I could solve this by including the template directly in to the page, but I don't think it's the best solution, again, it would

[2016-10-14 10:24] PimVV opened #90 "Issues with templateUrl and step navigation on detached tour"
**I am using the _exact_ versions of the following libraries:**
- AngularJS: 1.5.7
- Bootstrap: 3.3.6
- Angular Bootstrap: 2.0.0
- Angular UI Tour: 0.6.2

**I have installed this library via: Bower**

**I have observed the following behavior:**
- When I assign a custom templateUrl to the tour config, the tour step only shows the title of the step. The content and navigation are not shown.  I've st

[2016-10-14 12:22] PimVV commented on #90
I've noticed the templateUrl issue is resolved using the [angular-ui-tour step template](https://github.com/benmarch/angular-ui-tour/blob/master/app/templates/tour-step-template.html)

Still I am wondering, is only the content replaceable or is there a way to replace the entire popover?

[code]

[2016-10-14 14:10] skalamichal commented on #68
I may have the fix, works for me. Code in the tourStep directive needs to be changed from:
[code]
to
[code]
The ngIf, ngInclude, ... directive create new scope. When element is removed and compiled back the scope.tour is not referenced correctly to the detachedTour, but to the main tour. This way we always have reference to the detached tour. And it seems nothing else needs to be updated.

Michal

[2016-10-14 14:45] benmarch commented on #68
Ah good find!! Thank you, Michal! Would you like to create a PR, or would you rather I make the change?

[2016-10-14 14:54] benmarch commented on #88
Hey @piernik I'm glad you got it working!

I definitely would rather not remove UIB, but it has a bunch of known bugs with positioning, and they tend to make breaking changes often enough to require breaking changes to this library. I'm still working on it, though, and if it turns out that it's best to keep it then I will. Thanks for the feedback!

[2016-10-14 14:54] #88 closed

[2016-10-14 14:57] benmarch commented on #90
Hey @PimVV, unfortunately you won't be able to replace the entire template because Angular Bootstrap needs it to properly display the popovers.

@skalamichal also just found a bug with detached tours that might be affecting you (see #68). Hopefully we will get that patched up quickly.

[2016-10-14 17:02] skalamichal commented on #68
Hi Ben,

I can do the PR if you prefer it - but it's really small change, so what do you like best.

Michal

[2016-10-14 17:04] benmarch commented on #68
Hey Michal,

I would like to give you credit for it, so if you create the PR then your commit will always be in the repo history :)

Ben

[2016-10-14 17:14] skalamichal commented on #68
OK, will do it ;)

[2016-10-17 07:22] PimVV commented on #90
Hi @benmarch

The @skalamichal fix did the trick, thanks 👍 I'm looking forward to see this one patched up!
Issue can be closed, let me know when the patch is live!

[2016-10-21 08:53] PimVV opened #92 "Tour stops or pauses out nextPath"
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.5.7
* Angular UI Router: 0.3.1
* Angular Bootstrap: 2.0.0
* Angular UI Tour: 0.6.3

I have installed this library via: Bower

**I have observed the following behavior:**

When I add the nextPath attribute to a step, the redirect works fine using the Angular UI Router but the next step isn't shown. I assume the tour is

[2016-10-24 18:18] benmarch commented on #92
Hey @PimVV, you will need to add a couple more attributes to get it working...

To all 3 steps, add a step ID by giving a value to the `tour-step` attribute: `<div tour-step="uniqueId"...`

To step 2, add a `tour-step-next-step="step3Id"` attribute.

To step 3, add `tour-step-prev-path="previous.path" tour-step-prev-step="step2Id"`.

That should do it. Let me know what happens.

[2016-10-26 09:50] PimVV commented on #92
I've tried to apply these changes but it didn't seem to work. I've also tested this issue in an isolated testpage with the same result. Switching between step 2 and 3 ends the tour.

I have two other concerns about the extra attributes:

- What if the step before the redirect could occur on several possible pages, is it meaningful to set a prev-path on the next step?
- Is it necessary to bind next

[2016-10-27 16:26] benmarch commented on #92
It looks like with your static page that the steps are all in the same view (since the paths are both "index.test") which won't work because it waits for the next/prev step to be added after the redirect. I'm not sure what would prevent this from working if the steps are on different views. Can you paste the exact step declarations here and indicate which view each is in?

It is not necessary to s

[2016-10-28 08:30] PimVV commented on #92
Hey @benmarch, the problem was indeed the redirect only works when I'm on a different page.
I've moved the first step to the home page and started the test tour on the test page and everything worked as it should.

So I can conclude:

**For the redirect functionality to work, its necessary the next path is a different page that the current page. I assumed this was optional.**

Thanks for your help

[2016-10-28 08:30] #92 closed

[2016-10-31 20:04] benmarch commented on #90
Hey @PimVV sorry I didn't mention it earlier. This is all set in the latest release. Thanks!

[2016-10-31 20:04] #90 closed

[2016-11-03 09:53] ddemid commented on #70
Hi @benmarch,

Any luck with this? It sounds like a nice to have feature.

[2016-11-03 14:40] skalamichal commented on #70
Hi, maybe this could be useful. You can always add variables to the tour instance, which you can update on runtime and which are also available within the popup template. When the tour is executed for the first time, you can set it to false:
[code]
Then you can update the templateUrl, where the tour is added to the scope, so you can enable/disable the next button based on the `tour.continueToNext`

[2016-11-04 13:06] GeorgiyZhuravlev opened #93 "ez-ng + joint.js bug"
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.4.7
* Angular Bootstrap: 2.2.x
* Angular UI Tour: last

**I have installed this library via:** Bower

**I have observed the following behavior:**

One of the libraries - ez-ng, you're using for angular-ui-tour have a conflict with joint.js (rapid.js) library - http://jointjs.com/
Being only included as a file (not inje

[2016-11-04 18:29] benmarch commented on #93
I have no idea what would cause that. Are there any errors?

[2016-11-06 13:20] GeorgiyZhuravlev commented on #93
@benmarch no, no errors shown in the console.
I'm trying to locate exact part of the code, which produces this bug, but without success yet...

[2016-11-07 15:37] benmarch commented on #93
Thanks, @GeorgiyZhuravlev. Please let me know if you find anything, I will be more than happy to fix it on my end if I can.

[2016-11-09 22:39] benmarch commented on #68
Closing this issue as resolved by #91.

[2016-11-09 22:39] #68 closed

[2016-11-10 10:48] skalamichal opened #94 "Look for tour-step-content changes and update the tour popover content"
Hi Ben,

I added an update to the tour-step directive, which looks for the tour-step-content changes and updates the trustedContent property. I needed the update for my app, where the content is changed after the user logs in to display its name in detached tour step.

I'd like to make pull request, if you find this useful for other people as well.

Please, let me know.
Michal

[2016-11-21 17:58] kameelyan commented on #7
Wanted to point out that I'm experiencing this same issue right now. Still investigating, and I can't put my code out on the web right now, but just wanted to point it out.

[2016-11-21 18:16] kameelyan commented on #7
Ok, so it's not firing that event, but what it is firing is my form validation checks. So for some reason it's thinking the form is being submitted.

[2016-11-21 18:26] kameelyan opened #99 "Type="button" missing from all buttons in the templateCache"
In the $templateCache for the tour-step-template.html, all the buttons are missing type="button", so this is giving unexpected results within other angular libraries. In my case, form validation is occurring whenever any of the buttons are pressed.

This can be fixed, by adding type="button" to all of the buttons.

[2016-11-21 18:27] benmarch commented on #99
Thanks, @kameelyan, I will add this to the next release.

[2016-11-22 13:40] rafialikhan commented on #41
Any luck on this?

[2016-11-29 21:02] FlowerFountain opened #100 "Question re: integration with custom router"
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.5.9
* Angular Bootstrap: 2.3.0
* Angular UI Tour: 0.6.4

**I have installed this library via:** downloaded

I'm trying to integrate `angular-ui-tour` into a little project of mine and I'm
running into a minor issue regarding routing.

It's a very simple Angular 1.5 app. It basically loads some data from Firebase,
and u

[2016-12-02 18:43] FlowerFountain commented on #100
Found it!

It wasn't code from `angular-ui-tour`, but rather its dependency on `$location`
service. It places a watch on the window location and was counteracting
my url changes. The `$location` service was able to play nice with my
router when setting `html5Mode(true)`, since then we're both parsing the
url in the same way.

Thanks for making this library :)

[2016-12-02 18:43] #100 closed

[2016-12-05 17:16] benmarch commented on #100
Hey @FlowerFountain, sorry I didn't respond earlier, I was at the AWS re:Invent conference all last week. I'm glad you were able to resolve the issue.

Cheers,
Ben

[2016-12-07 09:42] VanHumbeeckA commented on #79
Hi there,

We are seeing the same kind of issues, with the 'content'-part in a ui-tour-directive.
(The 'title'-part of the tour directive is translated ok)
We are using angular-bootstrap 2.X and angular-ui-tour 0.6.x

Inside the object returnd by tour.init(), the value is translated ok, but it is not shown in the DOM.
Sometimes it is just the original translation. Or even worse: the keys only (nev

[2016-12-13 17:33] isaacplmann commented on #60
It seems like there hasn't been much traction in this direction.  I'm working on an angular2 version of the tour that draws ideas from this project.  I'll update this issue when it is ready for public consumption.  I'd ordinarily submit a PR to this library, but the codebase is different enough that I think it would be difficult to live along side an angular 1.x library.

[2016-12-16 20:02] isaacplmann commented on #60
Check out [ng2-tour](https://isaacplmann.github.io/ng2-tour/).  It's pretty bare bones right now compared to this library, but it has the basic features and is entirely written in Angular 2.

[2016-12-20 11:24] skalamichal commented on #79
Hi, this may help, I had similar issue with content update. I had to update the tour-step-directive with following code:

`
// watch for content updates
   contentWatch = attrs.$observe(TourHelpers.getAttrName('content'), function(content) {
      if (content) {
         step.trustedContent = $sce.trustAsHtml(step.content);
      }
   });
`

I put it just after the enabledWatch, before TourHelpers

[2016-12-29 13:07] Weestdudochnicht commented on #99
how long it will takes till the next release? i rly like to use the angular-ui-tour but i cant bec. of that problem

[2017-01-03 23:12] mattifh opened #101 "Step for a manual install"
@benmarch could you please provide some steps for a manual install (not through any code repository management). I have downloaded the version 0.5.5, installed it and added the dependency to my directive. However, I am unable to get the tour started and I am receiving the following error messages:

Error: [$injector:unpr] Unknown provider: TourConfigProviderProvider <- TourConfigProvider

TypeErro

[2017-01-07 14:11] VladislavIvanov opened #102 "Esc press closes my popup, when ui-tour-use-hotkeys="false". Backdrop stays active."
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.5.8
* Angular Bootstrap: 2.0.0
* Angular UI Tour: 0.6.4

**I have installed this library via:** Bower

**I have observed the following behavior:** Esc press closes my popup, but backdrop is not closed. I don't use ui-tour-use-hotkeys="true".

**This is how I expected it to behave:** I want my popup to stay active.

**H

[2017-01-09 15:27] benmarch commented on #102
Hey @VladislavIvanov, the escape key closing the popup appears to be a [UI Bootstrap feature](https://github.com/angular-ui/bootstrap/blob/master/src/tooltip/tooltip.js#L547). I can see about disabling it, or--at the very least--sync the backdrop with the popup.

[2017-01-09 16:47] VladislavIvanov commented on #102
Hey @benmarch, would you see about disabling it, will be great!
Мeanwhile, what advice will you give me to avoid it?
Thank you!

[2017-01-09 16:58] benmarch commented on #102
One thing you could do to avoid it (which is what i'll probably end up doing) is to add a keyup listener on the window when you start the tour, and if the keyCode is 27 then preventDefault(). Just make sure to remove the listener when the tour stops.

[2017-01-09 17:50] benmarch commented on #101
Everything about installing the library is available in the README. No additional steps are required other than that you will have to manually download the dependencies. Please provide additional information about the error (full stack trace would be helpful) and the versions of all related libraries.

[2017-01-09 17:53] benmarch commented on #99
Very sorry for the delay, I have been traveling for the past 6 weeks... this will be in the next release, probably later this week or next weekend. In the meantime, you can make the change locally by copying the [tour-step-template.html](https://github.com/benmarch/angular-ui-tour/blob/master/app/templates/tour-step-template.html) into your project and adding the attribute there, then either use t

[2017-01-09 17:55] benmarch commented on #94
Hey Michal, sorry for the delay. Yes, if you would like to create a PR that would be awesome. Please note that I made a large change the codebase so you might have to rebase and resolve conflicts. Thanks!

[2017-01-10 16:26] jeff-li opened #103 "[404] angular-ui-tour.min.js"
angular-ui-tour.min.js has been removed?

https://cdn.rawgit.com/benmarch/angular-ui-tour/master/dist/angular-ui-tour.min.js Failed to load resource: the server responded with a status of 404 ()

[2017-01-10 16:48] benmarch commented on #103
Yes, please don't use the master branch, use a specific version if you are going to use it as a CDN: https://cdn.rawgit.com/benmarch/angular-ui-tour/0.6.4/dist/angular-ui-tour.min.js

[2017-01-10 16:48] #103 closed

[2017-01-11 17:05] VladislavIvanov commented on #102
@benmarch I have tried preventDefault() on esc press, but still has the same problem.
I keep trying to fix it. Thanks!

[2017-01-12 02:19] benmarch commented on #102
Hey @VladislavIvanov, I am unable to reproduce this issue. I created an orphan step with a backdrop and set hotkeys to false, but when I press ESC nothing happens at all. When I set hotkeys to true the tour ends. Do you have a public version of our app that I can use to debug? I wonder if it's another library that you are using, maybe you can dig into exactly what code is closing the popup.

[2017-01-12 21:30] #99 closed

[2017-01-12 21:30] #73 closed

[2017-01-12 21:30] #76 closed

[2017-01-12 21:30] #80 closed

[2017-01-12 21:30] #87 closed

[2017-01-12 21:30] #89 closed

[2017-01-12 21:43] #70 closed

[2017-01-12 22:17] benmarch commented on #60
Hey @isaacplmann that looks awesome! Well done! I'm going to close this issue but please keep me updated on progress.

[2017-01-12 22:17] #60 closed

[2017-01-12 22:18] benmarch commented on #93
Any luck with this, @GeorgiyZhuravlev?

[2017-01-12 22:26] benmarch commented on #44
This seems to be resolved. If not, let me know and I will reopen it.

[2017-01-12 22:26] #44 closed

[2017-01-12 22:27] benmarch commented on #55
This seems to be resolved. If not, please let me know and I will reopen it.

[2017-01-12 22:27] #55 closed

[2017-01-12 22:31] GeorgiyZhuravlev commented on #93
It was all about `<foreignObject>` in svg generated with joint.js. It appends for some elements html with the own `<body>` tag, so any library/component wich is using "append to body" logic (searching the DOM tree for the `<body>` tag) fail with joint.js...

Thanks anyway, your component is great! I had to write my own custom solution (derivative from uib-popover) to get the job done, but it is ti

[2017-01-12 22:31] #93 closed

[2017-01-12 22:41] benmarch commented on #93
Ahh that's really interesting! I think I see why ez-ng is hiding them then: ez-ng uses a library for shimming scoped stylesheets that adds a rule to [hide anything with a body tag](https://github.com/benmarch/ez-ng/blob/100a467fa0c1ab2bcc62ad24c8b262a40234d57b/src/lib/style-scoped-shim.js#L16) while it initializes, and then [shows the document body](https://github.com/benmarch/ez-ng/blob/100a467fa

[2017-01-12 22:53] benmarch commented on #94
Hey Michal, I am going to close this in favor of #79. Let me know if you are still up for creating a PR. I am going to add this to the 0.7.1 release.

Thanks,
Ben

[2017-01-12 22:53] #94 closed

[2017-01-12 22:54] benmarch commented on #79
Sorry for ignoring this issue for so long, @Disane87. This will be fixed in the next release (0.7.1).

[2017-01-13 09:59] skalamichal commented on #94
Hi Ben,

I'll update the codebase and fix the issue, then I can do the PR - it can take 2-3 days.

Michal

[2017-01-13 10:06] Weestdudochnicht commented on #99
Sorry, but your fix didn't solve my Problem. The ui-tour destroys my form validation. I'm using ng-form and got the following Error
angular.js:14199 TypeError: Cannot read property '$invalid' of undefined
    at validateForm (http://localhost:3000/components/generalFormValidation/formValidationService.js:34:16)
    at Scope.$scope.validateProspect (http://localhost:3000/prospects/modal/idCardCtrl.

[2017-01-13 12:29] skalamichal commented on #94
Managed to update the code today.

Michal

[2017-01-13 19:45] benmarch commented on #99
Hey @Weestdudochnicht can you paste some code in here? Specifically the markup for the steps in the form and the relative methods in formValidationService.js and idCardCtrl.js.

[2017-01-15 05:34] iamdeadman opened #106 "Angular UI Tour onBackdropClick callback in controller"
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.4.x
* Angular Bootstrap: 0.14.3
* Angular UI Tour: 0.7.0

**I have installed this library via:** (NPM, Bower, or downloaded package) -- Bower

**I have observed the following behavior:**
http://stackoverflow.com/questions/41658115/angular-ui-tour-end-tour-on-backdrop-click

I am trying to end the tour on backdrop click

[2017-01-15 05:39] benmarch commented on #106
Hey Harshit,

The syntax would be `ui-tour-on-backdrop-click="end_tour()"`.

-Ben

[2017-01-15 07:33] iamdeadman commented on #106
Thanks for the quick reply. I forgot about the camel casing. Also, I am trying to highlight step elements by adding
`tour-step-backdrop="true"`

to the tour steps and

`ui-tour="myTour" ui-tour-backdrop-z-index="100" ui-tour-backdrop="true"  ui-tour-append-to-body="true"`

to the container, but still the backdrop has a z-index of 10000. and only when I increase the z-index of the element to be hig

[2017-01-15 16:20] benmarch commented on #106
Hey Harshit,

Your syntax looks correct, but I'm not sure why your target isn't visible. The zIndex actually shouldn't matter since it doesn't cover the target, it just creates a window around it. What are the computed dimensions of your target? It sounds like it might be 0, 0. I'll look into why the zIndex isn't set properly.

-Ben

[2017-01-16 08:07] Weestdudochnicht commented on #99
formValidationService.js:
 this.validateForm = function (form, requiredFields) {
        var formInvalid = false;
        var fieldsWithError = [];

        if(form.$invalid) { ......

prospectCtr.:
$scope.validateProspect = function () {
				var returnOfValidateProspectForm = formValidationService.validateForm($scope.myform, .....

html:
<div class="row prospects-modal modalNonScrollbox" ui-tour

[2017-01-16 12:06] iamdeadman commented on #106
Hi Ben,

I tried with the following tour steps again -
[code]

and I am attaching the screenshots of the issue I am facing now

![tour3](https://cloud.githubusercontent.com/assets/3391877/21982372/fef77e5a-dc11-11e6-939e-2e417e18223e.png)
![tour2](https://cloud.githubusercontent.com/assets/3391877/21982373/fefcfba0-dc11-11e6-8201-8bd20256157a.png)
![tooltip1](https://cloud.githubusercontent.com/as

[2017-01-17 04:48] iamdeadman commented on #106
Also I notice that in certain cases, some part of the popovers goes off the screen due to incorrect offset calculations like this one -

![image](https://cloud.githubusercontent.com/assets/3391877/22007916/ac24c148-dc9c-11e6-8fb9-4fc93060e00e.png)

So, how can I make sure that the left or any of the offsets does not go less than 0. For example - in case of the above screen -

![error4](https://clo

[2017-01-17 15:32] benmarch commented on #106
Hi Harshit,

I noticed the miscalculation locally, and it is my highest priority for the next release.

As far as the popover falling off the page, I am working on a better general positioning solution that should fix it, but you are better off using placement=top for that one.

Thanks,
Ben

[2017-01-17 15:42] benmarch commented on #99
Based on the snippets, I can only assume that when you invoke validateForm from the template that your form is not on the scope you expect it to be on. Tour steps create an inherited scope on their targets, so be aware of how your DOM tree corresponds to your scope tree. This seems like a scope inheritance issue on your end; make sure you are not calling validateForm from the template _outside_ of

[2017-01-17 16:02] Weestdudochnicht commented on #99
Okay. So my solution is now to put all TourElements outside a parentelement of any form. Seems to work. But that is no good solution bec. now i cant add a tourstep on an element.

[2017-01-17 16:14] iamdeadman commented on #106
Okay, thanks for the update. Ben. If you need any help from me for the next release, I would be happy to help.

[2017-01-17 16:14] #106 closed

[2017-01-17 16:25] benmarch commented on #99
Since that solution did work for you, the issue is that you are relying on scope inheritance (or lack thereof) to reference your form. You will experience the same issue if you place _any_ directive around your ngForm that creates a new scope (which is most of them) not just tour steps. My recommendation is to rearrange your DOM, or move your validation invocation to within the ngForm so that you

[2017-01-30 14:43] rjeyalakshmi opened #107 "Dynamically set tour steps in JS"
Hi,

How can I set the tour steps dynamically in JS? I don't want to add at HTML tags, as my HTML is getting created dynamically. I would like to define the steps and the applicable element in JS. How to achieve this? Please advise.

[2017-01-30 15:38] benmarch commented on #40
I am hoping to add basic version of this feature in the 0.8.0 release. If it does not make it to 0.8.0 then it will definitely be in 0.9.0. Sorry for the long wait, but I want to make sure it is done correctly, and it cannot be as long as I am using Angular UI Bootstrap to initialize the popovers.

[2017-01-30 15:38] benmarch commented on #107
Please see #40.

[2017-01-30 15:38] #107 closed

[2017-02-07 20:11] lordzappo opened #108 "best practices for input elements as tour-steps"
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.5.11
* Angular Bootstrap: 2.4.0
* Angular UI Tour: 0.7.0

**I have installed this library via:** bower

**I have observed the following behavior:**

when i use the tour-step directive on INPUT or SELECT elements, the ng-model bindings now go to the new ui-tour child scope, not the parent scope, and the page breaks.

I

[2017-02-08 16:23] benmarch commented on #108
Hey @lordzappo, I will investigate a better workaround for this in the next release--it has come up a few times recently. I think the best thing for now is to declare your model on the parent scope as early as possible so that the children scopes use their prototypes instead of creating their own models. If your parent scope uses a controller, then just declare it in the controller definition. If

[2017-02-08 16:57] lordzappo commented on #108
I thought I was doing what you suggested already, (I read several of your closed tickets before posting)

but this document clarified where i was going wrong: https://github.com/angular/angular.js/wiki/Understanding-Scopes

i was using simple primitives in the controller, which weren't correctly inheriting.  i changed my input properties to be part of a javascript object, getting the  myobject.pro

[2017-02-08 16:57] #108 closed

[2017-02-10 11:53] kwieckowski-neducatio opened #109 "Backdrop is not properly hidden when using browser's navigation"
**I am using the _exact_ versions of the following libraries:**

Demo page

**I have observed the following behavior:**

When demo tour is navigating to another view (nextStep option) and I navigate back with my browser's interface, the tour stops but the backdrop stays in the same position.

**This is how I expected it to behave:**

Backdrop should be cleared when tour is destroyed.

[2017-02-10 12:00] kwieckowski-neducatio opened #110 "Scrolling elements instead of body"
**I am using the _exact_ versions of the following libraries:**

Demo page

**I have observed the following behavior:**

When the following code is added to .main-content element
[code]

and the tour is started, the tour breaks after a few steps due to body element is being scrolled instead of an element containing the tour-step.

**This is how I expected it to behave:**

It's kinda annoying on fu

[2017-02-13 18:32] benmarch commented on #110
I'll take a look at this, my changes for 0.8.0 might inadvertently fix this.

[2017-02-21 16:41] willsteinmetz opened #111 "Accessibility concerns"
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.5.9
* Angular Bootstrap: 2.5.0
* Angular UI Tour: 0.7.0

**I have installed this library via:** NPM

**I have observed the following behavior:**

When the tour opens, focus stays on the triggering element so moving through the page via the keybaord continues with the next element rather than being shifted to the tour.

[2017-02-21 21:41] benmarch commented on #111
I'll add this to the next release. Would you mind filling out the versions anyway since I also use them for tracking?

[2017-02-22 10:31] Weestdudochnicht opened #112 "remove a Comment that course an error"
can you please remove that line : //# sourceMappingURL=angular-ui-tour.js.map from the angular-ui-tour.js
becouse it throws always an error

[2017-02-23 18:12] willsteinmetz commented on #111
I have updated with the versions we use. We've only done prototypes so far but plan to use it so it hasn't been in our library. We will be updating Angular bootstrap before implementing angular ui tour.

[2017-03-04 17:16] elhampour commented on #55
your source code in demo tour web site, is not based on your latest changes, please change it , so others done have problems like me. for example this line of code

tourStep.isPrev

tnx a alot.

[2017-03-11 03:55] opahopa opened #113 "'bm.uiTour' module injection fails."
**I am using the _exact_ versions of the following libraries:**
bower.json:
[code]

**I have installed this library via:** bower install angular-ui-tour

**I have observed the following behavior:**
Getting the error:
due to:
[code]
I think there is some problem with the required jquery version, however can't find which version is required by `angular-ui-tour` dependencies.
Reason - i'm tried to in

[2017-03-14 10:48] diogorgaspar commented on #113
Hi opahopa,

I had the same problem, with the exact same error message mine was that I was minifying the .js files with Gulp and there was a problem with ngSmoothScroll being a min - apparently a known bug. (Just in case this happens to your).

I'm running jquery >= 3.1.0

On a side note you can check the project dependencies here - https://gemnasium.com/benmarch/angular-ui-tour

Cheers

[2017-03-17 15:09] willsteinmetz commented on #111
I updated the comment again. We have since upgraded to the latest version of Angular UI Bootstrap (2.5.0 at the time I wrote this comment).

[2017-03-17 20:44] willsteinmetz commented on #112
👍

[2017-03-21 12:56] piotrimbierowicz commented on #102
Works for me on angular bootstrap `2.0.0`-`2.0.2`, broken on `>2.1.0`

[2017-03-22 07:28] westor21 opened #114 "Problems with detached tour, asynchronous steps and waitFor"
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.6.2
* Angular Bootstrap: 2.5.0
* Angular UI Tour: 0.7.0

**I have installed this library via:** Bower

I'm using a detached tour:

uiTourService.createDetachedTour('MyTour', {backdrop: true, appendToBody: true, useUiRouter: false});

I have to handle some asynchronous steps while walking the tour.
On the first page som

[2017-03-22 14:33] westor21 commented on #114
Ok, for the problem of silently stopping the tour I found the bug by myself. AppCtrl was not on the current scope at page 2.

[2017-03-22 20:09] benmarch commented on #114
Do you get the error when clicking the "Next" button on the tour step or when clicking your "Goto Next" button or both?

[2017-03-22 21:51] westor21 commented on #114
I only get this, when I click the tour button.

[2017-03-22 22:36] benmarch commented on #114
Ok thanks, I'll take a look. I don't have any test cases for `waitFor()` with a detached tour so I'll have to add that.

[2017-03-23 10:19] westor21 commented on #114
One more problem: When starting the tour, the url hash is removed. Should I open onother issue for this, or is there a quick fix? As a workaround I think I could use lifecycle events to save and reset the correct hash.

[2017-03-24 02:31] benmarch commented on #114
Hey @westor21, that came up in #100. I have officially deprecated the functionality that causes that issue, and it will be completely removed in 1.0.0, which I'm hoping to release in the next few months. I'm sorry that development has been slow lately, I've been traveling for work every few weeks and I haven't had much time to work on this. In the meantime, @FlowerFountain mentioned that turning h

[2017-03-26 07:35] Mr-Anonymous opened #115 "Angular UI Tour Demo Repo"
hi,

Thank you for this awesome Angular Ui Tour Plugin.

I am looking for the demo codes and I cant locate it. Do you have a Demo Tree Repo? I tried this url after finding it in one of your old issues here but its coming up as 404:
[code]
I need to look at the demo samples so I can implement similar tour in my app. It will help me get started. Can someone tell me where I can find the source files

[2017-03-26 11:41] Mr-Anonymous opened #116 "End Tour Event during Clicks inside DIV with Backdrop"
I have a very similar problem related to closed issue: https://github.com/benmarch/angular-ui-tour/issues/53

I am using the `tour-step-backdrop="true"` around a div wrapper that has Buttons and Anchor links inside it. If a users clicks on the Anchor links inside that DIV, the page goes to the next state, the tour popover disappears and the backdrop stays. Instead of adding an event listener in ea

[2017-03-26 19:41] Mr-Anonymous opened #117 "Switching Between Bootstrap Tabs in Angular UI Tour"
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.5.9
* Angular Bootstrap: 2.4.0
* Angular UI Tour: 0.7.0

How can I use the Angular UI Tour between tabs? For example, I have tabs like below. I want the tour to start from Tab 1, and after finishing the steps in Tab 1, I want it to go to Tab 2, etc.. without the user needing to manually click the Tab 2. Is there a way

[2017-03-27 18:41] benmarch commented on #115
Hey Neel, here is the (mostly) up-to-date demo: http://benmarch.github.io/angular-ui-tour/#/docs

[2017-03-27 18:41] #115 closed

[2017-03-27 18:47] benmarch commented on #116
Hey Neel,

I think I understand the issue that you are having, but I can't think of the best way to work around it. You might be able to use a global `$onStateChangeStart` (or whatever the proper router event is) handler to pause or end the tour. This would only be an issue if you are using the tour over multiple pages because it would interfere with navigating to the next step.

Try this for now:

[2017-03-27 18:51] benmarch commented on #117
Hey Neel,

It's probably best to use `onShow()` to reveal the current step's tab. For example, if you go from tab 1 to tab 2, then on the step in tab 2 add something like `on-show="tab.show()"` (or however the Angular UI API does it).

`onShow()` is executed before the popup is displayed, so it should switch tabs and then display the popup properly. You _might_ need to run a digest after showing t

[2017-03-29 15:23] Mr-Anonymous commented on #116
Thank you @benmarch

I will go with the `$onStateChangeStart` watch for now. However, I am also thinking perhaps I should try and rewrite these pages and create separate demo pages which doesn't have working Anchors and Buttons as a work around. This way I can also show dummy demo data on pages during the tour.

Thank you for your input. Stopping or pausing the tour during `$onStateChangeStart` ma

[2017-03-29 15:23] #116 closed

[2017-03-29 15:34] Mr-Anonymous commented on #117
Thank you Ben. Your reply got me started and did it slightly different. This is how I have got it working at the moment:

I have the following in my controller to switch tabs:

[code]

In the last step before the tab switch, I call the function like this:
[code]

I added the tab source in html like this in the tour pages:
[code]

It seems to work and the tab changes during the tour.

Thank you for

[2017-03-29 15:34] #117 closed

[2017-03-29 15:55] Mr-Anonymous opened #118 "Backdrop and ngSmoothScroll issues"
**I am using the _exact_ versions of the following libraries:**

* AngularJS: 1.5.9
* Angular Bootstrap: 2.4.0
* Angular UI Tour: 0.7.0

I have created a big 50 steps multi-page tour in my Angular app now. Most of them are working well except a couple of behaviour that I find is annoying and breaks the ui.

1. Backdrop doesnt cover the whole page: During the tour, some of the pages have steps that

[2017-03-30 19:11] Mr-Anonymous commented on #118
Okay, an update on this. The issue I have with the Backdrop height has to do due with the body css in my style that has `height: 100%;`. I had to add a class to the body when tour starts and then override the body css like this:

[code]
This seems to fix the height issue with backdrop.

I still have the scrolling issue when the step has to scroll to the top again.

[2017-03-30 19:15] benmarch commented on #118
Hey Neel,

Sorry I didn't respond earlier. I have also experienced both of these issues, and they are top priority for version 0.8.0, which is coming along although I have little time to work on it. I'm hoping to release in the next couple weeks.

Thank you for your patience,
Ben

[2017-03-30 19:21] Mr-Anonymous commented on #118
Thank you so much Ben.

I really appreciate you for testing it and adding an update for this on 0.8.0. You are amazing and I am very happy to see active development in this. I know how tough it is with little time and I am much obliged for your assistance inspite of that.

Thank you kindly.

Cheers,
Neel.

[2017-04-06 14:46] yoannjauffroy opened #119 "Failed to instantiate module bm.uiTour"
I am using the exact versions of the following libraries:

- AngularJS: 1.6.3
- Angular UI Bootstrap: 2.5.0
- Angular UI Tour: 0.7.0

I have installed this library via: **NPM**

I have this error in the console
[code]

and my import file

[code]

Do you have any help?

[2017-04-06 15:42] mohit-github opened #120 "Using tour steps in ng-repeat"
I am not able to work around an issue. When I put a tour step inside a ng-repeat element, on clicking the next button it moves to the similar element in the ng-repeat.
I want to know if I can override the next step, to move it to a different step that I can explicitly define on the tour step.
In simple terms, I want to control where the next button takes the tour.

[2017-04-06 16:13] benmarch commented on #120
You will probably have to play around with the `tour-step-enabled` option to get it to work right. If you just want to show it for the first one, for example, just use: `tour-step-enabled="$index === 1"`.

Since this is not really a bug (since creating a tour step in an ngRepeat will naturally create multiple steps and move through them in order) I am going to close this issue.

[2017-04-06 16:13] #120 closed

[2017-04-06 16:17] benmarch commented on #119
Hey @yoannjauffroy, there have been a few issues with AUIB 2.5.0. I am working on a fix for it, but in the meantime try downgrading to 2.1.x or 2.2.x. I am trying to decouple this library from AUIB since they make breaking changes too often.

Have you tried using the main files for your imports instead of specific files? I wonder if that will help in this case:
[code]

[2017-04-06 23:28] benmarch commented on #113
I have removed the dependency on ngSmoothScroll, and it will be released in the next version. Hopefully that resolves this issue.

[2017-04-06 23:36] benmarch commented on #114
Hey @westor21, I think I found the cause of your original issue. As of Angular 1.6, errors and rejections that bubble up without being caught are rethrown as an actual error. Here is a workaround: http://stackoverflow.com/a/41993170/1902587

I was not able to reproduce the hash removal issue locally. Were you able to find a workaround for that?

[2017-04-07 00:07] benmarch commented on #110
I set this up so that it will scroll the scroll parent, but right now it will not scroll the scroll parent into view (which i think fits your use case). I can enhance it later if desired.

[2017-04-07 00:09] benmarch commented on #119
I've removed the dependency on AUIB for the next release which will resolve this issue.

[2017-04-07 00:10] benmarch commented on #101
Removed the custom event implementation in the next release which will resolve this issue.

[2017-04-07 00:11] benmarch commented on #118
Using external backdrop library that _should_ fix the backdrop issue, and replace ngSmoothScroll with angular-scroll which definitely fixes the scrolling issues in the next release.

[2017-04-07 07:06] mohit-github commented on #120
This, tour-step-enabled="$index === 1" doesn't work

[2017-04-07 08:03] yoannjauffroy commented on #119
Thanks for your responsiveness @benmarch, I tried to do what you told me but I still have the same mistakes. I think I will retry with the new release

[2017-04-07 22:49] benmarch commented on #111
Hey @willsteinmetz,

Thank you for this suggestion. I have made a few changes awaiting release, but I could use some input to determine if it will be sufficient. I added `tabindex="0"` and `aria-hidden="<status>"` to the step popup, and I call `popup.focus()` when it is activated. I used my keyboard to test and it appears to work well, but I did not use a real screen reader. I would greatly apprec

[2017-04-08 14:26] willsteinmetz commented on #111
Hi @benmarch, that sounds like it should be sufficient. At that point, a screen reader will be pushed into the context of the popup and then will read the popup. Where are they taken after the tour is closed? Is it back to the element that launched the tour?

[2017-04-08 17:31] #40 closed

[2017-04-08 17:31] #109 closed

[2017-04-08 17:31] #110 closed

[2017-04-08 17:31] #111 closed

[2017-04-08 17:39] benmarch commented on #119
Version 0.8.0 has been released, please verify that this issue has been resolved. Note that there are a few breaking changes that might need to be addressed: https://github.com/benmarch/angular-ui-tour#versions.

[2017-04-08 17:39] #119 closed

[2017-04-08 17:39] benmarch commented on #118
Version 0.8.0 has been released, please verify that this issue has been resolved. Note that there are a few breaking changes that might need to be addressed: https://github.com/benmarch/angular-ui-tour#versions.

[2017-04-08 17:39] #118 closed

[2017-04-08 17:40] benmarch commented on #113
Version 0.8.0 has been released, please verify that this issue has been resolved. Note that there are a few breaking changes that might need to be addressed: https://github.com/benmarch/angular-ui-tour#versions.

[2017-04-08 17:40] #113 closed

[2017-04-08 17:40] benmarch commented on #112
Version 0.8.0 has been released, please verify that this issue has been resolved. Note that there are a few breaking changes that might need to be addressed: https://github.com/benmarch/angular-ui-tour#versions.

[2017-04-08 17:40] #112 closed

[2017-04-08 17:40] benmarch commented on #101
Version 0.8.0 has been released, please verify that this issue has been resolved. Note that there are a few breaking changes that might need to be addressed: https://github.com/benmarch/angular-ui-tour#versions.

[2017-04-08 17:40] #101 closed

[2017-04-08 17:41] benmarch commented on #81
Version 0.8.0 has been released, please verify that this issue has been resolved. Note that there are a few breaking changes that might need to be addressed: https://github.com/benmarch/angular-ui-tour#versions.

There is now a `createStep()` method on tours. See README for details.

[2017-04-08 17:41] #81 closed

[2017-04-08 17:41] benmarch commented on #79
Version 0.8.0 has been released, please verify that this issue has been resolved. Note that there are a few breaking changes that might need to be addressed: https://github.com/benmarch/angular-ui-tour#versions.

[2017-04-08 17:41] #79 closed

[2017-04-08 17:41] benmarch commented on #66
THIS IS FINALLY DONE! Version 0.8.0!

[2017-04-08 17:41] #66 closed

[2017-04-08 17:42] benmarch commented on #40
Version 0.8.0 has been released, please verify that this issue has been resolved. Note that there are a few breaking changes that might need to be addressed: https://github.com/benmarch/angular-ui-tour#versions.

There is now a `createStep()` method on tours. See the README for details.

[2017-04-08 17:45] benmarch commented on #111
Hey @willsteinmetz, I thought about where it leaves the user after the tour, but I was debating between sending them back to where they were, and leaving them at the target of the most recent tour step. Ultimately I didn't make a decision, so I'm not entirely sure where it will bring them. Please take a look at 0.8.0 and advise so I can make appropriate changes. Note that there are a few breaking

[2017-04-08 17:46] benmarch commented on #110
Version 0.8.0 has been released, please verify that this issue has been resolved. Note that there are a few breaking changes that might need to be addressed: https://github.com/benmarch/angular-ui-tour#versions.

[2017-04-08 17:47] benmarch commented on #109
Version 0.8.0 has been released, please verify that this issue has been resolved. Note that there are a few breaking changes that might need to be addressed: https://github.com/benmarch/angular-ui-tour#versions.

There is a configuration that needs to be set for this to work. I tried enabling it by default, but it broke some of my unit tests because it sets up a watch in the run stage. The details

[2017-04-08 17:50] benmarch commented on #102
Hey @VladislavIvanov, not sure if this is working for you now, but please try with the latest version 0.8.0. Note that there are a few breaking changes that might need to be addressed: https://github.com/benmarch/angular-ui-tour#versions.

[2017-04-08 17:50] benmarch commented on #77
Hey @solidevolution, please try with the latest version 0.8.0. Note that there are a few breaking changes that might need to be addressed: https://github.com/benmarch/angular-ui-tour#versions.

[2017-04-08 17:53] benmarch commented on #64
Hey @KuroNoDev, just to update you on this: I looked into it, I was able to get most of the styles working fairly easily, but Bootstrap 4 switched to `::before` pseudo-elements for arrows, so I'm going to take some time to implement this correctly. I'll probably include a config option to choose Bootstrap 3 or 4, and basically just swap out the template and include the correctly styles. That will

[2017-04-08 17:56] benmarch commented on #41
Made progress on this, although I'm not entirely sure if it is resolved. I have switched to using Tether in version 0.8.0, and I believe this will solve most of the issues you are seeing here. I am going to release a few patches in the coming weeks that will enhance the positioning further, including constrains on the viewport so that the popup is always in view. Thank you for you patience.

[2017-04-11 13:52] westor21 commented on #114
Hallo @benmarch - ok, thank you for your investigation, so I can ignore this error or use the workaround.
Regarding the hash removal problem, it was an issue which had nothing to do with angular-ui-tour.

[2017-04-21 12:47] alex-p-crest opened #122 "How to add image inside angular bootstrap tour popover"
I need to show an image along with content while tour using angular bootstrap tour.

I tried to insert image in to content like this.

 `<button`` ng-show="currentUser['status'] == 'Active' && userAccess['enter-project-name']" class="btn btn-info " type="button" ng-click="addUser();" class="ibox-content text-center" id="step5" tour-step order="5" title="Add Users" backdrop="true" on-Hidden="clearb

[2017-04-24 22:21] benmarch commented on #122
Please provide the version numbers as requested in the PR template. There are also a number of issues such as `on-Shown` instead of `on-shown`, and you have escape characters and backticks in odd places. Both the content and templateUrl should allow for displaying images.

[2017-04-25 16:55] alex-p-crest opened #123 "Popover doesn't load properly"
I have some other issues.

1. When i apply tour-step-backdrop = 'true' is doesn't cover full screen.
2. When i start the tour the popup comes but empty(not positioned correctly) and when i scroll a bit then it adjust and look properly.

see the screen shot

![image](https://cloud.githubusercontent.com/assets/16604636/25381188/66bce7bc-29d0-11e7-91d5-e4e150f69cf6.png)

Here is my code

[code]

Plea

[2017-04-25 17:26] benmarch commented on #123
Alex,

Please supply the requested information from the issue template, as well as the browser and browser version.

Couple issues with your code:
* `tour-step-scroll-parent-id` needs a value (the element ID of the scroll parent)
* `on-Next` needs to be `tour-step-on-next`

Fix those issues and provide the required information, and I will try to help you further.

[2017-04-25 17:34] alex-p-crest commented on #123
Actually i don't need both tour-step-scroll-parent-id, tour-step-on-next in my li tag so i have removed them. I used them for testing purpose. The issue still occur.

I noticed something. The transform values were not proper and those set properly when i scroll.So may be the issue with transformation.

[2017-04-26 02:53] amanraghubansi commented on #41
Hi benmarch,
This time i am getting problems when trying to add tour over elements  present in $uibmodal window of angular bootstrap.If you can check with this, that will be great help or help me with source code data points so that i can contribute to make it better

[2017-04-26 11:31] alex-p-crest opened #124 "Backdrop doesn't cover entire screen"
I have applied tour-step-backdrop="true". It applies to only some part of screen not entire screen.

![image](https://cloud.githubusercontent.com/assets/16604636/25432393/e00e35e0-2aa1-11e7-90ad-14933f432fb9.png)

As you can see the bottom part of image is not covered. So if i wanted to cover full screen then how to do it?

[2017-04-26 14:40] benmarch commented on #41
Hey @amanraghubansi,

That might be an issue with the z-index of the backdrop. Can you try setting the `tour-backdrop-z-index` property to something higher than that of the modal? Try `1500` to start.

Thanks,
Ben

[2017-04-26 14:41] benmarch commented on #124
@alex-p-crest, as I have asked you in your other issues, please fill out the issue template so that I have the information that I need to properly assist you.

[2017-04-26 18:19] alex-p-crest commented on #124
Here is my index.html code

`

<!DOCTYPE html>
<html ng-app="inspinia">
<us-spinner></us-spinner>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="CACHE-CONTROL" content="NO-STORE">

    <title page-title></title>

    <link href='/app/styles/fonts.googleapis

[2017-04-26 18:30] benmarch commented on #124
Does your `<body>` or `<html>` element have any padding or margin?

Also, again, fill out the following template:

**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari] Version: x.x
* AngularJS: x.x.x
* Angular Bootstrap: x.x.x
* Angular UI Tour: x.x.x

**I have installed this library via:** (NPM, Bower, or downloaded package)

**I have observed the following

[2017-04-26 18:45] alex-p-crest commented on #124
My <body> ,<html> tag have margin :0px;

I am using the exact versions of the following:

Browser: [Chome|Firefox|IE|Safari] Version:  Chrome Vesrion 57.0.2987.133
AngularJS: v1.5.7
Angular Bootstrap: v1.1.2
Angular UI Tour: v0.8.0

I have installed this library via: Bower

I have observed the following behavior: Observed that when tour load the popup does not positioned correctly and when i scrol

[2017-04-26 19:09] alex-p-crest commented on #124
![image](https://cloud.githubusercontent.com/assets/16604636/25452082/fcb85f82-2ae1-11e7-962d-f887a2399235.png)

[2017-04-26 19:13] benmarch commented on #124
Thank you for providing that information. Does your `<body>` tag use overflow: auto? Can you try adding the `.clearfix` class to your body?

[2017-04-26 19:18] alex-p-crest commented on #124
My body tag have overflow-x:hidden

I have applied the .clearfix class to the body but then it has reduce the backdrop height more then the image i gave you.

[2017-04-26 19:22] benmarch commented on #124
Ok, I'm guessing this has something to do with either the overflow, or 0-height containers of floating elements.

If you hover over the body tag in dev tools, does it expand all the way to the bottom of the content? Or does it end where the backdrop ends? Please include a screenshot if you can.

[2017-04-26 19:24] alex-p-crest commented on #124
When i hover on body it end where the backdrop ends

![image](https://cloud.githubusercontent.com/assets/16604636/25452699/1f05a84a-2ae4-11e7-9765-7a5fb7433233.png)

[2017-04-26 19:27] benmarch commented on #124
Ok awesome. It appears that the issue is somewhere in your styles. It looks like you might have floating elements that are not contained by `.clearfix`ed elements. You might need to go through the markup and styles on your page and see if you have any elements that have 0 height, but contain elements with positive height. If you can find those, add the `.clearfix` class to all of them, and see if

[2017-05-01 08:32] alex-p-crest commented on #124
In my style css, the body tag had the height : 100%. So while app load it was calculating the height based on that. I removed that 100% and it works fine.

Thanks.

[2017-05-01 14:31] alex-p-crest opened #125 "Scrolling is not proper while going previous"
This is my first element

[code]

Here is my second element

[code]

While going previous from second step, due to improper scrolling the scroll does not go to the first step.
Also i have used prevent scrolling so if this happens, then my app get stuck and i can't do anything because no popup visible.

JS used as below:

<script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></

[2017-05-01 16:08] benmarch commented on #125
Closing. Please open another one with the issue template properly filled out.

[2017-05-01 16:08] #125 closed

[2017-05-01 16:41] alex-p-crest commented on #125
I have provided everything i have.

[2017-05-02 08:58] Ajaykumarkonda opened #126 "Angular UI Tour onBackdropClick not working"
I am trying to end tour on backdrop click its not working.
[code]

[2017-05-02 09:05] Ajaykumarkonda commented on #126
Found solution for backdrop click issue

[code]

[2017-05-02 09:07] #126 closed

[2017-05-18 23:10] brusand opened #127 "can t change templateUrl"
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari] Version 58.0.3029.110 (64-bit)
* AngularJS: "angular": "1.5.5"
* Angular Bootstrap:" angular-ui-bootstrap": "1.3.3"
* Angular UI Tour:     "angular-ui-tour": "^0.8.1",

**I have installed this library via:** (NPM, Bower, or downloaded package)
npm
**I have observed the following behavior:**
in my html, i se

[2017-05-19 16:31] benmarch commented on #127
Hey Bruno,

Try using `tour-step-template-url="mainmenu.tpl.html"`.

Thanks,
Ben

[2017-05-19 22:58] brusand commented on #127
nop, it doesn t work.
i think it is normal, when you create step (tour-step-service.js) , you call createPopup() and createPopup $compile($templateCache.get('tour-step-popup.html'))(scope),
is it normal to have explicit 'tour-step-popup.html' ?

    function createPopup(step, tour) {
        const scope = angular.extend($rootScope.$new(), {
                tourStep: step,
                tour: tou

[2017-05-19 23:04] benmarch commented on #127
Yes, `tour-step-popup.html` contains an ngInclude that loads the user-defined template: https://github.com/benmarch/angular-ui-tour/blob/master/app/templates/tour-step-popup.html#L19

Ahhh ok I see the problem: the templateUrl option is interpolated, so you have to surround it in quotes: `tour-step-template-url="'mainmenu.tpl.html'"`.

Sorry about that, it seems confusing. I'll circle back to this

[2017-05-20 22:18] brusand commented on #127
you made my day, Ben, it works like a charm :-)

ui-tour-template-url="'mainmenu.tpl.html'" did it.

however, have you some sample of backdrop ? (i can t see any difference when i set bacdrop = true or false)

so many thks for your component.

Bruno

[2017-05-21 00:39] benmarch commented on #127
Glad that worked!!

For the backdrop, you will have to style it yourself (this was a feature request a while back, to be able to style the backdrop differently). There is an example in the [Getting Started](https://github.com/benmarch/angular-ui-tour#getting-started) section of the README that you can just paste into your stylesheet.

[2017-05-21 00:39] #127 closed

[2017-05-22 08:25] brusand opened #128 "display steps as a carousel"
hi Ben,

it is not an issue, just a question. I want to display steps with bullet like carousels, are steps list and currentstep publics throught a controler ?

thx
Bruno

**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari] Version: x.x
* AngularJS: x.x.x
* Angular Bootstrap: x.x.x
* Angular UI Tour: x.x.x

**I have installed this library via:** (NPM, Bower,

[2017-05-23 11:32] brusand opened #129 "tour multi page"
hi Ben

i have some issue with multi pages.

**I am using the _exact_ versions of the following:**

Browser: [Chome|Firefox|IE|Safari] Version 58.0.3029.110 (64-bit)
AngularJS: "angular": "1.5.5"
Angular Bootstrap:" angular-ui-bootstrap": "1.3.3"
Angular UI Tour: "angular-ui-tour": "^0.8.1",
**I have installed this library via:** (NPM, Bower, or downloaded package)
npm
**I have observed the follow

[2017-05-23 20:40] benmarch commented on #129
Hey Bruno,

There are a couple things that might cause this issue. The first is that you are navigating from one tour to another (from the "help" tour to the "welcome" tour). I haven't tried this, so I don't know if it works or not. The other thing is that the "welcome" tour is defined on page 2, so it's possible that the tour is not yet defined when you try to get a reference to it. I generally r

[2017-05-23 20:45] benmarch commented on #128
Hey Bruno,

I'm not exactly sure what you want to do, but `getCurrentStep()` is public, and `_getSteps()` is private. You are welcome to use `_getSteps()`, but I might make a breaking change in the future without documenting it (that's really the only risk).

-Ben

[2017-05-23 21:01] brusand commented on #129
hey Ben

yes i understood that so now i place a single ui-tour on <body> an it works better.
howewer i still have 2 smaller issues :

. i don t know if it works like that, but is it possible to  use .waitfor() with a url to show sub screen of the step ?
    public navigateToAndWaitFor = ( _tour, path, stepId) => { when click on next button of page1:step1)
      //var tour = this.uiTourService.getT

[2017-05-23 21:07] benmarch commented on #129
You can only use waitFor with a step, but you can navigate using any library (as long as it doesn't do a full browser reload). Basically, waitFor doesn't care what you do when you wait, it just sets up a listener that resumes the tour when the specified step is found.

You can reference `_getSteps()` on the tour object (`this.welcome._getSteps()`) so if you have the tour object available in the HT

[2017-05-23 21:11] brusand commented on #128
i have  to implement  something like that
<div class="onboarding">

  <div class="onboarding-content tour-step-content" ng-bind-html="tourStep.trustedContent || tourStep.content" translate></div>
  <div class="">
    <ol ng-repeat="step in $ctrl.uiTourService.getTour()._getSteps()">
      <li  ng-if="! step === $ctrl.uiTourService.getTour().getCurrentStep()" class="dot"></li>
      <li  ng-if="ste

[2017-05-23 21:17] benmarch commented on #128
I updated your comment, please wrap all code in triple back ticks (\`\`\` ...code... \`\`\`).

I don't think what you are trying to do will work as expected, but if you want to get a reference to the TourController I recommend just using your existing references. Every `tour` object is an instance of `TourController`, so you can probably use something like `$ctrl.welcome._getSteps()` and `$ctrl.we

[2017-05-23 22:39] brusand commented on #128
Good news, i don t know why it s works but it works ;-)
``
      <span ng-repeat="step in tour._getSteps()">
        <img ng-if="! (step === tour.getCurrentStep())" src="../../assets/images/dot-inactive.svg"
             class="dot-inactive">
        <img ng-if="step === tour.getCurrentStep()" src="../../assets/images/dot-active.svg"
             class="dot-active">
      </span>
``

thx

[2017-05-23 23:44] brusand commented on #129
last question,,  waitFor() finally is not adapted to my case, i think i d beeter catch the stepChanged notification but how ( both failed) ?
``     tour-on-step-changed="$ctrl.go('lo.app.auth.dashboard')"> `` ?
``     tour-step-on-step-changed="$ctrl.go('lo.app.auth.dashboard')">
thx
Bruno

[2017-05-24 01:05] benmarch commented on #128
Sweet! Glad it's working!

[2017-05-24 01:05] #128 closed

[2017-05-24 01:09] benmarch commented on #129
So the events are a little different from the lifecycle hooks. You would use the `stepChanged` event like this:
[code]

More information here: https://github.com/benmarch/angular-ui-tour#tour-notifications

This is the EventEmitter documentation (the tour itself is an event emitter): https://github.com/benmarch/ez-ng#module_ezNg.ezEventEmitter..EventEmitter

[2017-05-25 05:25] oshelke opened #130 "Trouble binding the js to my html page"
Hey Ben,
I'm a newbie in Web Development, I'm having problems using you ui-tour plugin, I'm not able to bind your js to my html. I read all the steps you provided but I'm missing something. Please can you let me know how to use it in script as well as match it with my html.
Please do let me know !!!

[2017-05-26 05:05] benmarch commented on #130
@oshelke, what are you unable to do exactly? What have you already done? Please provide much more information in order for me to help you.

[2017-05-26 06:27] oshelke commented on #130
Thanks for replying,
I'm practicing the use of angular tours, I was not able to enable tour plugin in my demo page, but I got it done yesterday, what I wanted to do is modify the pop-up template and look, do you have any demo css files for the pop-up as I was having trouble doing so.

[2017-05-29 06:11] daotran commented on #130
Hi Ben,
Do you have any example code for demo how to apply your ui-tour plugin?
It will be easier to me to see how it works.

Thanks,
Dao Tran

[2017-05-29 06:51] #130 closed

[2017-05-29 07:20] daotran opened #131 "Example code for demo"
Hi Ben,

I am not clear how to apply this plugin into my project to see how it works.
Do you have any example code for demo how to apply your angular-ui-tour plugin?
It will be easier to me to see how it works and give a try.

Thanks,
Dao Tran

[2017-05-30 04:58] benmarch commented on #131
Hey Dao,

[Here is the demo](http://benmarch.github.io/angular-ui-tour), and there is extensive documentation in the README. Please note that the demo does not contain up-to-date documentation (working on fixing that now).

Thanks,
Ben