[2017-05-30 04:58] #131 closed

[2017-05-30 05:20] daotran commented on #131
Hi Ben,

Thanks for your feedback.

I can see the demo but it is also hard for developer to intergrate it into
the project. Up-to-date document is very helpful.

Hope it is coming soon.

Thanks,
Dao Tran

On Tue, May 30, 2017 at 11:58 AM Ben March <notifications@github.com> wrote:

--
Tiến Đạo

[2017-06-01 19:50] marcoaure opened #132 "angular ui tour not working after route change"
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari]
* AngularJS: 1.6.4
* Angular Bootstrap: 2.2.0
* Angular UI Tour: 0.8

**I have installed this library via:** Bower

**I have observed the following behavior:**
Hello, i'm having a problem with route change and angular-ui-tour.
On route change, my tour is ended, but when I come back to the page where it shou

[2017-06-04 12:31] burakkilic opened #133 "Second step in multipage tour cannot be seen"
**I am using the _exact_ versions of the following:**

* AngularJS: 1.5.3
* Angular Bootstrap: 1.3.3
* Angular UI Tour: 0.8.1

**I have installed this library via:** (NPM, Bower, or downloaded package)
Bower
**I have observed the following behavior:**

I tried to apply [Multi-page Tour](https://github.com/benmarch/angular-ui-tour#multi-page-tours)
tutorial.
**This is how I expected it to behave:**

[2017-06-05 17:37] benmarch commented on #132
Hey @marcoaure, are there any errors in the console?

[2017-06-05 17:41] benmarch commented on #133
Hey @burakkilic, can you paste in your implementation of `navigateToAndWaitFor()`?

[2017-06-05 17:43] marcoaure commented on #132
benmarch, no errors...

I realized that TourConfigProvider.enableNavigationInterceptors(); was making it terminate every time... when I turned it off, it never stops but is doing it wrong becouse I don't have that elements in another page.

The perfect would be when I change route, it hides and when it returns... it should show up again.

[2017-06-05 17:44] benmarch commented on #132
Is the issue that it doesn't start again when you trigger it to start? Or that it does not automatically start when again when you return to the first route?

[2017-06-05 17:57] marcoaure commented on #132
you were right @benmarch i did it:

if(!uiTourService.getTourByName('detachedDemoTour')) {
    uiTourService.createDetachedTour('detachedDemoTour');
}

now it works i will test doing the same for the tour.createStep, that i'm always creating it again.... i will post if it worked... thanks

[2017-06-05 17:59] benmarch commented on #132
Ah cool, I'm glad you got it working. I'll leave this issue open in case related problems come up. Feel free to comment back if you find more issues, or close if you think this is resolved.

[2017-06-05 18:41] marcoaure commented on #132
It worked @benmarch, thank you so much...

If some one have the same problem, the solution is that workflow (in your project):

[code]

[2017-06-05 18:41] #132 closed

[2017-06-06 13:51] burakkilic commented on #133
Hello again,

I realized that DOM is not loaded. I solved that with 1-2 sec timeout.

[2017-06-06 13:51] #133 closed

[2017-06-06 15:03] marcoaure opened #134 "Custom tour-step-popup.html"
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari]
* AngularJS: 1.6.4
* Angular Bootstrap: 2.2.0
* Angular UI Tour: 0.8

**I have installed this library via:** (NPM, Bower, or downloaded package)
Bower
**I have observed the following behavior:**
I need to make a custom tour-step-popup.html becouse I need to put a div before .tourStep

**This is how I expect

[2017-06-06 15:19] benmarch commented on #134
You can create the template and add it to `$templateCache` with the same name (`tour-step-popup.html`). Keep in mind that it is at your own risk to replace that template because I might make breaking changes to it without notice.

[2017-06-06 15:19] #134 closed

[2017-06-08 18:54] #124 closed

[2017-06-09 18:17] marcoaure opened #135 "tour.on('started') twice after route change"
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari]
* AngularJS: 1.6.4
* Angular Bootstrap: 2.2.0
* Angular UI Tour: 0.8

**I have installed this library via:** (NPM, Bower, or downloaded package)
Npm

**I have observed the following behavior:**
When I run the page with tour for the first time, it works great, but when I go to another page and return to the

[2017-06-12 10:14] brusand opened #136 "tour step placement bottom-right don t work"
**I am using the _exact_ versions of the following:**
Browser: [Chome|Firefox|IE|Safari] Version 58.0.3029.110 (64-bit)
AngularJS: "angular": "1.5.5"
Angular Bootstrap:" angular-ui-bootstrap": "1.3.3"
Angular UI Tour: "angular-ui-tour": "^0.8.1",
I have installed this library via: (NPM, Bower, or downloaded package)
npm
I have observed the following behavior:

when i set popover placement to botto

[2017-06-12 16:23] benmarch commented on #135
Hey @marcoaure, it's because you are attaching a second event listener to the tour. Every time you execute this line, it attaches another listener:

[code]

Be sure to detach your listeners when you are done, probably in a `$destroy` handler:

[code]

[2017-06-12 16:23] #135 closed

[2017-06-12 16:34] benmarch commented on #136
Hey Bruno,

Would you mind attaching a screenshot or two? I have included some CSS in the library to accommodate for [arrow positioning](https://github.com/benmarch/angular-ui-tour/blob/master/app/styles/angular-ui-tour.css#L27), so I'm not really sure why it isn't working. A screenshot with the issue, as well as the CSS for the popover and the arrow would be really helpful.

Thanks,
Ben

[2017-06-12 16:54] brusand commented on #136
Email me bruno.darrigues@gmail.com, i ll send you  à screen captur.   :)

[2017-06-13 14:43] benmarch commented on #136
Hey Bruno, I found the issue: Bootstrap is setting the `left` property of the arrow, and I'm setting the `right`. I will patch it up and release a new version. In the meantime, you can fix it by setting the following CSS:

[code]

You might need to add specificity or `!important` if it doesn't take.

[2017-06-13 21:05] brusand commented on #136
many thx Ben

it works much more better  :)

Bruno

2017-06-13 16:43 GMT+02:00 Ben March <notifications@github.com>:

[2017-06-13 22:17] brusand commented on #136
hi Ben,

Sorry but i have still an issue with bottom-right.
i add your fixed

.popover.bottom> .arrow {
  left: auto;
}

my html is like this : tour-step account with bottom-right placement is ok

    <li cmn-state-active="lo.app.auth.config"
ng-show="!$ctrl.rights.SUPER_ADMIN">
      <a id="configuration-nav-link" href="#/account">
        <span translate="lo.configuration.title">Configuration</s

[2017-06-14 10:29] alexpireddu commented on #120
Seems it makes a comparison with a string,
`step.enabled = isEnabled !== 'false';`
so with interpolation it should work
`tour-step-enabled="{{$index === 1}}"`

[2017-06-15 17:57] Watermelonqyu opened #137 "createStep() has error: Cannot read property 'parent' of undefined"
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari] Version: x.x
* AngularJS: 1.6.4
* Angular Bootstrap: 2.5.0
* Angular UI Tour: 0.8.1

**I have installed this library via: downloaded package (NPM, Bower, or downloaded package)

**I have observed the following behavior:**
[code]

**This is how I expected it to behave:**
create new step

**Here is my tour co

[2017-06-15 17:59] benmarch commented on #137
Hey @Watermelonqyu, I'll need a lot more information to help with this. When does this happen? When you start the tour/before you start the tour? Please provide as much info as you can.

[2017-06-15 18:03] Watermelonqyu commented on #137
@benmarch Hi, thanks for quick reply.

I just tried it yesterday and can not get the createStep to work. If you click start tour button in Plunker, and click next, you should notice the error. I am not sure if I called the function in a wrong way.

[2017-06-15 18:04] benmarch commented on #137
Can you paste a link to your Plunker?

[2017-06-15 18:05] Watermelonqyu commented on #137
@benmarch I did post in the ticket

Plunker: https://plnkr.co/edit/OOn5EtQPmvO57e1vVsLG?p=preview

[2017-06-15 18:09] Watermelonqyu commented on #137
@benmarch And I have another question, can we add 2 steps in the same element? I suppose we can not. But I am not sure. Thank you!

[2017-07-03 08:23] HenriHeinonen opened #138 "How to make angular-ui-tour to work with angular-translate?"
How to make angular-ui-tour to work with angular-translate?
For example, this piece of code does not seem to work: `<a ng-click="$ctrl.openCreateSiteModal()" tour-step="home-step90" tour-step-belongs-to="teacherTour" tour-step-title="Collection of sites" tour-step-content="<p>{{'HOME-STEP90-1' | translate}}</p>" tour-step-order = "90" tour-step-placement="right" tour-step-prev-step="home-step80">`

[2017-07-05 15:52] benmarch commented on #138
Hey @HenriHeinonen, this should be working as of version 0.8.0: https://github.com/benmarch/angular-ui-tour/issues/79

Please fill out the issue template so that I can assist you further.

[2017-07-06 16:24] Catrionaa opened #140 "TypeError: e is not a constructor"
Browser: Chome Version:  59.0.3071.115
 AngularJS: 1.6.5
 Angular Bootstrap: 2.0.1
 Angular UI Tour: 0.8.1

I have installed this library via: NPM

I have observed the following behavior:
Hi I am fairly new to angualr.js so sorry if this is just a silly mistake!
Is there any reason why when trying to load in a basic example I get the error:
TypeError: e is not a constructor.

[2017-07-06 17:02] benmarch commented on #140
Hi @Catrionaa, this looks like a minification issue. Be sure to use [Array Notation](https://docs.angularjs.org/guide/di#inline-array-annotation) (or something that compiles to it) when creating Angular services. Let me know if that is the issue.

[2017-07-21 14:11] Deklin commented on #137
I am hitting this one too

[2017-07-22 18:41] erikdonohoo commented on #140
@benmarch It is happening directly in your code.  Your suggestion of Array Notation is needed for some place in your own code before minifying.  I also can't load this from just a simple example after including your file and its dependencies.

[2017-07-22 20:21] benmarch commented on #140
Hey @erikdonohoo, I'm looking through my codebase but I don't see anywhere that I'm not using ng-annotate or array notation. Thank you for the screenshot; could you take another one of that line at the top of the stack trace (angular-ui-tour.js:formatted:1416)? I'll keep looking into it on my end.

[2017-07-22 20:45] benmarch commented on #140
@erikdonohoo are you loading all the dependencies before Angular UI Tour? There might be a bug in Hone that requires it to be loaded before AUIT. Please let me know.

[2017-07-22 20:47] benmarch commented on #41
Hey @amanraghubansi, any updates?

[2017-07-22 20:48] benmarch commented on #77
Hey @solidevolution, any updates?

[2017-07-22 20:51] benmarch commented on #114
Hey @westor21, are you still seeing any issues related to the ones described here?

[2017-07-22 20:52] #122 closed

[2017-07-22 20:56] benmarch commented on #129
Hey @brusand, any updates?

[2017-07-22 22:16] #136 closed

[2017-07-22 22:16] #137 closed

[2017-07-22 22:16] #138 closed

[2017-07-22 22:19] benmarch commented on #138
It looks like dynamic content still wasn't working (although static HTML was). This is fixed in 0.8.2.

[2017-07-22 22:21] benmarch commented on #137
It looks like the cause is that the element with the provided ID is not available when the step is shown (it's the only way to get to that line of code). I have added an exception that will let you know if this is the case. Please try again with 0.8.2.

@Watermelonqyu, that's correct, you can only have one step per element when using directives. You can try attaching multiple detached steps to a s

[2017-07-22 22:21] benmarch commented on #136
This is fixed in 0.8.2.

[2017-07-22 23:45] Deklin commented on #137
@benmarch Thank you! I was wondering if it is possible to generate the tour complete in the controller and NOT The html. We have some situations in responsive mode where depending on resolution the component may be display:hidden and we don't want tour items to activate on those but the alternative items that appear when in lower resolutions.

Thanks kindly

[2017-07-23 00:35] benmarch commented on #137
It is possible to do so in the controller layer by using `TourService.createDetachedTour()` and then `tour.createStep()`. However, you can also achieve the same result by using the `tour-step-enabled` attribute on each step and using an Angular expression to determine whether or not a step can show based on the screen size.

[2017-07-23 14:24] Watermelonqyu commented on #137
@benmarch

Thank you very much for the updates! I will try again with 0.8.2 and let you know how it goes.

[2017-07-23 15:19] solidevolution commented on #77
Sorry current not on the project. Leaving angular a.t.m.

[2017-07-23 15:19] #77 closed

[2017-07-23 23:02] Deklin commented on #137
@benmarch i am still getting this error.

Basically i'm trying to do the entire tour through javascript and not in html as i'm using custom components and sometimes I need to use deeper locators than what is available in the current html template im using.

Basically I am doing this:

[code]

I have a button initiating this

[code]

Which yields
![screen shot 2017-07-23 at 7 02 30 pm](https://user

[2017-07-23 23:06] Deklin commented on #137
Same issue with detached tour

[code]

[2017-07-23 23:21] Deklin commented on #137
Ok after some playing around, I finally got it working

Had to set appendToBody to true
backdrop:false on root
and change elementId to element.

[code]

[2017-07-23 23:37] Deklin opened #141 "Question about Detached Tours"
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari] Version: x.x
* AngularJS: 1.6.5
* Angular Bootstrap: 1.3.3
* Angular UI Tour: 0.8.2

**I have installed this library via:** (NPM, Bower, or downloaded package)

**I have observed the following behavior:**
This is more a question than an observation. I have tried various tour based utilities and trying to fi

[2017-07-24 18:25] Watermelonqyu commented on #137
@Deklin

Thank you for the post. I got it working after setting the appendToBody true in the uiTour.
However, i tried to set appendToBody inside createStep, it didn't work. And elementId didn't work as you said.

Here is the plunker: https://plnkr.co/edit/OOn5EtQPmvO57e1vVsLG?p=preview

[2017-07-24 19:52] benmarch commented on #137
@Deklin it is best to use `elementId` instead of `element` because `element` requires that the element is present at the time you create the step. When you use `elementId`, AUIT will check to see if the element exists just prior to showing the popover. However, when you use `elementId`, just pass the ID string instead of a reference to the element. For example, instead of `elementId: angular.eleme

[2017-07-24 23:20] Deklin commented on #137
@benmarch Thanks Can I support this type of syntax w/ element id?

[code]

Basically in a jquery style filter this would be Find the first match, if no match, find the second,

[2017-07-25 20:31] erikdonohoo commented on #140
I was loading all the dependencies first before angular-ui-tour.  But I should double check.

[2017-07-27 15:16] benmarch commented on #137
Hey @Deklin, sorry for the delayed response. I could open it up to any CSS selector, but you still wouldn't be able to use the `:visible` pseudo-selector. At one point I set up the `enabled` flag to default to `false` if the element is not visible. I could look into reenabling that (or why I removed it in the first place). It would be fairly easy to get the visible aspect working yourself. You cou

[2017-07-27 16:49] Spuffynism commented on #140
I had the same error when Hone wasn't loaded.

To fix the error, I installed Hone with npm and made sure `dist/hone.js` was included before AUIT.

[2017-07-27 18:23] Deklin commented on #141
@benmarch thank you, will continue conversation here. I do have a working implementation using a dynamically generated tour based on visible elements that does appear to be working ok.

[2017-07-27 18:40] benmarch commented on #141
Nice! Would you mind sharing some of your code so I can look into incorporating it into the app? (Or at least for my knowledge to help others.)

[2017-07-28 12:44] Deklin commented on #141
Absolutely;

1. We updated the tour template for localization
[code]

Minor change but also adjusted a bit of the look and feel.

We have a quick tour button
Here is what happens onclick

[code]

For some reason the ui-tour-popups were not being cleaned up, so I on ended do that.

Ideally I would be able to use elementId where I am currently doing some more complex jquery locator searches, but I c

[2017-08-02 01:57] quocnt opened #142 "Is possible show all tour at once ?"
Angular UI Tour: 0.8.2
I have installed this library via: Bower

Hi,
Do you have any plan to add feature "show all tours at once" ?

[2017-08-02 16:07] RusinovAnton opened #143 "Double listen to the location change causes tour to be ended."
Hello, thanks for you work on this project, very appreciated.

**I am using the _exact_ versions of the following:**

* Browser: Chrome Version 59.0.3071.115 (Official Build) (64-bit)
* AngularJS: 1.6.5
* Angular Bootstrap: 2.5.0
* Angular UI Tour: 0.8.2
* Angular UI Router: 0.4.2

**I have installed this library via:** Bower

**I have observed the following behavior:**
I'm using ui-router. After

[2017-08-02 16:28] benmarch commented on #143
Hey @RusinovAnton, thank you for providing all of this information and code. I actually never tested this with UIRouter, I added that for backwards compatibility a little while back. Can you try not enabling the interceptors, and then in your app's run block just add the [UIRouter listener](https://github.com/benmarch/angular-ui-tour/blob/fe3fbecb381230259e44f86393f5e1cbf9b7dc41/app/angular-ui-tou

[2017-08-02 16:29] benmarch commented on #142
Hey @quocnt, do you mean show one step each for every tour you created, or all steps for a single tour?

[2017-08-02 16:47] RusinovAnton commented on #143
@benmarch, Thanks for quick feedback!
I've just commented this line
[code]
without adding anything to the run block and its works. Going to finish guide and test it more. I'll give you more feedback if find anything more.

[2017-08-03 00:47] quocnt commented on #142
@benmarch I'm sorry, show all steps for a single

[2017-08-03 16:50] benmarch commented on #142
Hey @quocnt, I don't have any plans to do that because the intention is that this is a guided tour, so the steps proceed sequentially. May I ask what the benefit of this feature would be?

[2017-08-06 02:54] quocnt commented on #142
hi @benmarch,
I'm using this library and have a task in my project so I just ask if if it's supported.

[2017-08-07 16:24] benmarch commented on #142
Hi @quocnt, I think the best solution here would be to create multiple tours. You can do that either in the markup with directives or by using the uiTourService with detached tours. Then you can write some logic in your app that will start the tours at the same time.

[2017-08-07 16:24] #142 closed

[2017-08-08 15:46] cyt-mn opened #144 "Repositioning after dynamic content rendering"
**I am using the _exact_ versions of the following:**

* Browser: Firefox Version: 54.0.1, but also appears in Chrome V 60.0.3112.90
* AngularJS: 1.5.11
* Angular Bootstrap: 3.2.0
* Angular UI Tour: 0.8.0 (commit dfa4dccb706a5ed003a4688088bf4c728108457a)

**I have installed this library via:** (NPM, Bower, or downloaded package)
manually

**I have observed the following behavior:**
I have a tour s

[2017-08-09 14:38] westor21 commented on #114
Hallo @benmarch - currently we are using the tour without any asynchronous behaviour or routing, because we had some problemes with it.

[2017-08-09 16:05] benmarch commented on #114
Thanks, @westor21. I am going to close this issue for now. Feel free to reopen if you come across it again.

[2017-08-09 16:05] #114 closed

[2017-08-09 16:09] benmarch commented on #144
Hey @cyt-mn, I have observed this issue as well, but I don't have a good solution for it. One thing that works but is a bit hacky is to use `window.scrollTo()` to scroll the window by one pixel and back which will force repositioning. However, I will add a hook in the next release that will allow you to rerender the popover and backdrop.

[2017-08-11 14:17] #143 closed

[2017-08-11 14:33] RusinovAnton opened #145 "Tour breaks when tour has tour-step-enabled="false" and tour-step-on-next="redirectTo" on it"
Hello, thanks for you work on this project, very appreciated.

**I am using the _exact_ versions of the following:**

* Browser: Google Chrome Version 60.0.3112.90 (Official Build) (64-bit)
* AngularJS: 1.6.5
* Angular Bootstrap: 2.5.0
* Angular UI Tour: 0.8.2
* Angular UI Router: 0.4.2

**I have installed this library via:** Bower

**I have observed the following behavior:**
I have around 25 step

[2017-08-11 17:55] abhipanda opened #146 "How to implement navigateToAndWaitFor with a detached tour"
How to implement navigateToAndWaitFor with a detached tour, trying to navigate to another page using uiRouter

[code]
I don't use any HTML directives

[2017-08-11 18:37] benmarch commented on #145
Hey @RusinovAnton, I think the only way I can make a change to help is to expose the `getNextStep()` function which will tell you if the next enabled step is before or after the redirect. I don't want to start adding more data to the scope because that adds complexity, but exposing more on the tour object could be useful. It would still be a private function for now though, so using it would be at

[2017-08-11 18:44] benmarch commented on #146
Something like this should work:

[code]

[2017-08-11 19:36] abhipanda commented on #146
Awesome ! It works thanks.

[2017-08-11 19:36] #146 closed

[2017-08-11 23:36] abhipanda opened #147 "Difficult to debug with minified version - add "-d" to option"
Add option -d to enable sourcemaps

[code]

[2017-08-13 02:29] benmarch commented on #147
Will do.

[2017-08-13 02:39] benmarch commented on #41
Closing issue. Please reopen if it is still present in the latest version.

[2017-08-13 02:39] #41 closed

[2017-08-13 02:41] benmarch commented on #56
Closing issue. Please reopen if it is still present in the latest version.

[2017-08-13 02:41] #56 closed

[2017-08-13 02:41] benmarch commented on #102
Closing issue. Please reopen if it is still present in the latest version.

[2017-08-13 02:41] #102 closed

[2017-08-13 02:42] benmarch commented on #123
I think this is related to #144. Closing this since #144 has more information.

[2017-08-13 02:42] #123 closed

[2017-08-15 13:03] RusinovAnton commented on #144
@benmarch, seems like the `window.scrollTo()` hack doesn't work with bootstrap modals since they're disable body scrolling

[2017-08-15 18:42] benmarch commented on #144
@RusinovAnton, is your tour step inside a modal window? I'm working on adding a reposition hook, it should be available this week.

[2017-08-16 06:43] RusinovAnton commented on #144
@benmarch yes, it is. I've managed to fix its position with next hacky hack
[code]

Sounds great, looking forward to get it!

[2017-08-28 10:09] prafull-agarwal commented on #124
I am also facing the above problem. I can't remove height : 100% and overflow: auto from my body tag. Is there is any way it can even work.
I have even add id on body and pass scrollParentId: "body-id" in TourConfigProvider as per your doc it even don't work.

[2017-08-28 13:18] prafull-agarwal commented on #124
Also why you add a extra 1 px Y scroll in your dist/angular-ui-tour.js file.
u.scrollTo(u.scrollX,u.scrollY+1) ?

[2017-08-28 15:27] benmarch commented on #124
@prafull-agarwal can you include similar screenshots as above? The backdrop dimensions are calculated based on the size of the `<body>` tag. Using `height: 100%;` makes the body the height of the _window_, not the height of the _content_. You might have to play around with your styles to get the body to properly fit the contents. You might also be able to add an ID to the outermost containing elem

[2017-08-28 15:54] anupbelambe commented on #129
Not able to get the multi-page tours to be working with angular-ui-tour version 0.8.2.

As specified in the documentation, added api to navigate to new page and add waitfor().

Page 1:
<tour-step="stepEntry" tour-step-title="Step 1 Title" tour-step-content="Step 1 content" tour-step-order="4" tour-step-placement="bottom-right" tour-step-on-next="ctrl.navigateToAndWaitFor('tourName', 'page2', 'step

[2017-08-29 16:58] prafull-agarwal commented on #124
@benmarch Thanks for the quick response.
I resolved my problem after adding some code in my js.

angular.element("body").css("overflow", "unset");

On tour start and

angular.element("body").css("overflow", "auto");
on tour end.
Also I removed your 1px scroll from my file as it shifts my backdrop 1 px from bottom on every next tour step.

[2017-08-30 09:54] anupbelambe commented on #129
Found the root cause

It was due to  enabling navigation interceptors and step placement
module.config(function (TourConfigProvider) {
    TourConfigProvider.enableNavigationInterceptors();
});

[2017-08-30 15:21] joel1618 opened #148 "Cannot read property stepId of null upon navigating with ui router to a new state"
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari] Version: x.x
* AngularJS: 1.5.8
* Angular Bootstrap: 2.0.2
* Angular UI Tour: 0.8.2

**I have installed this library via:** (NPM, Bower, or downloaded package)
Bower
**I have observed the following behavior:**
Cannot read property stepId of null

**This is how I expected it to behave:**
On Navigating to a n

[2017-08-30 15:49] #148 closed

[2017-09-04 11:24] anupbelambe opened #149 "adding caller controller function in tour-step-content"
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari] Version: 59.3071.1634.2
* AngularJS: 1.5.5
* Angular Bootstrap: x.x.x
* Angular UI Tour: 0.8.2

**I have installed this library via:** (NPM, Bower, or downloaded package)
NPM

**I have observed the following behavior:**
While trying to set action button with action being controller function in tour-step-con

[2017-09-09 18:16] benmarch commented on #149
Hey @anupbelambe, do you want to call a method on _your_ controller (i.e., the one controlling your step target) or the _tour_ controller?

[2017-09-09 18:52] #144 closed

[2017-09-09 18:52] #147 closed

[2017-09-09 19:04] benmarch commented on #140
This should be fixed in 0.9.0

[2017-09-10 12:28] anupbelambe commented on #149
@benmarch, want to call a method on controller (the one controlling your step target)

[2017-09-11 14:42] cyt-mn commented on #144
Using the reposition hookup does work. As @RusinovAnton suggested, calling it via $timeout leads to a repositioning after rendering has been completed:

[code]

Thanks @benmarch

[2017-09-12 12:30] mahendra2125 commented on #140
Hi,
I am using requirejs to load the modules in my angularjs app. while loading this i am getting the below error would you please help with this.

![error](https://user-images.githubusercontent.com/31889636/30325886-22156ca6-97e4-11e7-90ce-75c3aeb7ec08.PNG)

[2017-09-12 12:31] rajassbj commented on #140
I am also getting similar error as mentioned above.....
e is not a constructor

[2017-09-13 18:57] benmarch commented on #149
Interesting, it looks like we lose reference to the enclosing scope once the popover is created so that won't work. I will look into adding that functionality in the next release.

You might be able to achieve this functionality by creating a custom template for this step though.

[2017-09-21 04:57] balazsnemeth opened #151 "Multi-page Tours configuring from JS not from HTML"
**I am using the _exact_ versions of the following:**

* Browser: Chome Version: 60.04
* AngularJS: 1.6.2
* Angular Bootstrap: 2.5
* Angular UI Tour: 0.8.0

**I have installed this library via:** bower

**I have observed the following behavior:**

I checked the documentation how it's possible to navigate between view-s and load the next tour steps dynamically configured from HTML.
I already achiev

[2017-09-25 08:54] mahendra2125 commented on #140
Do you have any update about the issue updated above.

[2017-09-25 14:21] benmarch commented on #140
Hi @mahendra2125, I'm sorry for the delay, I didn't see these comments...

I thought I was able to fix it as of 0.9.0, but I will take another look. For now there is a workaround by loading the Hone dependency prior to loading Angular UI Tour.

I'll reopen this issue, and look at it today.

[2017-09-25 16:37] balazsnemeth opened #152 "Help on fade in/out animation"
**I am using the _exact_ versions of the following:**

* Browser: Chome Version: 61.0
* AngularJS: 1.6.1
* Bootstrap: "3.3",
* Angular Bootstrap: 2.5
* Angular UI Tour: 0.9.0

**I have installed this library via:** Bower

**I have observed the following behavior:**
I cannot apply fading animation on the popovers. Checked the demo page, but it seems it has a different template for positioning popov

[2017-09-25 17:28] benmarch commented on #152
Hey @balazsnemeth, I'll have to get back to you. I'm not sure if there is a way to do that easily with CSS or if I'll have to add something.

[2017-09-25 18:07] balazsnemeth commented on #152
So right now all the animations are turned off in v0.9.0, right? Or should be a way to make the "default" fading working just I cannot find it?

[2017-09-25 18:09] benmarch commented on #152
I think the animations broke when I removed Angular UI Bootstrap. I don't plan on implementing animations again, but I can certainly add hooks if necessary.

[2017-09-25 19:08] benmarch commented on #151
Hey @balazsnemeth, it looks like this is because once the element is found it stores it for later. I can add a check to make sure the element is still in the DOM or query for it again.

[2017-09-25 20:02] balazsnemeth opened #153 "`createStep` called from JS thrown error if `appendToBody` is false"
**I am using the _exact_ versions of the following:**

* Browser: Chome Version: 61.0
* AngularJS: 1.6.1
* Bootstrap: "3.3",
* Angular Bootstrap: 2.5
* Angular UI Tour: 0.9.0

**I have installed this library via:** Bower

**I have observed the following behavior:**

When I register a step using `createStep` by specifying a `selector`, the following line thrown an error in `createPopup(step, tour)`

[2017-09-26 05:45] mahendra2125 commented on #140
I tried to load the hone library before angular ui tour but still getting the same error using requirejs.

[2017-09-27 11:51] mahendra2125 commented on #140
Hi,

Please modify this typo "hone" to "Hone" in  the line
define("uiTour", ["angular", "angular-sanitize", "angular-scroll", "ez-ng", "angular-hotkeys", "angular-bind-html-compile", "tether", "hone"], factory);

which will fix the above error.

[2017-09-27 23:33] benmarch commented on #153
Thank you @balazsnemeth, I will fix this for the next release.

[2017-09-27 23:36] benmarch commented on #140
Hey @mahendra2125, since that is generated code it is a little more complicated than that. However, I think I found a good solution and will release it soon.

[2017-09-29 03:50] #140 closed

[2017-09-29 03:50] #151 closed

[2017-10-02 15:32] imaGuru opened #158 "IE - Steps will not reappear after being hidden"
**I am using the _exact_ versions of the following:**

* Browser: IE/Edge
* AngularJS: 1.6.6
* Angular Bootstrap: 2.5.0
* Angular UI Tour: 0.9.0

**I have installed this library via:** bower

**I have observed the following behavior:**
In IE and Edge the tour steps will not reappear after they have been hidden.
IE doesn't change the display: none !important style back to display:block.
Changing th

[2017-10-03 21:37] benmarch commented on #158
Thanks, @imaGuru, I'll play around with those styles.

[2017-10-03 23:17] benmarch commented on #153
Released a potential fix for this in 0.9.1. Please let me know if it works.

[2017-10-03 23:17] #153 closed

[2017-10-12 15:32] Jordan4jc opened #159 "Can't get first tour step to do anything"
**I am using the _exact_ versions of the following:**

* Browser: Chome Version 61.0.3163.100 (Official Build) (64-bit)
* AngularJS: v1.6.1
* Angular Bootstrap: 2.5.0
* Angular UI Tour: 0.9.0

**I have installed this library via: Bower**

**I have observed the following behavior:**

Creating a detached tour and then trying to assign steps to them pulls up the first step when I can `start()` but no

[2017-10-12 15:43] benmarch commented on #159
Hey @Jordan4jc, can you check something for me... I just noticed that bower.json was not updated when I released version 0.9.1, but there is a GH release for it. Can you confirm that you are using 0.9.0 by checking if there is a dependency on `ez-ng`? There was an issue with `ez-ng` and Angular 1.6 so I removed it in 0.9.1. If you are using 0.9.0 please try upgrading to 0.9.1.

If that doesn't fix

[2017-10-12 15:50] Jordan4jc commented on #159
Here is what I see in the bower.json included in the package in my `bower_components`

[code]

[2017-10-12 15:54] benmarch commented on #159
Ok cool, so that looks like it is supposed to be 0.9.1, so that's good :)

I think this has something to do with the tab components, I've seen similar issues with ngIf and ngRepeat. You can try using the lifecycle hook that I described above, or creating detached steps using the `tour.createStep()` method (you might still need the lifecycle hook though).

[2017-10-12 15:58] Jordan4jc commented on #159
I have tried adding that to the first step but the callback is not being called at all

[code]
[code]

[2017-10-12 16:01] benmarch commented on #159
Ok, can you try moving the `tour-step` off the `uib-tab-heading` element and into its own `div`? Something like this:
[code]

[2017-10-12 16:03] Jordan4jc commented on #159
Yeah, this doesn't work either. I'm going to try to create adhoc steps and see what happens

[2017-10-12 16:04] benmarch commented on #159
Ok good luck. Let me know how it goes. Are there any errors, btw?

[2017-10-12 16:06] Jordan4jc commented on #159
No errors, also, adhoc steps aren't working either.

[2017-10-12 16:06] Jordan4jc commented on #159
[code]

[2017-10-12 16:12] benmarch commented on #159
Hmmm, is there any way I can take a look at the whole app to help debug?

There are some debugging functions like `tour._getSteps()` that might be helpful to determine if the tour is getting properly created. Try logging the result of that just before you start the tour, and inspecting the `element` property of each step (make sure they are in the DOM).

Can you try adding the steps when you creat

[2017-10-12 16:17] Jordan4jc commented on #159
Moved the steps configuration into the `.run` block

Also, console logged the `._getSteps` before I start the tour and here is what I see

![image](https://user-images.githubusercontent.com/1076459/31507043-4b59addc-af47-11e7-8df6-2454334b8cf4.png)

[code]

[2017-10-12 16:48] benmarch commented on #159
I will play around with some of this in my local env. In the meantime, can you try to remove the `uib-tab`s from the equation by creating another step outside of the tabs?

[2017-10-12 18:12] Jordan4jc commented on #159
I moved them onto a couple labels and it still doesn't work. It still seems the second step has no element. Not sure if that's supposed to happen when opening the first step?

[2017-10-12 18:15] benmarch commented on #159
It's supposed to query for the element just before the step is shown. I wonder if I introduced a bug recently. I'll keep looking into it. Thanks for your help and patience.

[2017-10-16 15:42] Jordan4jc commented on #159
Any updates so far?

[2017-10-16 16:15] benmarch commented on #159
Hey @Jordan4jc, I was able to reproduce the issue, it looks like i recently introduced it. Working on a fix now.

[2017-10-16 16:21] #159 closed

[2017-10-16 16:35] benmarch commented on #159
@Jordan4jc please try with version 0.9.2

[2017-10-18 08:08] tverburg commented on #140
Unfortunately I pulled AUT 0.9.2 yesterday and still have this issue.

[2017-10-18 17:57] Jordan4jc opened #160 "Disabled next step to manually go to the next step"
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari] Version: 61.0.3163.100 (Official Build) (64-bit)
* AngularJS: v1.6.1
* Angular Bootstrap: 2.5.0
* Angular UI Tour: 0.9.2

**I have installed this library via:** Bower

It would be nice to tell a certain step to not allow the user to click to the next step, and instead manually control when that step goes to

[2017-11-10 12:36] michelvosje opened #162 "Update Angular dependency version"
**I am using the _exact_ versions of the following:**

* Browser: Chrome Version: 61.0.3163.100
* AngularJS: 1.5
* Angular Bootstrap: ~1.1.0
* Angular UI Tour: 0.8.0

**I have installed this library via:** (Bower)

**I have observed the following behavior:**
Our project uses a very old version of angular v.1.4.8 and angular-ui-tour v0.0.2. I noticed that i can't download v0.0.2 with Bower anymore.

[2017-11-13 15:17] benmarch commented on #162
Hi @michelvosje, I'm not quite sure what state your dependencies are in based on your comments. Are you currently using AngularJS 1.4.8 or 1.5.x? I can see that Angular UI Tour v0.0.2 is still available on Bower, so I'm not sure what is forcing you to upgrade it.

Based on the stack trace it sounds like you have not added the "angular-scroll" script tag to your app. Please see the [Getting Started

[2017-11-16 13:30] michelvosje commented on #162
Well i got it fixed. Not sure if there is an issue with Bower or my local Bower installation (i reinstalled npm + nodejs last week). But when downloading Bower packages the download hangs endlessly in my console. I press enter a few times and voila it finished downloading the packages.....
So i wrongly concluded that your 0.0.2 package wasn't available. I've also checked libraries.io and all packa

[2017-11-16 13:30] #162 closed

[2017-11-17 06:33] Cidaas commented on #133
vm.gotoTour = function (tour, page, state) {
                 $state.go(state);
                 $.fancybox.close();
            return tour.waitFor(page);
        }

i am getting No step error

[2017-11-23 08:44] thomasledoux1 opened #163 "Element not properly highlighted"
* Browser: Chrome Version: 62.0.3202.94
* AngularJS: ~1.4
* Angular Bootstrap: ~3
* Angular UI Tour: ^0.9.2

**I have installed this library via:** (NPM, Bower, or downloaded package): Bower

**I have observed the following behavior:**
When I want to highlight an element and have the rest of the page have a backdrop, the highlighted area is around 15 pixels under the element which should be highli

[2017-11-27 15:52] EdgarM- opened #164 "The backdrop is not working"
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox] Version: 62.0.3202.94(64-bit)|58.0b6 (64-bit)
* AngularJS: 1.5.7
* Angular Bootstrap: 2.1.2
* Angular UI Tour: 0.9.2

**I have installed this library via:** NPM

**I have observed the following behavior:**
When the popup appears there's no backdrop, also the style is not added

**This is how I expected it to behave:*

[2017-11-28 03:25] benmarch commented on #163
Hey @thomasledoux1, if you inspect the step target (your element) in dev tools, does it highlight the original button or the region that the backdrop is highlighting? Can you take a screenshot of the highlighted element?

[2017-11-28 03:29] benmarch commented on #164
Hey @EdgarM-,  It looks like this is because your selector is `body`, so the tour is trying to highlight the entire body. Please use a more narrow selector and it should work as expected.

[2017-11-28 10:26] thomasledoux1 commented on #163
Hey @benmarch, the whole body gets highlighted when I inspect the white area in Chrome. I can't inspect the button itself (which has the tour step added to it in HTML) because the backdrop covers it..
![screen shot 2017-11-28 at 11 24 39 2](https://user-images.githubusercontent.com/10978632/33314701-bf766af0-d42e-11e7-942a-44706c4ec6f3.png)
On my <html> element I don't have any padding/margin set.

[2017-11-28 21:10] benmarch commented on #163
Hey @thomasledoux1, one thing I can see is that the body doesn't reach the end of the content. That is usually a sign of absolutely positioned or floating elements without a clearfix, and could result in the misalignment. I can't see the computed styles for body in this shot but it doesn't look like there is padding or margin which is good. Can you try to drill down to the target element in the in

[2017-11-29 08:36] thomasledoux1 commented on #163
Hey @benmarch, I tried to fix the body to cover the whole content, but was not able to do so so far. I can see that from the angular-material.css it's inheriting 'height: 100%' property. When I overwrite this in my core.css with 'height: auto' I get the same result. I tried adding clearfix to the floating elements and body too, but without effect. I have added the computed styles and the generated

[2017-11-29 15:12] EdgarM- commented on #164
Hey @benmarch i tried with a smaller one like a navbar and still is not working, it's like it's not adding the style

[code]

[code]
Thanks for the time

[2017-11-29 15:27] benmarch commented on #163
Can you take a screenshot of the page with the target button highlighted and backdrop showing? I'm looking to see where the highlight is relative to the backdrop.

[2017-11-29 15:28] benmarch commented on #164
Ah I see, you have to add the styles yourself: https://github.com/benmarch/angular-ui-tour#getting-started

Let me know if it still doesn't work after that.

[2017-11-29 15:37] EdgarM- commented on #164
Well i didn't add it well in the css, thanks! for your time, another question is there a way to make the title dynamic? example: to translate it and have it in different languages
Thanks again.

[2017-11-29 15:43] benmarch commented on #164
Awesome! If you use the `tour-step` directive to create the tour step then anything you put in the title field will update on every digest. In which case you can pass it an interpolated value and it will reevaluate as needed. For example, you could pass `tour-step-title="{{ 'welcome.step' | i18n }}"` and it will evaluate that at runtime. However, if you create the steps imperatively in your code,

[2017-11-30 08:48] thomasledoux1 commented on #163
@benmarch here you go!
![screen shot 2017-11-30 at 09 48 05](https://user-images.githubusercontent.com/10978632/33421806-9c636c8a-d5b3-11e7-8fe2-a358eea9acce.png)

[2017-11-30 17:44] benmarch commented on #163
Thanks, @thomasledoux1, this confirms that it is definitely an issue with my positioning logic. Is there any way I can debug this using your source code?

Out of curiosity, does the issue resolve itself if you slightly resize the window (even just by a pixel)? And how did you get the number buttons ("1" on the left, "10" on the right) to highlight in addition to the button?

[2017-12-01 12:00] thomasledoux1 commented on #163
Hey @benmarch, resizing the window doesn't change this situation. I tried all different sizes but no effect. I think the buttons are highlighted because they had the same grey as the backdrop, so they change to white to be visible? Is that possible?

This is all ran local, I can't put it on our staging environment at the moment, so I can't give you access..

[2017-12-04 17:41] benmarch commented on #163
Sorry for the delay... if you inspect the backdrop, is it a child of the body? I find it strange that you have elements in front of it, although I suppose that could be a z-index property. It also looks like the alignment is off by approximately the height of your header, so I wonder if that is pushing it down or affecting the calculation somehow.

[2017-12-05 15:44] thomasledoux1 commented on #163
Hey @benmarch no problem! The backdrop is a part of the body, as you can see in the attached screenshot. I also found it strange that some elements pop up in front of the backdrop, but I have no idea what is causing that.. The elements have the 'active' class on them, might that cause a problem? (see screenshot 2). It could be caused by the header, but how can I influence the calculation then?
![s

[2017-12-06 15:51] benmarch commented on #163
Thanks for the screenshots @thomasledoux1. I'm not sure if I will be able to debug this without looking at your code, but I can explain what I would do if I could:

- The first thing I would check is to see if your `<html>` or `<body>` elements have any padding or margin, or if the `box-sizing` is anything but `border-box`.
- It's very strange that you have some elements that are poking through th

[2017-12-12 15:26] truonggiangdao opened #165 "Popup not properly sized & positioned"
**I am using the _exact_ versions of the following:**

* Browser: Chome Version: 63.0.3239.84 (Official Build) (64-bit)
* AngularJS: 1.5.8
* Angular Bootstrap: 2.3.0
* Angular UI Tour: 0.9.2

**I have installed this library via:** NPM

**I have observed the following behavior:**
I try to show the tour popup after some dynamic content is rendered but the popup is blank and very long.
![image](https

[2017-12-12 15:40] benmarch commented on #165
Hey @truonggiangdao, thank you for all of the information. I have a few questions and suggestions for you, please let me know if any of them help:
- If you are able to start the tour _after_ the dynamic content loads/renders, that might fix the problem.
- If you are loading the content mid-tour, you can use an `onShow()` handler on this step that returns a promise that resolves when the content lo

[2017-12-12 18:09] truonggiangdao commented on #165
Hi @benmarch thank you for the suggestions. I just did some test and these are the info, I hope they are useful:

So I tried waiting after the dynamic content rendered and call tour.start() and I also set a timeout 5s and make the tour reposition but still the same

[code]

I even did a $interval and reposition the tour every 5s but still no luck, I found a few times the popover hidden away and re

[2017-12-13 17:33] benmarch commented on #165
Hey @truonggiangdao, I'm really not sure what would cause the size distortion. I can see from you screenshots that the popover element is registering as being very large, but since the height is not specific in the CSS, it must be coming from a child element. See if you can find the most nested child element that is larger than it is supposed to be.

In the next version, there will be an option to

[2017-12-14 11:12] thomasledoux1 commented on #163
@benmarch The code with the UI Tour implemented is now on our staging environment, I can give you access with an account. Is there any way I can send you the details for it in private?

[2017-12-14 14:59] wiemKh opened #166 "No Step"
hi i'm new in angularjs i want to integrate angular ui tour in my application , it worked fine but  when i open my application the tour always shows so i want  only when  the user click on link the tour start
this is my link
[code]
and in other view i have
[code]
but when i click the link i got error No step.

[2017-12-16 21:04] benmarch commented on #163
Hey @thomasledoux1, ping me at b89spam@gmail.com and I'll reply from my personal email.

[2017-12-16 21:13] benmarch commented on #166
Hey @wiemKh, this could be caused by a number of issues, but it isn't an issue with this module. Try these, if they don't work, please look through the README and closed issues:
- Every `ui-tour` directive you use creates a new tour. So your link is creating a new tour with 0 steps (there are no steps defined within your link). This is the main issue, but you will still run into issues:
- Don't se

[2017-12-16 21:13] #166 closed

[2017-12-16 21:16] benmarch commented on #164
Closing since the original issue was fixed.

[2017-12-16 21:16] #164 closed

[2017-12-18 08:28] thomasledoux1 commented on #163
Hey @benmarch, I sent you an e-mail!

[2017-12-18 15:47] wiemKh commented on #166
thank you a lot  ben  , it worked now :) but i still have a problem that ( i dont know how to explain it lol )
for exemple in view 1 i have step 1 with content hello
in view 2 i have step2 with content hello2
when the user is in view 2 and then click button back of navigateur to be back to view 1 .
in view 1 we have hello and hello 2 (both)
i want hello 2 be only  on view 2
how i can do that?
i ho

[2017-12-19 08:58] wiemKh opened #167 "Translation Tour"
Hi ben , thank you for the wonderful library :)
but i have a probleme that i want to translate steps to different languages
every thing is great exept button (next,prev,pause,end tour)
how can i access this button to modify the code and add for exemple {{prev | translate }}

[2017-12-19 16:47] benmarch commented on #167
Hey @wiemKh, you can copy the template from here: https://github.com/benmarch/angular-ui-tour/blob/master/app/templates/tour-step-template.html

Then modify it and save it somewhere that your app can get it (either by adding it to $templateCache or making it available for request) and use the `templateUrl` option to point to it.

[2017-12-19 16:47] #167 closed

[2017-12-20 08:08] wiemKh commented on #167
thank you :)

[2017-12-20 09:08] wiemKh opened #168 "Not Organised Tour"
hi ben, please i have a probleme very urgent to be resolved :(
i'am using Multi-page Tours
the problem is when the user do not click on next button of the tour and click on another button on the project par exemple home , when he redirected to the home page the tour step of the  other page  still displayed .
index.html :  <body ui-tour  ui-tour-use-hotkeys="true"  ui-tour-template-url="'views/tour

[2017-12-20 09:14] wiemKh commented on #168
view1:
<div ng-controller="TourCtrl" >
<div id="projects.projectsList"  tour-step="projects.projectsList" tour-step-title="" tour-step-content="" tour-step-order="1" tour-step-placement="left" tour-step-on-next="); navigateToPlansList(tour,'plans.plansList','plans.plansList')"></div> </div>

view2:
 <div  ui-tour-template-url="'views/tour-step-template.html'  ng-controller="TourCtrl" ng-if="$first

[2017-12-20 20:18] benmarch commented on #168
Please read the Getting Started section of the README: https://github.com/benmarch/angular-ui-tour#getting-started

[code]

[2017-12-20 20:18] #168 closed

[2017-12-21 10:20] syndra123 opened #169 "Button Next Doesnt Work"
hi thank you for this library.
i have a question , i'am using multiple view tour
for the need of my project when i called the function navigateToAndWaitFor with tour-step-on-next
i want to call another function for exemple

[code]

it worked well before i add    TourConfigProvider.enableNavigationInterceptors();   on the config

but i must add    TourConfigProvider.enableNavigationInterceptors();

[2017-12-21 11:09] Aventrue opened #170 "How to use UI-TOUR with angular 4 and Typescript"
How can I use UI-Tour with angular 4 and Typescript.
Normaly I Import third Party Code inside my app.model.ts file like that:

[code]
I do not understand how I can do that with the UI-TOUR plugin.
I'm quite new to angular and typescript, so it would be great to get some help from you!

[2017-12-21 20:29] benmarch commented on #163
Hey @thomasledoux1, sorry for the delay, but I think I can solve your issue. There are a couple minimal changes that you can make, plus I have a few recommendations for you that will help avoid these kinds of issues in the future. There are screenshots for these below:
- Add the `clearfix` class to your header component (will fix the positioning)
- Override the angular-material styles for `html, b

[2017-12-22 11:40] syndra123 opened #171 "probleme with TourConfigProvider.enableNavigationInterceptors();"
i noticed that TourConfigProvider.enableNavigationInterceptors();   doesnt work when i use $state.go()  in controller instead of $location.path() is there any solution for this?

[2017-12-26 01:41] benmarch commented on #169
Hey @syndra123, `navigateToAndWaitFor()` is an example that I created for the README, but you can call any function for the onNext hook. Just put `goToCustomer()` in your handler function.

[2017-12-26 01:41] #169 closed

[2017-12-26 01:42] benmarch commented on #170
Angular UI Tour is for AngularJS, it is not intended to be used with the latest version of Angular. If you somehow get it working please let me know and I will add documentation to the README :)

[2017-12-26 01:42] #170 closed

[2017-12-26 01:46] benmarch commented on #171
This might help: https://github.com/benmarch/angular-ui-tour/issues/143

[2017-12-29 06:12] dshk commented on #163
Hi @benmarch !
I have the same situation but the issue resolves if I resize the window (even just by a pixel)?
What should I do to fix it?

[2018-01-30 15:34] dclarke83 opened #172 "Keyboard hotkeys are not debounced, resulting in multiple steps shown at once"
**I am using the _exact_ versions of the following:**

* Browser: Chome Version: 63.0.3239.132
* AngularJS: 1.5.0
* Angular Bootstrap: 1.3.3
* Angular UI Tour: 0.9.2

**I have installed this library via:**  Bower

**I have observed the following behavior:**
Holding down the left/right arrow keys causes multiple steps to display simultaneously:
![image](https://user-images.githubusercontent.com/184

[2018-01-31 04:33] plasensa opened #173 "How to get tour name"
Hello,

I have been able to get everything working using tour names and calling tour names as needed. But my problem comes when I am using tour.start() in a button that displays in all the screens to start the tour of the page where I am. The tour starts without any problem, however I am unable to get the tour name.

I have tried a lot of times using getTour() in different ways, but all the data r

[2018-01-31 12:42] Alekhya-Gopu opened #174 "Issue: No component factory found for PopoverContainerComponent"
While I am trying to initialize the tour steps I am getting an error>  No component factory found for PopoverContainerComponent. Did you add it to @NgModule.entryComponents?

If I add PopoverContainerComponent to @NgModule.entryComponents and while committing the code - then I am getting an error - it is already been imported into popoverModule.

Please, can one help me to solve this error?

[2018-02-02 10:50] typhoon2099 opened #175 "Importing with ES6/Webpack producing error: "WARNING: Tried to load angular more than once.""
**I am using the _exact_ versions of the following:**

* Browser: Firefox Version: 59.0b5 (64-bit)
* AngularJS: 1.6.8
* Angular Bootstrap: 2.5.6
* Angular UI Tour: 0.9.2

**I have installed this library via:** NPM

**I have observed the following behavior:**

I have set up my AngularJS application to use Webpack and ES6 to import modules. angular-ui-tour is imported using the following line:

[cod

[2018-02-02 17:10] typhoon2099 commented on #175
Could this be solved by requiring Angular as a peer dependency? It would also be nice to be able to import the module in via Webpack from source rather than the compiled bundle, but I ran into issues with hardcoded template URLs (the ability to add templates via strings would be incredibly useful in this regard).

[2018-02-02 21:10] valentina91p commented on #173
It seems like there isn't a way to know which tour was triggered, since getTour will always return the first  one (regardless of whether it is active or not), and you already have to know the name for getTourByName to work. From where are you trying to get the tour's name?

[2018-02-04 20:25] benmarch commented on #172
Thanks, @dclarke83. I will look into this.

[2018-02-04 20:27] benmarch commented on #173
@plasensa, if you have a reference to the tour object, just look up `tour.options.name`.

[2018-02-04 20:27] #173 closed

[2018-02-04 20:29] benmarch commented on #174
@Alekhya-Gopu, please fill out the issue template.

[2018-02-04 20:37] benmarch commented on #175
@typhoon2099, I will make Angular a peer dependency in the 1.0.0 release, but I'm not sure how to go about importing the templates without making assumptions about the build config. If you want to pull it in from source, you can start with copying parts of the Webpack config from here to mimic the HTML import behavior.

Do you know of a way to import HTML without specific Webpack config?

[2018-02-05 09:58] typhoon2099 commented on #175
I'm afraid I don't. I've been using [html-loader](https://webpack.js.org/loaders/html-loader) in my projects which loads the file in as a string. Using that you can update the imports to something like:

[code]

and then you can use them through variables. I think that doing this might make it easier to import your module from the source rather that the bundled file as html-loader seems to be a mo

[2018-02-05 15:28] benmarch commented on #175
So the `stepPopupHTML` and `stepTemplateHTML` would be passed in as the directive's `template` option? If this is the case, how can people override the templates?

[2018-02-05 15:34] typhoon2099 commented on #175
You should be able to check for the option in the configuration and choose to use it instead of those variables, much like it's doing already, though you may need to replace ng-include in tour-step-popup.html with bind-html-compile.

[2018-02-05 16:04] oscarmeneses commented on #165
@benmarch I was going to create a new bug report but I believe my issue is similar or related to this one. I added a local hack, while I find more time to review.

RE: You can try to call tour.reposition() in an onShown() handler which executes after the step is shown.

It seems that reposition on the onShown handler doesn't work because the template has not been processed yet. If dimensions for t

[2018-02-05 16:41] typhoon2099 commented on #175
I've created a pull request (#176), have a look and see what you think. It may need to be modified or more tests added to confirm that everything works as expected but it's passing all current tests at the moment.

[2018-02-05 22:54] ShruVish opened #177 "Unable to block navigation using Tab (keyboard)"
**I am using the _exact_ versions of the following:**

* Browser: Chrome
* AngularJS: 1.5.5
* Angular UI Tour: 0.9.2

I have installed this library via: NPM

I have enable the backdrop i.,e backdrop: true and
.ui-tour-backdrop {
background-color: rgba(0, 0, 0, 0.5);
fill: rgba(0, 0, 0, 0.5);
} in the CSS.

I do see the backdrop applied to my application. However, I am able to navigate through the

[2018-02-05 23:09] benmarch commented on #177
Do you mean you can still focus on elements behind the backdrop using the tab key like a user with accessibility issues might do? Or do you mean that you can navigate to the next tour step by pressing the tab key?

[2018-02-05 23:25] ShruVish commented on #177
I am able still focus on elements behind the backdrop using the tab key. Sorry, for not being specific about that.

[2018-02-06 13:01] jigneshchudasama opened #178 "Show the current step, don't go to next step unless custom condition met"
**I am using the _exact_ versions of the following:**

* Browser: [Chome] Version: x.x
* AngularJS: 1.5.9
* Angular Bootstrap: 3.3.7
* Angular UI Tour: 0.9.2

**I have installed this library via: Bower

**I have observed the following behavior:**
I am using goTo() function, but it's showing the step which I have provided in the goTo() and also the next step from the step which I have passed to goT

[2018-02-06 16:46] benmarch commented on #177
Ok, as far as I know, there isn't anything I can do about that. I did add accessibility controls so that the tour step is focused when it first opens, and when the tour stops, the last-focused element is refocused. I would recommend implementing that yourself if it is possible.

[2018-02-06 16:46] #177 closed

[2018-02-06 16:51] benmarch commented on #178
Try moving the `ui-tour` directive outside of the `ng-if`. The way that `ng-if` works will probably result in multiple tours being created (or a single one being recreated) which will affect the way the steps behave.
[code]

[2018-02-07 06:11] jigneshchudasama commented on #178
I tried doing the way you have suggested, but it's showing me `no steps` error.

and I tried using the below way, but I am facing the same issue which I mentioned earlier

[code]

[2018-02-07 10:03] jigneshchudasama commented on #178
I solved this issue by setting up the step configuration from the controller.

[2018-02-07 10:03] #178 closed

[2018-04-04 01:42] nlogicsoftware opened #179 "Element does not get highlighted in multi page tour if the location of the element on new page is same as previous step."
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari] Version: x.x
* AngularJS: 1.5.8
* Angular Bootstrap: 1.1.2
* Angular UI Tour: 0.9.2

**I have installed this library via: Bower

**I have observed the following behavior:
 I have a multi page tour. Tour step 2 and 3 which are on different pages, the step element for each of the steps has same pixel location

[2018-04-04 16:09] benmarch commented on #179
I think this is due to an optimization in [Hone](https://github.com/benmarch/hone). I'll see if I can modify it so that it will recognize that it is a new target and should not attempt to optimize.

[2018-04-16 05:14] nigelsim opened #180 "Option to make the highlighted area unclickable"
**I am using the _exact_ versions of the following:**

* Browser: Firefox 59
* AngularJS: 1.6.9
* Angular Bootstrap: 3.3.7
* Angular UI Tour: 0.9.2

**I have installed this library via:** yarn

**I have observed the following behavior:**

When a popup is shown it highlights the control being "toured", and I can click on that control.

**This is how I expected it to behave:**

I should not be able

[2018-04-30 10:09] shalininagar opened #184 "Popup not positioned properly"
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari] Version: 65.0.3325.181
* AngularJS: 1.4.5
* Angular Bootstrap: 2.0.0
* Angular UI Tour: 0.9.2

**I have installed this library via:** Bower

**I have observed the following behavior:**

On your demo page, scroll down a bit and then click on 'Start Demo Tour'. When it comes to 'Project Name' popup, the popup

[2018-06-07 22:51] cesarluis13915 commented on #180
Mi approach: The highlighted element has the class `ui-tour-active-step`, so you can disable it with CSS.

[code]

[2018-06-11 09:21] KorobkaVadim opened #186 "Add bounce for useHotkeys"
If I press right/left key, app was crashed. Please add bounce(100ms) for next step after press key.

[2018-06-25 06:09] vkkmehra opened #187 "how to use translate with directive (JSON keys are not getting translated)"
**I am using the _exact_ versions of the following:**

* Browser: [Chome] Version: 67.0.3396.87
* AngularJS: 1.5
* Angular Bootstrap: 3
* Angular UI Tour: latest

**I have installed this library via:** (Bower)

**I have observed the following behavior:**

<div class='row' id='agentStep1' id="mainMenu" tour-step tour-step-title="{{agentTour.step1Title | translate}}" tour-step-content="Navigate the

[2018-07-10 01:49] benmarch commented on #186
Duplicates #172. Planned for v1.0.0, thanks!

[2018-07-10 01:49] #186 closed

[2018-07-19 09:06] Asargiotakis opened #188 "AngularJs or Angular????"
Is this module for AngularJS or Angular (2+...)?
Because you have tags of angular, not AngularJS....

[2018-07-23 18:08] benmarch commented on #188
This is for AngularJS. I added the tags before the distinction was made.

[2018-07-23 18:08] #188 closed

[2018-08-29 10:15] muliyul opened #189 "Incompatibility with browserify"
**I am using the _exact_ versions of the following:**

* Browser: [Chome] Version: 68
* AngularJS: 1.6.4
* Angular UI Tour: 0.9.2

**I have installed this library via:** (NPM, Bower, or downloaded package)
npm

**I have observed the following behavior:**

I substituted some of the path so ignore asterisks.

**This is how I expected it to behave:**
Bundle correctly with browserify

**Here is my tou

[2018-11-01 14:50] benmarch commented on #189
Hey @muliyul, sorry for the long delay. Thank you for pointing this out, I released patch 0.9.4 to fix this.

[2018-11-01 14:50] #189 closed

[2018-11-01 15:17] benmarch commented on #187
Hey @vkkmehra, sorry for the very long delay. There are a two scenarios to try here:

The first is using the `tour-step` directive with the `tour-step-title` attribute. I can confirm that using an interpolated value does work using AUIT version 0.9.2. Here is the code I am using for my testing step:
[code]
[code]
And the step title does appear as "Hello!".

**Important note: The interpolated value

[2018-11-01 15:19] benmarch commented on #184
Hey @shalininagar, sorry for the delay. The demo is using an older version of AUIT, I will update it (this is working as expected locally with the latest version).

[2018-11-01 15:20] benmarch commented on #180
Hey @nigelsim, sorry for the long delay. The ability to click the step target was actually a requested feature, but @cesarluis13915's suggestion is the best way to handle your use case.

[2018-11-01 15:20] #180 closed

[2018-11-01 15:22] benmarch commented on #179
Hey @nlogicsoftware, this should be fixed in 0.9.4. Just add the `tour-step-disable-backdrop-optimizations="true"` to the step that is giving you trouble (or `ui-tour-disable-backdrop-optimizations="true"` to the whole tour).

[2018-11-01 15:30] benmarch commented on #163
Hey @dshk and @thomasledoux1, I have released version 0.9.4 that enables a new option for your tour/tour step: `disableBackdropOptimizations` (see README) that should help with your issue. You might also have to call `tour.reposition()` after the step loads depending on your exact issues. I will work on fixing that as well for the next release.

[2018-11-01 15:30] #163 closed

[2018-11-22 11:15] jonasschumacher commented on #64
Hey guys, have you found a workaround or it's impossible to work with bootstrap 4 at the momment?

[2019-02-21 10:26] vinaykevadia opened #191 "popover placement not working correctly"
**I am using the _exact_ versions of the following:**

* Browser: [Chome|Firefox|IE|Safari] Version:  72.0.3626.109 Windows
* AngularJS: 1.5.11
* Angular Bootstrap: i don't see Angular Bootstrap installed as dependancy
* Angular UI Tour: 0.9.4

**I have installed this library via:** (NPM, Bower, or downloaded package)
via Bower
**I have observed the following behavior:**
Popover positions are wron

[2019-02-21 10:30] vinaykevadia commented on #184
@shalininagar m how did you fixed this?

[2019-02-21 16:41] vinaykevadia commented on #165
i fixed as follow

![image](https://user-images.githubusercontent.com/7442679/53185706-8ab02400-3625-11e9-9bc5-c6bb8a831172.png)

![image](https://user-images.githubusercontent.com/7442679/53185758-a74c5c00-3625-11e9-9b66-9d3ac4690e90.png)

[2019-03-15 09:37] Georges67 commented on #184
Hello,
I’m experiencing the same issue. In my case the last guided Tour step is displayed out of the screen, so the user cannot click on finish button.
Are you expecting to deliver a correction around this critical issue ?

[2019-08-28 08:53] Lysoun opened #193 "Can't manage to create my first tour"
Hello

I've been trying for quite some time to use your library and I can't manage to create my first tour. I have used some examples given in the documentation but I can't make them work.

**I am using the _exact_ versions of the following:**

* Browser: [Opera] Version: 62.0.3331.119
* AngularJS: 1.6.4
* Angular Bootstrap: I don't have it; it is not a dependency, is it?

* Angular UI Tour: 0.9.2

[2019-08-28 18:13] benmarch commented on #193
Hey @Lysoun,

There may be a couple things going on here. When you install with bower, you are responsible for all other dependencies (script and link tags), so be sure all of those have been included. This includes the Bootstrap 3 CSS stylesheet. Are there any errors in the console? I wonder if there is any additional information.

Thanks,

Ben

[2019-08-29 08:16] Lysoun commented on #193
Hello @benmarch,

Unfortunately I have no errors in the console :(
Since you mentionned the Bootstrap 3 CSS stylesheet I have tried:

- installing angular-bootstrap using ``bower install angular-bootstrap`` and importing its module in my application
- installing bootstrap using ``bower install bootstrap`` and importing bootstrap.min.css in my main.scss

I did not see any difference. There seems to

[2019-09-03 16:36] benmarch commented on #193
Hi @Lysoun,

I am very sorry for the delay. All the angular-ui-tour styles are included in the JavaScript, no need to import anything else, but you will need the Bootstrap 3 styles or custom popover styles.

How are you starting the tour? Can you show me some controller code?

[2020-02-12 14:39] sylvainbx commented on #191
I have the exact same behavior here with angular-ui-tour 0.9.4 and angularJS 1.7, installed through yarn. Have you found any workaround since then?

[2020-02-12 16:15] sylvainbx commented on #191
After some investigations, #185 fixes the issue for me. As this PR was not merged for 2 years (and will probably never be), I managed to use [this repository](https://github.com/Ross-Byrne/angular-ui-tour) in my package.json

    "dependencies": {
      "angular-ui-tour": "https://github.com/Ross-Byrne/angular-ui-tour.git#master",
    }

and the issue went away :)

[2020-07-11 12:40] #175 closed

[2020-10-01 13:46] cdric commented on #64
Any update on this? I'm actually having issues making Angular UI working with Bootstrap 4. The tour work but I can't seem to be able to inject a custom template to fit the Bootstrap 4 format.